/**
 * CSS RESPONSIVE PAGE PRODUIT
 */
@media (max-width: 1840px) {
    .prd-bot-slider {
        .slick-prev {
            left: -20px;
        }
        .slick-next {
            right: -20px;
        }
    }
}
@media (max-width: 1754px) {
    .feature-prod-blk {
        .blk-dot-bg.right-top {
            .bg-dot {
                right: -15px;
            }
        }
    }
}
@media (max-width: 1500px) {
    .feature-list {
        .fea-txt, .fea-v {
            font-size: 15px;
        }
        .clr-link {
            font-size: 15px;
            line-height: 25px;   
        }
    }
    .feature-prd-content {
        padding-left: 0;
        .short-desc {
            padding-top: 30px;
        }
        .desc-blk {
            margin-bottom: 50px;
        }
    }
    .feature-list {
        .fea-rw {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
    .prd-bot-slider {
        .slick-prev {
            left: -10px;
        }
        .slick-next {
            right: -10px;
        }
        .slick-arrow { 
            top: 120px;
        }
        .custom-arrow {
            .slick-arrow {
                width: 40px;
                height: 40px;
                &::before {
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }
    .tbl {
        font-size: 16px;
    }
    .s-pride-blk {
        .s-price-txt, .bld-txt {
            font-size: 14px;
        }
    }
}
@media (max-width: 1200px) {
    .feature-prd-content {
        .feature-list {
            .inner {
                width: auto;
            }
        }
    }
    .prd-tab {
        > .inner {
            max-width: none;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .prd-colors-blk {
        .left-side {
            flex: 0 0 20%;
            max-width: 20%;
        }
        .right-side {
            flex: 0 0 80%;
            max-width: 80%;
        }
    }
    .colors-exists-list {
        padding-left: 20%;
    }
    .table-colors-wrap {
        .left-side {
            .clr-item {
                span {
                    flex: initial;
                    width: 112px;
                }
            }
        }
    }
    .colors-slider-wrap {
        &.has-slider {
            .color-list {
                width: 80%;
            }
        }
    }
    .block-title-page {
        &.prd-dtl-tll {
            .block-title-large {
                font-size: 204px;
                top: -70px;
            }
        }
    }
}
@media (max-width: 1044px) {
    .table-colors-wrap {
        &::after {
            height: 45px;
        }
    }
}
@media (max-width: 1024px) {
    .table-colors {
        .th-price {
            width: 100px;
        }
    }
    .block-title-page {
        &.prd-dtl-tll {
            .block-title-large {
                font-size: 144px;
                top: -90px;
            }
        }
    }
}