/**
 * Media 767px : PRODUIT
 */
@media (max-width: 767px) {
    .block-title-page {
        &.prd-dtl-tll {
            .block-title-large {
                font-size: 54px;
                line-height: 54px;
                top: 0;
            }
        }
    }
    .tabs-blk {
        .table-responsive {
            .nav-tabs {
                width: 770px;
            }
        }
    }
    .clr-item {
        width: 86px;
    }
    .feature-prd-content {
        .short-desc {
            padding-top: 0;
        }
        .tag-blk {
            .prod-tag {
                font-size: 9px;
                padding-left: 5px;
                padding-right: 5px;
                margin-right: 15px;
            }
        }
    }
    .prd-bot-slider {
        .custom-arrow {
            .slick-arrow {
                display: none !important;
            }
        }
        .table-responsive {
            .nav-tabs {
                width: 707px;
                margin-bottom: 0;
            }
        }
        .head-tab {
            margin-bottom: 30px;
            &::before {
                background: -moz-linear-gradient(left, rgba(249, 250, 251, 0) 0%, #F9FAFB 100%);
                background: -webkit-linear-gradient(left, rgba(249, 250, 251, 0) 0%, #F9FAFB 100%);
                background: linear-gradient(to right, rgba(249, 250, 251, 0) 0%, #F9FAFB 100%);
            }
        }
    }
    .imb_tab {
        .nav-tabs {
            justify-content: flex-start;
            .nav-item {
                margin-left: 15px;
                margin-right: 15px;
            }
            .nav-link {
                font-size: 16px;
                letter-spacing: 0;
            }
        }
    }
    .color-submit {
        .col-select, .col-button {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .col-select, .col-label {
            margin-bottom: 20px;
        }        
        .col-button {
            text-align: center;
            .btn {
                width: auto;
            }
        }
    }
    .colors-exists-list {
        margin-top: 15px;
    }
    .fea-rw {
        .col-md-4 {
            flex: 0 0 33.3333333333%;
            max-width: 33.3333333333%;
        }
        .col-md-8 {
            flex: 0 0 66.6666666667%;
            max-width: 66.6666666667%;
        }
    }
    .breadcrumb-produit {
        display: none;
    }
    .breadcrumb-mb {
        display: block;
        a {
            font-size: 14px;
            display: flex;
            align-items: center;
            color: #000;
            .ico {
                margin-right: 10px;
            }
        }
    }
    .breadcrumb-wrap {
        .inner {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .table-colors-wrap {
        display: block;
        flex-wrap: initial;
    }
    .prd-colors-blk {
        > .tbl-colors {
            display: block;
            flex-wrap: initial;
        }
    }
    .colors-slider-wrap.has-slider {
        .color-list {
            width: 75%;
        }
    }
}
@media (max-width: 680px) {
    .table-color-pc {
        display: none !important;
    }
    .table-color-mb {
        display: block !important;
    }
}
@media (max-width: 640px) {
    .colors-slider-wrap.has-slider {
        .color-list {
            width: 70%;
        }
    }
    .prd-colors-search {
        justify-content: flex-start;
        .block-search-wrap {
            width: 100%;
        }
    }
    .table-colors-wrap {
        .left-side {
            margin-bottom: 0;
        }
    }
}
@media (max-width: 560px) {
    .colors-slider-wrap.has-slider {
        .color-list {
            width: 65%;
        }
    }
    .colors-exists-list {
        .clr-item {
            align-items: baseline;
            span {
                width: 80%;
                text-align: left;
                position: relative;
                &::after {
                    position: absolute;
                    right: 0;
                    top: 10px;
                }
            }
        }
    }
}
@media (max-width: 480px) {
    .block-title-page {
        &.prd-dtl-tll {
            .block-title-large {
                font-size: 24px;
                line-height: 24px;
                letter-spacing: 12px;
                top: 30px;
            }
        }
    }
    .colors-slider-wrap.has-slider {
        .color-list {
            width: 60%;
        }
    }
    .fea-rw {
        .col-md-4 {
            flex: 0 0 41.6666666667%;
            max-width: 41.6666666667%;
        }
        .col-md-8 {
            flex: 0 0 58.3333333333%;
            max-width: 58.3333333333%;
        }
    }
}
@media (max-width: 440px) {
    .s-pride-blk {
        .bld-txt, .s-price-txt {
            font-size: 12px;
        }
        .s-price-txt  {
            padding-left: 0;
        }
    }
    .colors-exists-list {
        .clr-item {
            span {
                font-size: 12px;
            }
        }
    }
    .table-colors-wrap {
        .left-side {
            .clr-item {
                span {
                    font-size: 13px;
                    line-height: 16px;
                }
            }
        }
    }
    .feature-prd-content {
        .short-desc {
            font-size: 15px;
            line-height: 25px;
        }
    }
    .colors-slider-wrap.has-slider  {
        .slick-arrow {
            width: 40px;
            height: 40px;
        }
    }
    .colors-slider-wrap.has-slider {
        .color-list {
            width: 55%;
        }
    }
}
@media (max-width: 400px) {
    .colors-slider-wrap.has-slider  {
        .slick-next {
            right: -125px;
        }
    }
}
@media (max-width: 380px) {
    .fea-rw, .s-pride-blk {
        .col-md-4, .col-md-8  {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .col-md-4{
            margin-bottom: 10px;
        }
    }
    .s-pride-blk {
        .col-md-6 > {
            .row {
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 10px;
                }
            }
        }
    }
    .s-pride-blk {
        .col-md-4 { 
            margin-bottom: 0;
        }
        .col-md-8 {
            margin-bottom: 5px;
        }
        .bld-txt, .s-price-txt {
            text-align: center;
        }
    }
    .slick-dots li {
        margin: 0 5px !important;
    }
    .feature-prod-blk {
        .feature-list {
            padding-bottom: 20px;
        }
    }
}
@media (max-width: 360px) {
    .colors-slider-wrap.has-slider {
        .color-list {
            width: 50%;
        }
    }
}