/**
 * CSS RESPONSIVE PAGE PRODUIT
 * 992-
 */
@media (max-width: 992px) { 
    .color-submit {
        .col-label {
            flex: 0 0 100%;
            max-width: 100%;
            margin-bottom: 15px;
        }
        .col-select {
            flex: 0 0 66.6666666667%;
            max-width: 66.6666666667%;
        }
        .col-button {
            flex: 0 0 33.3333333333%;
            max-width: 33.3333333333%;
        }
    }
}
@media (max-width: 900px) {
    .s-pride-blk {
        .col-md-6 {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .col-md-8 {
            flex: 0 0 58.3333333333%;
            max-width: 58.3333333333%;
        }
        .col-md-4 {
            flex: 0 0 41.6666666667%;
            max-width: 41.6666666667%;
        }
    }
    .prd-colors-blk {
        .left-side, .right-side {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .left-side {
            margin-bottom: 10px;
        }
    }
    .product-content-box {
        margin-bottom: 70px;
        .prd-tab#stock {
            padding-bottom: 0;
        }
        .feature-note-blk {
            float: none;
        }
        .desc-ct-blk {
            padding-bottom: 30px;
        }
    }
    .fea-note-list {
        width: 100%;
    }
    .guide-size-blk {
        justify-content: center;
    }
    #guide, #descriptif {
        .inner {
            .col-md-6 {
                flex: 0 0 100%;
                max-width: 100%;
                &:first-child {
                    margin-bottom: 90px;
                }
            }
        }
    }
    .feature-prod-blk {
        &.pb-60 {
            padding-bottom: 130px;
        }
        .no-padd {
            > .col-md-6 {
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
        .feature-prd-content {
            padding-left: 12px;
            padding-right: 12px;
        }
        .feature-list {
            margin: 0 12px;
            padding-bottom: 60px;
        }
    }
    .block-fea-nav {
        display: none;
    }
    .block-feature-images {
        .slick-dots {
            bottom: 20px;
            li {
                width: 10px;
                height: 10px;
                margin: 0 10px;
                &.slick-active {
                    width: 14px;
                    height: 14px;
                    button {
                        width: 14px;
                        height: 14px;
                        background-color: $orange;
                    }
                }
                button {
                    width: 10px;
                    height: 10px;
                    background-color: #fff;
                    @include border-radius(50%);
                    &::before {
                        display: none;
                    }
                }
            }
        }
    }
    .colors-exists-list {
        padding-left: 0;
    }
    .table-colors-wrap {
        &::after {
            display: none;
        }
        .left-side {
            margin-bottom: 20px;
        }
    }
    .color-submit {
        padding-bottom: 40px;
    }
    .prd-dtl-tll {
        .inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding-bottom: 0;
        }
    }
    .prod-brand-logo {
        position: relative;
        top: auto;
        bottom: 10px;
    }
    .block-title-page {
        &.prd-dtl-tll {
            .block-title-large {
                font-size: 64px;
                top: -110px;
            }
        }
    }
    .colors-lst  {
        .color-list {
            width: 800px;
            margin: 0 auto;
        }
    }
}
@media (max-width: 860px) {
    .hero-slider-wrap {
        .hero-info {
            left: 40px;
        }
    }
    .prom-item {
        .prom-icon {
            width: 60px;
        }
    }
    .home-product {
        .product-item {
            width: calc(100%/3);
        }
    }
    .quote {
        span.txt {
            font-size: 12px;
        }
    }
    .colors-lst  {
        .color-list {
            width: 690px;
        }
    }
}