/**
 * BUTTONS CSS
 */
 .btn {
    outline: none;
    height: 40px;
    line-height: 40px;
    @include fontLora(400);
    font-style: italic;
    font-size: 15px;
    padding: 0 20px;
    text-align: center;
    @include border-radius(30px);
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    .ico {
        margin-left: 15px;
    }
    &:hover, &:focus {
        outline: none;
        box-shadow: none;
    }
    &.btn-white {
        background-color: #fff;
        color: #000;
        &:hover {
            background-color: $orange;
            color: #fff;
            .arrow_right {
                background-color: #fff;
            }
        }
    }
}
.btn {
    outline: none;
    &:hover, &:focus {
        outline: none;
    }
    &.btn-orange {
        background-color: $orange;
        color: #fff;
        border: 1px solid transparent;
        .arrow_right {
            background-color: #fff;
        }
        &:hover {
            background-color: #fff;
            color: #000;
            border-color: $orange;
            .arrow_right {
                background-color: #000;
            }
        }
    }
    &.btn-dark {
        background-color: #666;
        color: #fff;
        border: 1px solid transparent;
        .arrow_right {
            background-color: #fff;
        }
        &:hover {
            background-color: #fff;
            color: #000;
            border-color: #666;
            .arrow_right {
                background-color: #000;
            }
        }
    }
}
.btn {
    &.btn-outline-orange {
        font-size: 15px;
        padding-left: 50px;
        padding-right: 50px;
        border: 1px solid $orange;
        background-color: #fff;
        color: $orange;
        &:hover {
            background-color: $orange;
            color: #fff;
            .ico {
                background-color: #fff;
            }
        }
    }
}
.btn {
    background-color: #F5F5F5;
    &:hover {
        background-color: #f1f1f1;
    }
    &.btn-orange , &.btn-dark {
        // background-color: $orange;
        // &:hover {
        //     background-color: darken( $orange, 5%);
        // }
        &.lrg {
            padding-left: 70px;
            padding-right: 70px;
            text-align: center;
            font-size: 17px;
            height: 50px;
            line-height: 50px;
        }
    }
}