.commandes-info
    a(href="#").close_commandes_info
        i.ico.close
    .avatar-wrap.comm-block
        a(href="#").avatar
            h2.name em
    // END : AVATAR
    .commandes-name.comm-block
        a(href="#") Bienvenue Emmanuel
    // END : NAME
    .commandes-menu.comm-block
        ul
            li
                a(href="accueil-mon-compte.html") Accueil
            li
                a(href="mes-commandes.html") commandes
            li.active
                a(href="reliquats.html") Reliquats
            li
                a(href="sav.html") sav
    // END : MENU
    .commandes-connect.comm-block
        a(href="#") Déconnexion
    // END : NAME