.commandes-wrap.pb-60
    .container
        .row
            .col-md-3.comm-left
                .box-white
                    include info
                    // END : MENU
            // END : LEFT
            .col-md-9.comm-right
                include table
                // END : TABLE
            // END : RIGHT