.commandes-wrap
    .table-mode.pb-60
        table.table.table-imb(data-tablesaw-mode="swipe").tablesaw.tablesaw-swipe
            thead
                tr
                    th.text-center Date de commande
                    th.text-center Num commande
                    th.text-center Num commande interne
                    th.text-center Montant total
                    th Statut
                    th.text-center.actions &nbsp;
            tbody
                tr
                    td.text-center 10/10/19 à 15h30
                    td.text-center Ref XXXXXXXXX
                    td.text-center 
                        .w60 Ref 2019-06 Commande John
                    td.text-center 7 100,00 €
                    td
                        .status.success
                            span.cir
                            | Expédiée
                    td.text-center
                        a(href="#").action
                            i.ico.eye
                tr
                    td.text-center 10/10/19 à 15h30
                    td.text-center Ref XXXXXXXXX
                    td.text-center -
                    td.text-center 7 100,00 €
                    td
                        .status.warning
                            span.cir
                            | En préparation
                    td.text-center
                        a(href="#").action
                            i.ico.eye
                tr
                    td.text-center 10/10/19 à 15h30
                    td.text-center Ref XXXXXXXXX
                    td.text-center -
                    td.text-center 7 100,00 €
                    td
                        .status.info
                            span.cir
                            | Expédiée partiellement
                    td.text-center
                        a(href="#").action
                            i.ico.eye
                tr
                    td.text-center 10/10/19 à 15h30
                    td.text-center Ref XXXXXXXXX
                    td.text-center -
                    td.text-center 7 100,00 €
                    td
                        .status.error
                            span.cir
                            | En attente de traitement
                    td.text-center
                        a(href="#").action
                            i.ico.eye
                tr
                    td.text-center 10/10/19 à 15h30
                    td.text-center Ref XXXXXXXXX
                    td.text-center 
                        .w60 Ref 2019-06 Commande John
                    td.text-center 7 100,00 €
                    td
                        .status.success
                            span.cir
                            | Expédiée
                    td.text-center
                        a(href="#").action
                            i.ico.eye
                tr
                    td.text-center 10/10/19 à 15h30
                    td.text-center Ref XXXXXXXXX
                    td.text-center -
                    td.text-center 7 100,00 €
                    td
                        .status.warning
                            span.cir
                            | En préparation
                    td.text-center
                        a(href="#").action
                            i.ico.eye
                tr
                    td.text-center 10/10/19 à 15h30
                    td.text-center Ref XXXXXXXXX
                    td.text-center -
                    td.text-center 7 100,00 €
                    td
                        .status.info
                            span.cir
                            | Expédiée partiellement
                    td.text-center
                        a(href="#").action
                            i.ico.eye
                tr
                    td.text-center 10/10/19 à 15h30
                    td.text-center Ref XXXXXXXXX
                    td.text-center -
                    td.text-center 7 100,00 €
                    td
                        .status.error
                            span.cir
                            | En attente de traitement
                    td.text-center
                        a(href="#").action
                            i.ico.eye
                tr
                    td.text-center 10/10/19 à 15h30
                    td.text-center Ref XXXXXXXXX
                    td.text-center 
                        .w60 Ref 2019-06 Commande John
                    td.text-center 7 100,00 €
                    td
                        .status.success
                            span.cir
                            | Expédiée
                    td.text-center
                        a(href="#").action
                            i.ico.eye
                tr
                    td.text-center 10/10/19 à 15h30
                    td.text-center Ref XXXXXXXXX
                    td.text-center -
                    td.text-center 7 100,00 €
                    td
                        .status.warning
                            span.cir
                            | En préparation
                    td.text-center
                        a(href="#").action
                            i.ico.eye
    include ../actualites/pagination
    // END : PAGINATION