// COLOR TOOL 
.prd-colors-blk {
    > .inner {
        display: flex;
        flex-wrap: wrap;
    }
    .left-side {
        flex: 0 0 170px;
        max-width: 170px; 
        color: #B3B3B3;
        font-size: 15px;
        @include fontLora(400);
        .txt {
            color: rgba(0, 0, 0, 0.39);
            font-style: italic;
        }
    } 
    .right-side {
        flex: 0 0 970px;
        max-width: 970px; 
    }
}

.color-list {
    &:after {
        content: '';
        display: table;
        height: 0;
        clear: both;
    }
    .clr-item { 
        float: left;
    }
} 

.clr-item {
    text-align: center;
    width: 97px;
    height: 73px;
    color : #B3B3B3;
    font-size: 12px;
    @include fontMontserrat(400); 
    margin-bottom: 28px;
}

.clr-item {
    .clr {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: inline-block;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
        margin-bottom: 8px;
        transition: all 0.25s ease-out;
    }
    a.clr {
        &:hover {
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
        }
    }
    > span {
        display: block;
        text-transform: uppercase;
        line-height: 1.2;
    }
}
.clr-item {
    .clr {
        position: relative;
        &::before {
            content: '';
            display: block;
            -webkit-mask: url('../images/icons/ico_check.svg') no-repeat center;
            mask: url('../images/icons/ico_check.svg') no-repeat center;
            background-color: #fff;
            width: 12px;
            height: 9px;
            -webkit-mask-size: cover;
            -moz-mask-size: cover;
            -o-mask-size: cover;
            mask-size: cover;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%) scale(0.8);
            z-index: -1;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: all .4s ease;
            -moz-transition: all .4s ease;
            -o-transition: all .4s ease;
            transition: all .4s ease;
        }
    }
}
.clr-item {
    &.active {
        .clr {
            &::before {
                transform: translateX(-50%) translateY(-50%) scale(1);
                z-index: 1;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
.colors-slider-wrap {
    &.has-slider {
        .color-list {
            width: 85%;
            margin-top: -10px;
            border-bottom: 3px solid #F5F5F5;
            .slick-list {
                padding-top: 10px;
            }
        }
        .slick-arrow {
            top: 0;
            transform: translate(0);
            &.slick-disabled {
                opacity: 0;
            }
        }
        .slick-next {
            right: -145px;
        }
        .slick-prev {
            left: auto;
            right: -75px;
        }
    }
}
.colors-slider-wrap {
    &.has-slider {
        .slick-list {
            position: relative;
            .clr-item {
                width: 86px;
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                z-index: 1;
                right: 0;
                width: 100px;
                background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
                background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
                background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
            }
        }
    }
}
.clr-item {
    position: relative;
    &::after {
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        bottom: -28px;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 8.5px 7px 8.5px;
        border-color: transparent transparent #F5F5F5 transparent;
        opacity: 0;
        visibility: hidden;
    }
    &.active {
        &:after {
            opacity: 1;
            visibility: visible;
        }
    }
}
.color-submit {
    > .row {
        flex: 1;
        align-items: center;
    }
    .txt {
        @include fontLora(400);
        font-size: 14px;
        line-height: 21px;
        color: rgba(0, 0, 0, 0.59);
        &.bold {
            @include fontMontserrat(900);
            font-size: 15px;
            line-height: 16px;
            color: #B3B3B3;
            text-transform: uppercase;
        }
    }
}
.color-submit {
    .col-label {
        text-align: right;
    }
    .col-button {
        .btn {
            width: 100%;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}
.tbl-colors {
    margin-top: 50px;
    margin-bottom: 50px;
}
.table-colors-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
    .left-side {
        .clr-item {
            width: auto;
            height: auto;
            display: flex;
            align-items: center;
            margin-bottom: 0;
            .clr {
                width: 48px;
                height: 48px;
                margin-right: 10px;
                margin-bottom: 0;
            }
            span {
                @include fontMontserrat(900);
                font-size: 15px;
                line-height: 16px;
                letter-spacing: 2px;
                text-transform: uppercase;
                text-align: left;
                display: flex;
                flex: 1;
            }
        }
    }
}
.table-colors {
    thead {
        th {
            background-color: #F6F6F6;
            border-bottom: none;
            border-bottom: 10px solid #fff;
            font-size: 15px;
            line-height: 16px;
            @include fontMontserrat(700);
            color: #666;
            vertical-align: middle;
            text-align: center;
            height: 40px;
        }
    }
    th, td {
        border-top: none;
        text-align: center;
        vertical-align: middle;
    }
    td {
        border-top: 8px solid #fff;
        border-bottom: 8px solid #fff;
        background-color: #FFF7EB;
        color: #666;
        font-size: 16px;
        @include fontHindMadurai(400);
        line-height: 16px;
    }
    .bell, .question {
        margin-left: 3px;
        cursor: pointer;
    }
    .question {
        &:hover {
            background-color: $orange;
        }
    }
}
.table-colors {
    .size {
        font-size: 15px;
        line-height: 16px;
        @include fontMontserrat(900);
        color: #B3B3B3;
    }
}
.tooltip-inner{
    .colors-tooltip {
        font-size: 14px;
        line-height: 19px;
        padding: 15px;
        @include fontMontserrat(300);
        strong {
            @include fontHindMadurai(700);
            margin-top: 5px;
            display: block;
        }
    }
}
.tablesaw-advance {
    a.tablesaw-nav-btn {
        border: none;
        background-color: transparent;
        &.left {
            &::before {
                -webkit-mask: url('../images/icons/ico_angle_left.svg') no-repeat center;
                mask: url('../images/icons/ico_angle_left.svg') no-repeat center;
                width: 14px;
                height: 14px;
                background-color: #000;
                border: none;
            }
        }
        &.right {
            &::before {
                -webkit-mask: url('../images/icons/ico_angle_right.svg') no-repeat center;
                mask: url('../images/icons/ico_angle_right.svg') no-repeat center;
                width: 14px;
                height: 14px;
                background-color: #000;
                border: none;
            }
        }
        &.disabled {
            display: none;
        }
    }
}
.table-colors-wrap {
    position: relative;
    &::after {
        content: '';
        display: block;
        height: 35px;
        background-color: #F6F6F6;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: -1;
    }
}
.colors-exists-list {
    margin-top: 30px;
    display: flex;
    align-items: center;
    padding-left: 170px;
    .clr-item {
        width: auto;
        height: auto;
        display: flex;
        align-items: center;
        margin-bottom: 0;
        cursor: pointer;
        &::after {
            display: none;
        }
        .clr {
            width: 14px;
            height: 14px;
            margin-right: 10px;
            margin-bottom: 0;
        }
        span {
            @include fontMontserrat(700);
            font-size: 15px;
            line-height: 21px;
            text-transform: none;
        }
        .ico {
            width: 13px;
            height: 8px;
            background-color: #B3B3B3;
            margin-left: 10px;
        }
    }
}
.colors-exists-list {
    .clr-item {
        span {
            &::after {
                content: '';
                width: 13px;
                height: 8px;
                background-color: #B3B3B3;
                margin-left: 10px;
                -webkit-mask: url(../images/icons/ico_arrow_down.svg) no-repeat center;
                mask: url(../images/icons/ico_arrow_down.svg) no-repeat center;
                -webkit-mask-size: cover;
                -moz-mask-size: cover;
                -o-mask-size: cover;
                mask-size: cover;
                display: inline-block;
            }
        }
        &.active {
            span {
                &::after {
                    -webkit-mask: url(../images/icons/ico_arrow_up.svg) no-repeat center;
                    mask: url(../images/icons/ico_arrow_up.svg) no-repeat center;
                }
            }
        }
    }
}
.table-color-mb {
    display: none !important;
}
.colors-slider-wrap {
    &.colors-lst {
        .clr-item {
            .clr {
                position: relative;
                &::after {
                    content: '';
                    display: block;
                    width: 42px;
                    height: 42px;
                    border: 6px solid #f5f5f5;
                    position: absolute;
                    z-index: -1;
                    top: -5px;
                    left: -5px;
                    border-radius: 50%;
                    opacity: 0;
                    visibility: hidden;
                    -webkit-transition: all .4s ease;
                    -moz-transition: all .4s ease;
                    transition: all .4s ease;
                }
                &:hover {
                    &::after {
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
}