
// PROD MAIN : GEN -CONTENT
.prd-tab {
    > .inner {
        max-width: 1140px;
        margin: 0 auto;
    }
}
.tabs-blk {
    color: #666666;
}

// DESC TAB
.prod-shape {
    .prd-shp-itm {
        width: 49px;
        height: auto;
    }
}
.shirt-pic {
    .pic {
        width: 67px;
        height: 66px;
    }
}
.tbl {
    @include fontHindMadurai(400);
    font-size: 18px;
    &.size-tbl {
        td {
            border: 1px solid #F5F5F5;
            text-align: center;
            width: 56px;
            height: 33px;
            color: #666;
            &.empty {
                border-top: none;
                border-left: none;
            }
        }
    }
}

.fea-note-list {
    color: #666;
    font-size: 16px;
    @include fontHindMadurai(400);
    width: 430px;
    .fea-note-itm {
        position: relative;
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
        &:after {
            display: table;
            height: 0;
            clear: both;
        }
        &:before {
            content: '';
            height: 1;
            position: absolute;
            top: 12px;
            left: 0;
            right: 0;
            background: #ECECEC;
            z-index: 0;
            width: 100%;
        }
        .lbl {
            color: #666;
            font-size: 16px;
            line-height: 17px;
            &.lbl-left {
                position: relative;
                z-index: 1;
                background: #fff;
                // max-width: 200px;
                padding-right: 20px;
            }
            &.lbl-right {
                float: right;
                z-index: 2;
                background: #fff;
                position: relative;
                font-weight: 700;
                max-width: 220px;
                text-align: right;
                padding-left: 20px;
            }
        }
    }
}

.download-doc {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .file-doc-itm {
        margin-right: 20px;
        margin-bottom: 20px;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
        outline: none;
        color: #000;
        display: flex;
        align-items: center;
        .ico {
            margin-right: 10px;
        }
        &:last-child {
            margin-right: 0;
        }
        &:focus {
            outline: none;
        }
        &:hover {
            background-color: $orange;
            color: #fff;
            outline: none;
            .ico {
                background-color: #fff;
            }
        }
    }
}
.prod-brand-logo {
    display: inline-block;
    position: absolute;
    z-index: -2;
    top: -40px;
    right: 0;
}
.block-title-page {
    &.prd-dtl-tll {
        overflow: hidden;
        padding-bottom: 0;
        .inner {
            border-bottom: none;
        }
        .block-title-large {
            font-size: 254px;
            line-height: 310px;
            letter-spacing: 35px;
            top: -50px;
            left: 0;
        }
    }
}
.product-content-box {
    margin-bottom: 100px;
    &.imb_tab {
        .nav-tabs {
            margin-bottom: 0;
            .nav-link {
                text-transform: none;
                letter-spacing: 0;
            }
        }
    }
    .container {
        > .inner {
            border: 1px solid #EDEDED; 
            padding-top: 35px;
        }
    }
}
.product-content-box {
    .prd-tab {
        padding-top: 70px;
        padding-bottom: 70px;
        &#documents {
            padding-bottom: 50px;
        }
        &#stock {
            padding-bottom: 42px;
            padding-top: 50px;
        }
    }
}
.guide-size-blk {
    display: flex;
    align-items: flex-end;
    .shirt-pic {
        margin-right: 50px;
    }
}
.product-content-box {
    .desc-ct-blk {
        @include fontLora(400);
        font-style: italic;
        font-size: 17px;
        line-height: 27px;
        padding-bottom: 40px;
    }
    .feature-note-blk  {
        float: right;
    }
    .prod-shape {
        img {
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
.s-pride-blk {
    padding-bottom: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid #DCDCDC;
    .bld-txt {
        margin-bottom: 0;
        font-weight: 900;
        text-transform: uppercase;
        text-align: right;
        font-size: 15px;
        color: #B3B3B3;
        display: block;
        letter-spacing: 1px;
    }
    .s-price-txt {
        font-size: 15px;
        color: #B3B3B3;
        font-weight: 700;
        padding-left: 30px;
    }
}
.s-pride-blk {
    .col-md-6 {
        > .row {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.prd-colors-search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 60px;
}