.feature-prd-content {
    padding-left: 25px;
    .short-desc {
        padding-top: 50px;
        @include fontLora(400);
        font-style: italic;
        font-size: 17px;
        line-height: 27px;
        color: #000;
        margin-bottom: 15px;
    }
    .tag-blk {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        .prod-tag {
            font-weight: 700;
            text-transform: uppercase;
            font-size: 10px;
            padding-left: 15px;
            padding-right: 15px;
            color: #fff;
            margin-right: 25px;
            margin-bottom: 10px;
            height: 20px;
            line-height: 20px;
        }
    }
    .clr-brown {
        background-color: #C76503;
    }
    .clr-yellow {
        background-color: #FFB100;
    }
    .clr-orange {
        background-color: $orange;
    }
}
.feature-prd-content {
    .desc-blk {
        margin-bottom: 100px;
    }
    .feature-list {
        .inner {
            width: 525px;
            margin: 0 auto;
        }
    }
}
.feature-list {
    .fea-txt, .fea-v {
        @include fontHindMadurai(400);
        font-size: 17px;
        color: #666;
        margin-bottom: 0;
    }
    .clr-item {
        height: auto;
        width: auto;
        margin-bottom: 10px;
        margin-right: 15px;
        .clr {
            margin-bottom: 0;
        }
    }
    .color-list {
        margin-bottom: 0;
        padding-left: 0 !important;
        padding-right: 0 !important;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}
.feature-list {
    .clr-link {
        color: $orange;
        @include fontLora(400);
        font-style: italic;
        font-size: 17px;
        line-height: 27px;
        text-decoration: underline;
        &:hover {
            text-decoration: none;
        }
    }
    .fea-rw  {
        position: relative;
        padding-top: 20px;
        padding-bottom: 20px;
        border-top: 1px solid #EDEDED;
    }
}
.fea-rw {
    &.row {
        margin-left: -10px;
        margin-right: -10px;
        [class*="col"] {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
.block-feature-images {
    position: relative;
    .fea-like {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
    }
}
.block-fea-nav {
    position: absolute;
    bottom: 15px;
    left: 20px;
    right: 20px;
    z-index: 1;
}
.feature-nav-images  {
    .nav-image-item {
        width: 68px;
        margin-right: 10px;
        outline: none;
        border: 2px solid #fff;
        &.slick-active {
            border-color: $orange;
        }
    }
}
.feature-prd-images  {
    .prd-image-item {
        outline: none;
    }
    .slick-slide {
        height:  auto !important;
    }
    .slick-prev {
        left: 10px;
    }
    .slick-next {
        right: 10px;
    }
    &.custom-arrow {
        .slick-arrow {
            opacity: 0;
            visibility: hidden;
            width: 40px;
            height: 40px;
            &::before {
                width: 14px;
                height: 14px;
            }
        }
    }
}
.block-feature-images  {   
    .custom-arrow {
        &:hover {
            .slick-arrow {
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
.custom-arrow {
    .slick-arrow {
        z-index: 10;
        width: 60px;
        height: 60px;
        background-color: #fff;
        border: 2px solid #F5F5F5;
        @include border-radius(50%);
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
        &::before {
            width: 20px;
            height: 20px;
            background-color: #B2B2B2;
            -webkit-mask-size: cover;
            -moz-mask-size: cover;
            -o-mask-size: cover;
            mask-size: cover;
            content: '';
            display: block;
        }
        &:hover {
            background-color: $orange;
            border-color: #fff;
            &::before {
                background-color: #fff;
            }
        }
    }
}
.custom-arrow {
    .slick-arrow {
        &.slick-disabled {
            cursor: not-allowed;
            &:hover {
                background-color: #fff;
                border-color: #f5f5f5;
                &::before {
                    background-color: #B2B2B2;
                }
            }
        }
    }
    .slick-prev {
        &::before {
            -webkit-mask: url('../images/icons/ico_arrow_chev_left.svg') no-repeat center;
            mask: url('../images/icons/ico_arrow_chev_left.svg') no-repeat center;
        }
    }
    .slick-next {
        &::before {
            -webkit-mask: url('../images/icons/ico_arrow_chev_right.svg') no-repeat center;
            mask: url('../images/icons/ico_arrow_chev_right.svg') no-repeat center;
        }
    }
}
.feature-prod-blk {
    .container {
        > .inner {
            position: relative;
            border: 1px solid #EDEDED;   
            background-color: #fff;
        }
    }
    .blk-dot-bg.right-top {
        .bg-dot {
            top: auto;
            bottom: -54px;
            right: -40px;
        }
    }
}
.lg-backdrop {
    background-color: #fff;
}
.lg-toolbar {
    background-color: transparent;
    .lg-icon {
        color: #444B53;
        &:hover {
            color: $orange;
        }
    }
}
.lg-actions {
    .lg-next, .lg-prev {
        background-color: transparent;
        color: #444B53;
        &:hover {
            color: $orange;
        }
    }
}
.lg-outer {
    .lg-toogle-thumb {
        background-color: rgba(255, 255, 255, 0.9);
        color: #444B53;
        border: 1px solid #eee;
        border-bottom: none;
        &:hover {
            color: $orange;
        }
    }
    .lg-thumb-outer {
        background-color:rgba(255, 255, 255, 0.9);
        border-top: 1px solid #eee;
    }
    .lg-thumb-item {
        &.active, &:hover {
            border-color: $orange;
        }
    }
}