.prd-bot-slider {
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: rgba(235, 239, 242, 0.3);
    &.imb_tab {
        .nav-tabs {
            margin-bottom: 30px;
            .nav-link {
                text-transform: none;
                letter-spacing: 0;
            }
        }
    }
    .product-item {
        margin-bottom: 0;
        height: auto;
        width: 20%;
        float: left;
    }
}
.prd-bot-slider {
    .slick-prev {
        left: -70px;
    }
    .slick-next {
        right: -70px;
    }
    .slick-arrow {
        top: 150px;
        transform: translateX(0);
    }
}
.prd-bot-slider {
    .slick-dots {
        li {
            width: 10px;
            height: 10px;
            margin: 0 10px;
            &.slick-active {
                width: 14px;
                height: 14px;
                button {
                    width: 14px;
                    height: 14px;
                    background-color: $orange;
                }
            }
            button {
                width: 10px;
                height: 10px;
                background-color: #CFD0D4;
                @include border-radius(50%);
                &::before {
                    display: none;
                }
            }
        }
    }
}