.header-menu-mobile
    a(href="#", class="mb-close")
        i.ico.close
    .mobile-content-menu
        .menu-logo
            .logo
                a(href="index.html")
                    img(src="uploads/imb_logo.png", alt="")
        // END : LOGO 
        include main-menu-mobile
        // END : MENU
        .footer-menu
            //- .menu-social
            //-     a(href="#")
            //-         i.ico.facebook
            //-     a(href="#")
            //-         i.ico.instagram
            //-     a(href="#")
            //-         i.ico.twitter
            //- // END : SOCIAL
            .menu-contact
                .header-lang
                    a(hrer="#", data-toggle="modal" , data-target="#modalLang")
                        span.txt Vous êtes en
                        img(src="uploads/flag-fr.png", alt="")
                        span.change Changer
                // END : LANGUAGE
                .header-hotline
                    i.ico.phone
                    .txt 
                        span Service client&nbsp;
                        | :
                        a(href="tel:0298 910808") &nbsp;02 98  91 08 08
                // END : HOTLINE
            // END
    // END : MAIL
    .mobile-sub-menu
        include sub-menu/produit
        // END : SUB PRODUIT
        include sub-menu/marques
        // END : SUB MARQUES
    // END : SUB