.header-nav
    .container
        .row
            a(href="#", class="menu_mb")
                span
            .col-md-2.header-search
                .block-search-wrap
                    form
                        input(type="text", placeholder="Rechercher", class="ipt")
                        button(type="button", class="btn-search")
                            i.ico.search
            // END : SEARCH
            .col-md-8.header-logo
                .header-logo-w
                    ul.main-menu.left
                        li.active.has-child
                            a(href='marque.html') NOS PRODUITS
                            include sub-produits
                            // END : DROPDOWN MENU
                        li.has-child
                            a(href='marque.html') LES MARQUES
                            include sub-marques
                            // END : DROPDOWN MENU
                        li 
                            a(href='#') POUR VOTRE ACTIVITÉ
                    // END : MENU
                    .logo
                        a(href="index.html")
                            img(src="uploads/imb_logo.png", alt="")
                    ul.main-menu.right
                        li 
                            a(href='#') NOUVEAUTÉS
                        li 
                            a(href='actualites.html') ACTUALITÉS
                        li 
                            a(href='#') + D’IDÉES
                    // END : MENU
            // END : LOGO
            .col-md-2.header-info
                .d-flex
                    a(href="#").search_mb
                        i.ico.search
                    // END: CARR
                    a(href="#", data-toggle="tooltip", data-placement="bottom", title="Your Cart").cart
                        span.num 3
                        i.ico.cart
                    // END: CARR
                    span.favorites(data-toggle="tooltip", data-placement="bottom", title="Favorite list")
                        i.ico.heart
                    // END: FAVORITES
                    a(href="#").profile.login
                        img(src="uploads/ava.jpg", alt="", data-toggle="tooltip", data-placement="bottom", title="Profile")
                    // END: ACCOUNT
            // END : INFO