.header-search-mobile
    a(href="#").close-search-mb
        i.ico.close
    .head-search-logo
        .container
            .logo
                a(href="index.html")
                    img(src="uploads/imb_logo.png", alt="")
    // END : LOGO
    .head-search-wrap
        .container
            .block-search-wrap
                form
                    input(type="text", placeholder="Rechercher", class="ipt")
                    button(type="button", class="btn-search")
                        i.ico.search
    // END : SEARCH