.header-top
    .container
        .row
            .col-md-9.header-left Votre spécialiste du textile promotionnel et professionnel depuis 1983
            // END : LEFT
            .col-md-3.header-right
                .d-flex
                    .header-hotline
                        i.ico.phone
                        .txt 
                            span Service client&nbsp;
                            | :
                            a(href="tel:0298 910808") &nbsp;02 98  91 08 08
                    // END : HOTLINE
                    .header-lang
                        a(hrer="#", data-toggle="modal" , data-target="#modalLang")
                            img(src="uploads/flag-fr.png", alt="")
                    // END : LANGUAGE
            // END : RIGHT