ul.main-mb
    li.has-child.active
        a(href="marque.html") NOS PRODUITS
        a(href="#", data-grid="mn-produit").sub_link
            i.ico.angle_right
    li.has-child
        a(href='marque.html') LES MARQUES
        a(href="#", data-grid="mn-marques").sub_link
            i.ico.angle_right
    li 
        a(href='#') POUR VOTRE ACTIVITÉ
    li 
        a(href='#') NOUVEAUTÉS
    li 
        a(href='actualites.html') ACTUALITÉS
    li 
        a(href='#') + D’IDÉES