.dropdown-submenu
    .container
        .block-title-page.pad-60
            .inner
                h1.block-title NOS PRODUITS
                .block-title-large NOS PRODUITS
        // END : TITLE
        .sub-menu.has-3-col
            ul.submenu-list
                li
                    a(href="#") T-shirts
                li
                    a(href="#") Bodywarmers
                li
                    a(href="#") Bagageries
                li
                    a(href="#") Sweats
                li
                    a(href="#") Blousons
                li
                    a(href="#") Accessoires 
                li
                    a(href="#") Polos
                li
                    a(href="#") Chemises
                li
                    a(href="#") Sport
                li
                    a(href="#") Polaires
                li
                    a(href="#") Casquettes
                li
                    a(href="#") Workwear
                li
                    a(href="#") Softshells
                li
                    a(href="#") Eponges