.dropdown-submenu
    .container
        .block-title-page.pad-60
            .inner
                h1.block-title LES MARQUES
                .block-title-large LES MARQUES
        // END : TITLE
        .sub-menu.has-2-col
            ul.submenu-list
                li
                    a(href="#") T-shirts
                li
                    a(href="#") Bodywarmers
                li
                    a(href="#") Bagageries
                li
                    a(href="#") Sweats
                li
                    a(href="#") Blousons
                li
                    a(href="#") Accessoires 
                li
                    a(href="#") Polos