/**
 * Page components
 *
 * Description: This is the most accessible LESS file. For creating stucture of a LESS project
 * There're some simple rules: 
 *  - use base rule on this file. E.g. every single rule/indent or each component. To generate the fast view for the parent components
 *  - for children rules put it in matched folders and import it in parent's section
 *  
 */
body {
    @include fontMontserrat(500);
    font-size: 14px;
    line-height: 1.6;
    color: #000;
}
a {
    outline: none;
    color: #000;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    &:hover, &:focus {
        outline: none;
        text-decoration: none;
    }
    &:hover {
        color: $orange;
    }
}
ul {
    margin: 0;
    padding: 0;
    li {
        outline: none;
        list-style: none;
    }
}
img {
    width: 100%;
}
// CSS SOCIAL SIDEBAR
.social-list {
    position: fixed;
    left: 30px;
    bottom: 30px;
    z-index: 100;
    // top: 300px;
    width: 37px;
    // &.bottom {
    //     position: absolute;
    //     top: auto;
    //     bottom: 30px;
    // }
    li {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.social-list {
    a {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $gray;
        @include border-radius(50%);
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
        width: 38px;
        height: 38px;
        text-align: center;
        &:hover {
            background-color: $orange;
            border-color: #fff;
            .ico {
                background-color: #fff;
            }
        }
    }
}
.social-list {
    .lst {
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
        margin-bottom: 30px;
        &.shw {
            opacity: 1;
            visibility: visible;
        }
    }
    .link_share {
        &.act {
            border-color: #f2f2f2;
            .ico {
                background-color: #f2f2f2;
            }
            &:hover {
                background-color: transparent;
                .ico {
                    background-color: #f2f2f2;
                }
            }
        }
    }
}
.pad-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}
//** ------ {{ plugins }} ------------------------------------ 
@import 'blocks/plugins.scss';

//** ------ {{ header }} ------------------------------------ 
@import 'blocks/header.scss';
@import 'blocks/icons.scss';

//** ------ {{ forms }} ------------------------------------ 
@import "blocks/form.scss";
@import "blocks/common/buttons.scss";
@import "blocks/table.scss";

//** ------ {{ content }} ------------------------------------ 
@import "blocks/homepage.scss";
@import "blocks/prd_detail/product_detail.scss";
@import "blocks/merci.scss";
@import "blocks/contact.scss";
@import "blocks/news.scss";
@import "blocks/category.scss";
@import "blocks/commandes.scss";
@import "blocks/checkout.scss";

//** ------ {{ footer }} ------------------------------------ 
@import 'blocks/footer.scss';