/**
 * Media 767px : HOMEPAGE
 */
@media (max-width: 767px) {
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
    // .social-list {
    //     top: 200px;
    // }
    .logo-list {
        li {
            width: calc(100%/3);
        }
    }
    .footer-text {
        margin-bottom: 90px;
        .footer-ttl {
            font-size: 28px;
            line-height: 34px;
        }
        .footer-text .desc {
            font-size: 15px;
        }
    }
    .footer-cate-item {
        margin-bottom: 30px;
        a {
            display: flex;
            width: 320px;
            margin: 0 auto;
        }
        .more {
            display: none;
        }
        .pic {
            width: 53px;
            height: 53px;
            flex: 0 0 53px;
            margin-right: 30px;
            .ico {
                &.barcode {
                    height: 36px;
                    width: 25px;
                }
                &.tool {
                    width: 25px;
                    height: 25px;
                }
                &.teleman {
                    height: 27px;
                    width: 25px;
                }
            }
        }
        .ttl, .txt {
            text-align: left;
        }
    }
    .footer-copyright {
        .copyright {
            font-size: 12px;
            line-height: 15px;
            flex: 0 0 70%;
            max-width: 70%;
        }
        .copy-payment {
            flex: 0 0 30%;
            max-width: 30%;
        }
        .row {
            height: auto;
        }
    }
    .copy-menu {
        ul {
            li {
                a {
                    font-size: 12px;
                    line-height: 16px;
                }
            }
        }
    }
    .sale-wrap {
        &::after {
            display: none;
        }
        .sale-inner {
            width: 360px;
        }
        .quote {
            display: none;
        }
        .sale-ttl {
            font-size: 28px;
            line-height: 34px;
            margin-bottom: 30px;
        }
        .sale-bg {
            background-position: 250px bottom;
            background-size: 320px auto;
            padding-bottom: 205px;
        }
        .pic {
            margin-bottom: 40px;
        }
    }
    .caption-title {
        font-size: 8px;
        height: 21px;
        line-height: 22px;
    }
    .home-product {
        .product-item {
            width: calc(100%/2);
            &:last-child, &:nth-last-child(1) {
                display: none;
            }
        }
    }
    .block-title {
        font-size: 18px;
        line-height: 22px;
    }
    .block-title-large {
        font-size: 86px;
        line-height: 105px;
        left: -25px;
        top: -10px;
    }
    .block-desc {
        font-size: 12px;
        line-height: 15px;
    }
    .mb {
        display: block !important;
    }
    .pc {
        display: none !important;
    }
    .prom-item {
        margin-bottom: 25px;
        .prom-ttl {
            font-size: 25px;
            line-height: 31px;
        }
        .prom-info {
            bottom: 30px;
            &.right {
                width: 260px;
                right: auto;
                left: 50px;
                text-align: left;
                .prom-ttl {
                    margin-bottom: 30px;
                }
            }
        }
        .prom-icon {
            width: 80px;
            top: auto;
            bottom: 200px;
        }
    }
    .promotion-wrap {
        .bg-dot {
            top: auto;
            bottom: 390px;
        }
        .prom-left {
            margin-bottom: 25px;
        }
    }
    .percent-blk {
        font-size: 20px;
        height: 30px;
        line-height: 30px;
        width: 79px;
    }
    .color-list {
        margin-bottom: 25px;
    }
    .colors-lst  {
        .color-list {
            width: 520px;
        }
    }
    .block-form-idea {
        width: 100%;
        padding: 40px 20px;
        .idea-ttl {
            font-size: 22px;
            line-height: 27px;
        }
        .lbl {
            margin-bottom: 0;
            font-size: 15px;
            line-height: 21px;
            padding-right: 20px;
        }
        .ipt-select.sml {
            font-size: 15px;
            flex: 1;
        }
        .col-md-6, .form-group {
            display: flex;
            align-items: center;
        }
        .block-desc {
            margin-bottom: 25px;
        }
        .form-group, .col-md-6 {
            margin-bottom: 25px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .col-md-6 {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .row {
            flex: 1;
        }
    }
    .quote {
        span.txt {
            font-size: 11px;
        }
    }
    .prom-mask {
        width: 293px;
        height: 151px;
        top: -76px;
        transform: translateX(-50%) translateY(0);
        .d-flex {
            background-color: #EBEFF2;
        }
        .block-title {
            font-size: 24px;
            line-height: 29px;
        }
        .block-desc {
            font-size: 14px;
        }
    }
    .hero-slider-wrap {
        margin-bottom: 160px;
        .block-search-wrap {
            display: none;
        }
        .hero-ttl {
            font-size: 28px;
            line-height: 34px;
            width: 60%;
        }
        .hero-info {
            top: 40px;
            transform: translateY(0);
            left: 50px;
        }
        // .hero-icon {
        //     top: -10px;
        //     left: -70px;
        //     img {
        //         width: 204px;
        //     }
        // }
    }
    .hero-slider-wrap {
        .hero-icon {
            top: -15px;
            left: -110px;
            img {
                width: 70%;
            }
        }
    }
    .hero-slider {
        background-color: #EBEFF2;
        .slick-dots {
            display: none !important;
        }
        .slick-slide {
            img {
                width: 98%;
            }
        }
    }
    .social-list {
        left: 28px;
    }
    .header-nav {
        .menu_mb {
            left: 30px;
        }
    }
    .footer-home {
        .footer-text {
            .inner {
                width: 358px;
            }
        }
    }
    .merci-info {
        width: 300px;
        right: 15px;
        .block-title {
            font-size: 18px;
            line-height: 26px;
        }
        .block-title-large {
            font-size: 40px;
            line-height: 88px;
        }
        .block-desc {
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 15px;
        }
    }
    .merci-title {
        margin-bottom: 10px;
    }
    .frm_registation {
        .form-group {
            .col-md-6 {
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .frm_lang  {
        .col-md-4 {
            text-align: left;
            margin-bottom: 5px;
        }
    }
    .hero-slider {
        .slick-slide {
            img {
                &.mb {
                    display: block;
                }
                &.pc {
                    display: none;
                }
            }
        }
    }
    .table-imb {
        thead {
            th {
                text-transform: none;
                font-size: 12px;
                line-height: 15px;
            }
        }
    }
    .table-colors  {
        thead {
            th {
                font-size: 12px;
                line-height: 15px;
            }
        }
    }
    .prom-item {
        .prom-info {
            &.left {
                left: 120px;
            }
            &.right {
                right: auto;
                left: 90px;
            }
        }
    }
}
@media (max-width: 700px) {
    .sale-wrap {
        .sale-bg {
            background-position: 220px bottom;
        }
    }
    .blk-dot-bg {
        .bg-dot {
            width: 70px !important;
        }
    }
    .tablesaw-advance {
        .tablesaw-nav-btn {
            outline: none;
            &:focus {
                box-shadow: none !important;
                text-shadow: none;
            }
        }
        a.tablesaw-nav-btn.disabled {
            display: inline-block;
        }
    }
    #modalLogin {
        .modal-dialog {
            max-width: 90%;
        }
        &.modal-imb .inner {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
    .modal-imb {
        .block-desc {
            width: auto;
        }
    }
    .frm_login {
        .inner {
            width: auto;
        }
    }
    .merci-banner {
        padding-bottom: 40px;
    }
    .pad-115 {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
@media (max-width: 640px) {
    .sale-wrap {
        .sale-bg {
            background-position: 180px bottom;
        }
    }
    .modal-dialog {
        margin: 0.5rem auto;
    }
    .colors-lst  {
        .color-list {
            width: 450px;
        }
    }
    .prom-item {
        .prom-info {
            &.left {
                left: 100px;
            }
            &.right {
                left: 70px;
            }
        }
    }
}
@media (max-width: 560px) {
    .colors-lst  {
        .color-list {
            width: 360px;
        }
    }
    .sale-wrap {
        .sale-bg {
            background-position: 140px bottom;
        }
    }
    .pagination-wrap {
        width: 100%;
    }
    .hero-slider-wrap {
        .hero-ttl {
            width: 360px;
        }
    }
    .prom-item {
        .prom-info {
            &.left {
                left: 90px;
            }
            &.right {
                left: 60px;
            }
        }
    }
}
// import css responsive another page
@import './responsive/contact/responsive-480px-767px.scss';
@import './responsive/actualites/responsive-480px-767px.scss';
@import './responsive/commandes/responsive-480px-767px.scss';
@import './responsive/category/responsive-480px-767px.scss';
@import './responsive/produit/responsive-480px-767px.scss';