/**
 * Media 1200px+
 *
 * description: css rules for screen of desktop
 */
@media (min-width: 1900px) {
    .block-title-large {
        left: -97px;
    }
}
@media (min-width: 1755px) {
    .container {
        max-width: 1755px;
    }
    .header-nav {
        .logo {
            width: 264px;
        }
    }
}
@media (max-width: 1754px) {
    .container {
        max-width: none;
    }
    // CSS SOCIAL SIDEBAR
    .social-list {
        left: 15px;
    }
    // CSS FOOTER
    .footer-copyright {
        .copyright {
            flex: 0 0 50%;
            max-width: 50%;
        }
        .copy-menu {
            flex: 0 0 33.3333333333%;
            max-width: 33.3333333333%;
        }
        .copy-payment {
            flex: 0 0 16.6666666667%;
            max-width: 16.6666666667%;
        }
    }
    .prom-item {
        .prom-icon {
            width: 100px;
        }
        .prom-info {
            bottom: 30px;
        }
        .quote {
            span {
                &.line {
                    width: 38px;
                }
            }
        }
    }
    .color-list {
        margin-bottom: 20px;
    }
    .block-form-idea {
        .lbl {
            padding-right: 10px;
        }
    }
}
@media (max-width: 1600px) {
    .prom-item {
        .prom-ttl {
            font-size: 24px;
            line-height: 24px;
        }
    }
    .block-form-idea {
        .idea-ttl {
            font-size: 24px;
            line-height: 32px;
        }
        .block-desc {
            margin-bottom: 20px;
        }
        .form-group {
            margin-bottom: 15px;
        }
    }
    .prom-item {
        .prom-info {
            &.left {
                left: 60px;
            }
            &.right {
                right: 60px;
            }
        }
    }
    .main-menu {
        li {
            a {
                font-size: 12px;
            }
        }
    }
}
@media (max-width: 1560px) {
    .main-menu {
        li {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    .header-logo-w {
        .main-menu {
            &.left {
                width: 380px;
                // left: -360px;
            }
            &.right {
                width: 280px;
                // right: -300px;
            }
        }
    }
}
@media (max-width: 1500px) {
    // .header-logo {
    //     .d-flex {
    //         justify-content: flex-start;
    //     }
    // }
    .header-logo-w {
        width: 164px;
        // padding-left: 30px;
        // padding-right: 30px;
        .main-menu {
            top: -26px;
            // &.left {
            //     left: -380px;
            // }
        }
    }
    .header-nav {
        .logo {
            padding-left: 30px;
            padding-right: 30px;
            width: 164px;
        }
    }
    .header-info {
        a, span {
            margin-left: 15px;
        }
    }
    .block-form-idea {
        .idea-ttl {
            margin-bottom: 7px;
        }
        .lbl {
            margin-bottom: -5px;
            font-size: 14px;
            line-height: 18px;
        }
        .slect {
            font-size: 14px;
        }
        .block-desc {
            font-size: 12px;
        }
    }
    .prom-item {
        .prom-icon {
            width: 80px;
        }
        .prom-info {
            bottom: 20px;
        }
        .prom-ttl {
            font-size: 18px;
            line-height: 18px;
            margin-bottom: 10px;
        }
    }
    .percent-blk {
        font-size: 18px;
        width: 80px;
    }
    .color-list {
        margin-bottom: 10px;
    }
    // CSS FOOTER
    .footer-text {
        .desc {
            font-size: 14px;
            line-height: 20px;
        }
        .footer-ttl {
            font-size: 30px;
            line-height: 38px;
        }
        .inner {
            width: 90%;
        }
    }
    .footer-cate-item {
        .more {
            font-size: 14px;
            line-height: 20px;
        }
    }
    .hero-slider-wrap {
        .hero-icon {
            top: -85px;
            img {
                width: 85%;
            }
        }
    }
    .quote {
        span {
            &.line {
                width: 22px;
            }
            &.txt {
                padding-left: 10px;
            }
        }
    }
    // .label-form, .ipt, .ipt-text, .ipt-select, .ipt-select.sml {
    //     font-size: 14px;
    // }
    .block-form-idea {
        .ipt-select.sml {
            font-size: 14px;
        }
    }
    .flagstrap {
        .dropdown-menu {
            li {
                font-size: 14px;
            }
        }
    }
    .submenu-list {
        li {
            a {
                font-size: 16px;
            }
        }
    }
    .product-item {
        .note {
            font-size: 16px;
            line-height: 22px;
        }
    }
    .table-imb {
        thead {
            th {
                font-size: 13px;
                line-height: 17px;
            }
        }
        tbody {
            td {
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
    .sav-tbl {
        .td-date {
            font-size: 12px;
        }
    }
    .sav-tbl {
        .w60 {
            width: 80%;
        }
    }
}
@media (max-width: 1440px) {
    .main-menu {
        li {
            a {
                font-size: 12px;
            }
        }
    }
    // .header-nav {
    //     .logo {
    //         padding-left: 10px;
    //         padding-right: 10px;
    //     }
    // }
    .prom-mask {
        width: 200px;
        height: 100px;
        .block-title {
            font-size: 18px;
            line-height: 24px;
        }
        .block-desc {
            font-size: 12px;
        }
    }
    .footer-wrap {
        &.footer-home {
            .footer-cate-item {
                .txt {
                    width: auto;
                }
            }
        }
    }
    .prom-item {
        .prom-info {
            &.left {
                left: 55px;
            }
            &.right {
                right: 55px;
            }
        }
    }
}
@media (max-width: 1366px) {
    .header-logo-w {
        .main-menu {
            top: -31px;
            &.left {
                width: 350px;
                // left: -360px;
            }
            &.right {
                width: 270px;
                // right: -290px;
            }
        }
    }
    .main-menu {
        li {
            a {
                font-size: 11px;
            }
        }
    }
    .sale-wrap {
        .sale-bg {
            padding: 60px 0;
        }
    }
    .block-form-idea {
        .idea-ttl {
            margin-bottom: 0;
            font-size: 20px;
            line-height: 26px;
        }
        .form-group {
            margin-bottom: 10px;
        }
        .block-desc {
            margin-bottom: 10px;
        }
    }
    .prom-item {
        .prom-icon {
            width: 60px;
        }
    }
    .merci-info {
        right: 30px;
        width: 460px;
    }
    .btn {
        &.btn-orange, &.btn-dark {
            &.lrg {
                padding-left: 40px;
                padding-right: 40px;
                height: 44px;
                font-size: 14px;
                line-height: 44px;
            }
        }
    }
    .submenu-list {
        li {
            a {
                font-size: 14px;
            }
        }
    }
    .product-item {
        .note {
            font-size: 12px;
            line-height: 18px;
        }
        .cate, .ttl, .price {
            font-size: 14px;
            line-height: 18px;
        }
    }
}
@media (max-width: 1300px) {
    .header-logo-w {
        width: 144px;
        .logo {
            width: 144px;
            padding-left: 20px;
            padding-right: 20px;
        }
        .main-menu {
            &.left {
                width: 350px;
                // left: -350px;
            }
            &.right {
                width: 270px;
                // right: -270px;
            }
        }
    }
}
@media (max-width: 1280px) {
    #modalRegistration {
        .modal-dialog {
            max-width: 95%;
        }
    }
    .percent-blk {
        height: 24px;
        line-height: 24px;
    }
    .prom-item {
        .prom-info {
            &.left {
                left: 45px;
            }
            &.right {
                right: 45px;
            }
        }
    }
}
@media (max-width: 1270px) {
    .header-nav {
        .logo {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    .header-logo-w {
        width: auto;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        .logo {
            width: 164px;
        }
        .main-menu {
            position: relative;
            top: auto;
            &.left {
                width: auto;
                left: auto;
                right: auto;
            }
            &.right {
                left: auto;
                width: auto;
                right: auto;
            }
        }
    }
    .header-nav {
        .header-search {
            display: none;
        }
        .header-logo {
            flex: 0 0 83.3333333333%;
            max-width: 83.3333333333%;
        }
    }
    // .header-logo {
    //     .d-flex {
    //         justify-content: flex-end;
    //     }
    // }
    .header-info {
        .search_mb {
            display: flex;
            margin-right: 10px;
        }
    }
}
@media (max-width: 1200px) {
    .hero-slider-wrap {
        .hero-ttl {
            font-size: 41px;
            line-height: 52px;
        }
        .hero-icon {
            left: -140px;
            img {
                width: 70%;
            }
        }
    }
    .quote {
        span.txt {
            font-size: 12px;
        }
    }
    .sale-wrap {
        .sale-ttl {
            font-size: 28px;
            line-height: 36px;
        }
    }
    .footer-wrap {
        .footer-category {
            width: auto;
        }
    }
    .footer-text {
        .inner {
            width: 95%;
        }
    }
    .logo-list {
        li {
            width: calc(100%/4);
        }
    }
    .frm_registation {
        .inner {
            width: auto;
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}
@media (max-width: 1170px) {
    .promotion-wrap {
        .prom-left, .prom-right {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .prom-left {
            margin-bottom: 15px;
        }
        .bg-dot {
            bottom: auto;
            top: 150px;
        }
    }
    .block-form-idea {
        padding: 30px;
        width: 500px;
        margin: 0 auto;
    }
    .prom-item {
        .prom-icon {
            width: 80px;
        }
    }
    .quote {
        span {
            &.txt {
                font-size: 14px;
            }
        }
    }
    .header-top {
        .header-left {
            flex: 0 0 66.6666666667%;
            max-width: 66.6666666667%;
        }
        .header-right {
            flex: 0 0 33.3333333333%;
            max-width: 33.3333333333%;
        }
    }
    .block-title-large {
        font-size: 204px
    }
}
@media (max-width: 1024px) {
    // .header-logo {
    //     .d-flex {
    //         justify-content: center;
    //     }
    // }
    .header-nav {
        .logo {
            width: 120px;
        }
    }
    .hero-slider-wrap {
        .hero-ttl {
            width: 450px;
        }
    }
    .home-product {
        .product-item {
            width: calc(100%/4);
        }
    }
    .sale-wrap {
        .sale-inner {
            width: 400px;
        }
        .sale-bg {
            background-position: 400px top;
        }
    }
    .footer-home {
        .footer-text {
            margin-bottom: 30px;
            .inner {
                width: 500px;
            }
        }
        .footer-text, .footer-category {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .copy-menu {
        &.copy-menu-mobile {
            display: block;
            text-align: left;
            flex: 0 0 100%;
            max-width: 100%;
            margin-top: 20px;
        }
        &.copy-menu-pc {
            display: none;
        }
    }
    .footer-copyright {
        padding: 30px 0;
        .container {
            padding-left: 30px;
            padding-right: 30px;
        }
        .copyright {
            flex: 0 0 80%;
            max-width: 80%;
        }
        .copy-payment {
            flex: 0 0 20%;
            max-width: 20%;
        }
    }
    .prom-item {
        .prom-info {
            &.left {
                left: 55px;
            }
            &.right {
                right: 55px;
            }
        }
    }
}
// import css responsive another page
@import './responsive/actualites/responsive-1200px-min.scss';
@import './responsive/merci/responsive-1200px-min.scss';
@import './responsive/contact/responsive-1200px-min.scss';
@import './responsive/category/responsive-1200px-min.scss';
@import './responsive/commandes/responsive-1200px-min.scss';
@import './responsive/checkout/responsive-1200px-min.scss';
@import './responsive/produit/responsive-1200px-min.scss';