/**
 * Media 991 : HOMEPAGE
 */
@media (max-width: 992px) {
    .header-top {
        display: none;
    }
    .header-wrap {
        height: 107px;
    }
    .header-nav {
        .main-menu {
            display: none;
        }
        .row {
            height: 107px;
        }
        .menu_mb {
            display: block;
        }
        .logo {
            width: 92px;
            margin-left: 35px;
        }
    }  
    .header-nav {
        .header-logo, .header-info {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    .header-logo-w {
        justify-content: flex-start;
    }
    .header-logo {
        .d-flex  {
            justify-content: flex-start;
        }
    }
    .hero-slider-wrap {
        .hero-ttl {
            font-size: 34px;
            line-height: 45px;
            width: 400px;
        }
        .block-search-wrap {
            width: 260px;
        }
    }
    .sale-wrap {
        .sale-ttl {
            font-size: 24px;
            line-height: 32px;
        }
        .sale-inner {
            width: 340px;
        }
    }
    .btn {
        font-size: 14px;
    }
    .footer-home {
        .footer-text {
            .inner {
                width: 400px;
            }
        }
    }
    .footer-text {
        .footer-ttl {
            font-size: 24px;
            line-height: 32px;
        }
    }
    .merci-info {
        width: 400px;
        .block-desc {
            width: auto;
        }
        .block-title {
            font-size: 34px;
            line-height: 46px;
        }
        .block-title-large {
            font-size: 80px;
            line-height: 108px;
        }
    }
    .footer-cate-item {
        .pic {
            width: 86px;
            height: 86px;
            margin-bottom: 20px;
            .ico {
                -webkit-mask-size: contain;
                -moz-mask-size: contain;
                mask-size: contain;
                &.teleman {
                    height: 42px;
                    width: 40px;
                }
                &.tool {
                    width: 40px;
                    height: 40px;
                }
                &.barcode {
                    height: 51px;
                    width: 40px;
                }
            }
        }
        .ttl {
            font-size: 17px;
            line-height: 23px;
        }
        .txt {
            font-size: 13px;
            line-height: 18px;
        }
    }
}
@media (max-width: 960px) {
    .hero-slider-wrap {
        .hero-icon {
            top: -35px;
            left: -120px;
            img {
                width: 280px;
            }
        }
    }
    .prom-item {
        .prom-info {
            &.left {
                left: 45px;
            }
            &.right {
                right: 45px;
            }
        }
    }
}
@media (max-width: 900px) {
    .hero-slider-wrap {
        .hero-ttl {
            font-size: 30px;
            line-height: 40px;
            width: 360px;
        }
    }
    .sale-wrap {
        .sale-bg {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
    #modalRegistration {
        .col-child {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
}
@media (max-width: 860px) {
    .footer-cate-item {
        .txt {
            width: auto;
        }
    }
    .hero-slider-wrap {
        .hero-icon {
            top: -30px;
            left: -75px;
            img {
                width: 250px;
            }
        }
    }
}
@media (max-width: 800px) {
    .sale-wrap {
        .sale-inner {
            width: 280px;
        }
        .sale-ttl {
            font-size: 18px;
            line-height: 26px;
        }
    }
    .prom-item {
        .prom-info {
            &.left {
                left: 40px;
            }
            &.right {
                right: 40px;
            }
        }
    }
}
// import css responsive another page
@import './responsive/category/responsive-768px-979px.scss';
@import './responsive/contact/responsive-768px-979px.scss';
@import './responsive/commandes/responsive-768px-979px.scss';
@import './responsive/checkout/responsive-768px-979px.scss';
@import './responsive/produit/responsive-768px-979px.scss';
@import './responsive/actualites/responsive-768px-979px.scss';