/**
 * Media 480px-
 *
 * description: css rules for screen of old school smartphone
 */
@media (max-width: 485px) {
    .merci-mobile-bg {
        display: block;
        height: 300px;
    }
    .merci-img {
        display: none;
    }
    .merci-info {
        right: 0;
        left: 0;
        margin: 0 auto;
        .btn.btn-orange.lrg {
            height: 34px;
            line-height: 34px;
            font-size: 12px;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
}
@media (max-width: 480px) {
    .block-title-large {
        font-size: 46px;
        line-height: 65px;
    }
    .logo-list {
        li {
            width: calc(100%/2);
        }
    }
    .sale-wrap {
        .sale-bg {
            background-position: 100px bottom;
        }
    }
    .block-title-large {
        left: -40px;
    }
    .footer-copyright {
        .copyright {
            flex: 0 0 65%;
            max-width: 65%;
        }
        .copy-payment {
            flex: 0 0 35%;
            max-width: 35%;
        }
    }
    .copy-payment {
        img {
            width: 40px;
        }
    }
    .pagination-wrap {
        width: 280px;
        .page-link {
            display: none;
            &.first, &.prev, &.next, &.last, &.current_page {
                display: flex;
            }
        }
    }
    #modalLang {
        .modal-dialog {
            max-width: 90%;
        }
    }
    .frm_lang {
        .inner {
            width: auto;
        }
    }
    .hero-slider-wrap {
        .hero-icon {
            top: -10px;
            left: -70px;
            img {
                width: 204px;
            }
        }
    }
    .prom-item {
        .prom-info {
            &.left {
                left: 75px;
            }
            &.right {
                left: 50px;
            }
        }
    }
}
@media (max-width: 440px) {
    .colors-lst  {
        .color-list {
            width: 260px;
        }
    }
    .prom-item {
        .prom-ttl {
            font-size: 20px;
            line-height: 26px;
        }
        .color-list {
            margin-bottom: 15px;
        }
        .prom-icon {
            width: 60px;
            bottom: 160px;
        }
    }
    .percent-blk {
        font-size: 16px;
        height: 24px;
        line-height: 24px;
        width: 64px;
    }
}
@media (max-width: 400px) {
    .prom-item {
        .prom-info {
            &.left {
                left: 60px;
            }
            &.right {
                left: 40px;
            }
        }
    }
}
@media (max-width: 380px) {
    .block-form-idea {
        .form-group {
            flex-direction: column;
            align-items: flex-start;
        }
        .ipt-select.sml {
            flex: auto;
            width: 100%;
        }
    }
    .merci-mobile-bg {
        height: 220px;
    }
    .breadcrumb-wrap {
        a {
            margin-right: 10px;
            padding-right: 10px;
        }
    }
    .block-title {
        letter-spacing: 4px;
    }
    .hero-slider-wrap {
        .hero-ttl {
            width: 280px;
            font-size: 22px;
            line-height: 26px;
        }
    }
    .copy-menu {
        ul {
            li {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
    .header-info {
        a, span {
            margin-left: 10px;
        }
    }
    .sale-wrap {
        .sale-ttl {
            font-size: 22px;
            line-height: 26px;
        }
        .sale-inner {
            width: auto;
        }
    }
    .footer-home {
        .footer-text {
            .inner {
                width: auto;
            }
        }
    }
    .block-form-idea {
        .idea-ttl {
            font-size: 18px;
            line-height: 22px;
        }
        .block-desc, .form-group, .col-md-6 {
            margin-bottom: 15px;
        }
        .ipt-select.sml {
            font-size: 13px;
        }
    }
    .caption-title {
        margin-bottom: 10px;
    }
    .prom-mask {
        width: 200px;
        height: 103px;
        top: -51px;
        .block-title {
            font-size: 16px;
            line-height: 22px;
        }
        .block-desc {
            font-size: 10px;
        }
    }
    .hero-slider-wrap {
        margin-bottom: 100px;
    }
    .sale-wrap .sale-bg {
        background-position: 45px bottom;
    }
    .frm_login {
        .label-form {
            span, a {
                display: block;
                float: none;
            }
        }
        .register_link {
            font-size: 14px;
        }
    }
    .modal-imb {
        .inner {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }
    }
    .product-item .tag {
        font-size: 8px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .merci-info {
        width: 90%;
    }
    .merci-banner-info {
        min-height: 200px;
        background-color: #efd8c6;
        img {
            display: none;
        }
    }
    .ipt, .ipt-text, .ipt-select{
        padding-left: 10px;
        font-size: 14px;
    }
    .ipt-select.sml{
        padding-left: 0;
        font-size: 14px;
    }
    .merci-info {
        .block-title-large {
            font-size: 34px;
            line-height: 78px;
            bottom: -20px;
            left: 2px;
            letter-spacing: 26px;
        }
    }
}
@media (max-width: 360px) {
    .colors-lst  {
        .color-list {
            width: 180px;
        }
    }
    .hero-slider-wrap {
        .hero-ttl {
            width: 220px;
            font-size: 16px;
            line-height: 20px;
        }
        .hero-icon {
            left: -60px;
            img {
                width: 140px;
            }
        }
    }
    .prom-item {
        .prom-info {
            &.right, &.left {
                width: auto;
            }
        }
        .prom-ttl {
            font-size: 16px;
            line-height: 22px;
        }
        .prom-icon {
            width: 40px;
        }
    }
    .percent-blk {
        font-size: 14px;
        height: 20px;
        line-height: 20px;
        width: 60px;
    }
    .prom-mask {
        top: -80px;
    }
    .sale-wrap .sale-bg {
        background-position: 25px bottom;
    }
    .footer-cate-item {
        a {
            width: auto;
        }
        .pic {
            margin-right: 15px;
        }
    }
    .copy-payment img {
        width: 30px;
    }
    .header-info {
        a, span {
            margin-left: 0;
        }
    }
    .pagination-wrap {
        width: 200px;
        .page-link {
            width: 40px;
            height: 40px;
            .ico {
                width: 12px;
                height: 8px;
                -webkit-mask-size: cover;
                -moz-mask-size: cover;
                mask-size: cover;
            }
        }
    }
    .prom-item {
        .prom-info {
            bottom: 15px;
            &.left {
                left: 50px;
            }
            &.right {
                left: 35px;
            }
        }
    }
}
@media (max-width: 330px) {
    .prom-item {
        .prom-info {
            &.left {
                left: 45px;
            }
            &.right {
                left: 30px;
            }
        }
    }
}