.block-module.mod-etiquettes
    .mod-title 
        h3.ttl Étiquettes
    .mod-content
        ul.mod-list
            li 
                input(type="checkbox", class="ipt_checkbox" name="etiquettes", id="etiquettes_1") 
                label(for="etiquettes_1") 
                    span.shape 
                    span.txt No label
            li 
                input(type="checkbox", class="ipt_checkbox" name="etiquettes", id="etiquettes_2", checked) 
                label(for="etiquettes_2") 
                    span.shape 
                    span.txt Tear away label