.block-module.mod-tailles
    .mod-title 
        h3.ttl Tailles
    .mod-content
        ul.mod-list
            li 
                input(type="checkbox", class="ipt_checkbox" name="tailles", id="tailles_1") 
                label(for="tailles_1") 
                    span.shape 
                    span.txt Petites tailles 
                        small (XS et moins)
            li 
                input(type="checkbox", class="ipt_checkbox" name="tailles", id="tailles_2") 
                label(for="tailles_2") 
                    span.shape 
                    span.txt Grandes tailles 
                        small (3XL et plus)