.block-module.mod-genre
    .mod-title 
        h3.ttl Genre
    .mod-content
        ul.mod-list.clearfix
            li 
                input(type="checkbox", class="ipt_checkbox" name="genre", id="genre_1") 
                label(for="genre_1") 
                    span.shape 
                    span.txt Enfant
            li 
                input(type="checkbox", class="ipt_checkbox" name="genre", id="genre_2" ,checked) 
                label(for="genre_2") 
                    span.shape 
                    span.txt Femme
            li 
                input(type="checkbox", class="ipt_checkbox" name="genre", id="genre_3") 
                label(for="genre_3") 
                    span.shape 
                    span.txt Homme
            li 
                input(type="checkbox", class="ipt_checkbox" name="genre", id="genre_4") 
                label(for="genre_4") 
                    span.shape 
                    span.txt Unisexe