.block-module.mod-couleurs
    .mod-title 
        h3.ttl Couleurs
    .mod-content
        ul.mod-list.clearfix.mod-scrollbar
            li 
                input(type="checkbox", class="ipt_checkbox circle" name="couleurs", id="couleurs_1", checked) 
                label(for="couleurs_1") 
                    span.shape.white 
            li 
                input(type="checkbox", class="ipt_checkbox circle" name="couleurs", id="couleurs_2") 
                label(for="couleurs_2") 
                    span.shape(style="background-color: #FFCC00")
            li 
                input(type="checkbox", class="ipt_checkbox circle" name="couleurs", id="couleurs_3") 
                label(for="couleurs_3") 
                    span.shape(style="background-color: #1886E4")
            li 
                input(type="checkbox", class="ipt_checkbox circle" name="couleurs", id="couleurs_4") 
                label(for="couleurs_4") 
                    span.shape(style="background-color: #FF5500")
            li 
                input(type="checkbox", class="ipt_checkbox circle" name="couleurs", id="couleurs_5") 
                label(for="couleurs_5") 
                    span.shape(style="background-color: #00C94D")
            li 
                input(type="checkbox", class="ipt_checkbox circle" name="couleurs", id="couleurs_6") 
                label(for="couleurs_6") 
                    span.shape(style="background-color: #00AEFF")
            li 
                input(type="checkbox", class="ipt_checkbox circle" name="couleurs", id="couleurs_7") 
                label(for="couleurs_7") 
                    span.shape(style="background-color: #FF0094")
            li 
                input(type="checkbox", class="ipt_checkbox circle" name="couleurs", id="couleurs_8", checked) 
                label(for="couleurs_8") 
                    span.shape(style="background-color: #854AA2")
            li 
                input(type="checkbox", class="ipt_checkbox circle" name="couleurs", id="couleurs_9") 
                label(for="couleurs_9") 
                    span.shape(style="background-color: #42C7AF")
            li 
                input(type="checkbox", class="ipt_checkbox circle" name="couleurs", id="couleurs_10") 
                label(for="couleurs_10") 
                    span.shape(style="background-color: #865F43")
            li 
                input(type="checkbox", class="ipt_checkbox circle" name="couleurs", id="couleurs_11") 
                label(for="couleurs_11") 
                    span.shape(style="background-color: #F2E3A9")
            li 
                input(type="checkbox", class="ipt_checkbox circle" name="couleurs", id="couleurs_12") 
                label(for="couleurs_12") 
                    span.shape(style="background-color: #000")
            li 
                input(type="checkbox", class="ipt_checkbox circle" name="couleurs", id="couleurs_13") 
                label(for="couleurs_13") 
                    span.shape(style="background-color: #477736")
            li 
                input(type="checkbox", class="ipt_checkbox circle" name="couleurs", id="couleurs_14") 
                label(for="couleurs_14") 
                    span.shape(style="background-color: #C90FC2")
            li 
                input(type="checkbox", class="ipt_checkbox circle" name="couleurs", id="couleurs_15") 
                label(for="couleurs_15") 
                    span.shape(style="background-color: #fb0000")