.block-module.mod-category
    .mod-title 
        h3.ttl Catégories
        a(href="#").category_filter
            i.ico.search
        .block-search-wrap
            form
                input(type="text", placeholder="Rechercher", class="ipt")
                button(type="button", class="btn-search")
                    i.ico.search
    .mod-content
        ul.mod-list.mod-scrollbar.clearfix
            li 
                input(type="checkbox", class="ipt_checkbox" name="category", id="category_1") 
                label(for="category_1") 
                    span.shape 
                    span.txt Catégories 1
            li 
                input(type="checkbox", class="ipt_checkbox" name="category", id="category_2", checked) 
                label(for="category_2") 
                    span.shape 
                    span.txt Catégories 2
            li 
                input(type="checkbox", class="ipt_checkbox" name="category", id="category_3") 
                label(for="category_3") 
                    span.shape 
                    span.txt Catégories 3
            li 
                input(type="checkbox", class="ipt_checkbox" name="category", id="category_4") 
                label(for="category_4") 
                    span.shape 
                    span.txt Catégories 4
            li 
                input(type="checkbox", class="ipt_checkbox" name="category", id="category_5") 
                label(for="category_5") 
                    span.shape 
                    span.txt Catégories 5
            li 
                input(type="checkbox", class="ipt_checkbox" name="category", id="category_6") 
                label(for="category_6") 
                    span.shape 
                    span.txt Catégories 6
            li 
                input(type="checkbox", class="ipt_checkbox" name="category", id="category_7") 
                label(for="category_7") 
                    span.shape 
                    span.txt Catégories 7
            li 
                input(type="checkbox", class="ipt_checkbox" name="category", id="category_8") 
                label(for="category_8") 
                    span.shape 
                    span.txt Catégories 8
            li 
                input(type="checkbox", class="ipt_checkbox" name="category", id="category_9") 
                label(for="category_9") 
                    span.shape 
                    span.txt Catégories 9
            li 
                input(type="checkbox", class="ipt_checkbox" name="category", id="category_10") 
                label(for="category_10") 
                    span.shape 
                    span.txt Catégories 10
        a(href="#").more
            i.ico.plus
            | VOIR PLUS