.block-module.mod-price
    .mod-title 
        h3.ttl Prix
    .mod-content
        #price-range(data-slider-min="0", data-slider-max="1000", data-slider-step="50", data-slider-selection="after", data-slider-tooltip="show", data-slider-value="[150, 750]")
        .slider-input
            input(type="text", class="ipt", id="slider-to", value="€ 150", data-symboy='€')
            span.symbol -
            input(type="text", class="ipt", id="slider-from", value="€ 750", data-symboy='€')