/**
 * CSS RESPONSIVE PAGE MERCI
 */
 @media (max-width: 1500px) {
    .merci-info {
        right: 60px;
        width: 520px;
        .block-title {
            font-size: 40px;
            line-height: 52px;
        }
        .block-title-large {
            font-size: 100px;
            line-height: 128px;
        }
        .block-desc {
            font-size: 15px;
            line-height: 20px;
            width: 425px;
        }
    }
}
@media (max-width: 1366px) {
    .merci-info {
        right: 30px;
        width: 460px;
    }
}