.hero-slider-wrap
    .container
        .hero-info
            .caption-title PLUS  DE  200 000  RÉFÉRENCES
            h2.hero-ttl Trouvez&nbsp;
                span.orange rapidement&nbsp; 
                | les meilleurs textiles professionnels
            .block-search-wrap
                form
                    input(type="text", placeholder="Rechercher", class="ipt")
                    button(type="button", class="btn-search")
                        i.ico.search
            // END : SEARCH
            .hero-icon
                img(src="uploads/shirt.svg", alt='')
        // END: INFO
        .hero-slider
            .hero-item
                img(src="uploads/hero_1.jpg", alt="").pc
                img(src="uploads/slider_mb@2x.png", alt="").mb
            // END : ITEM
            .hero-item
                img(src="uploads/hero_1.jpg", alt="").pc
                img(src="uploads/slider_mb@2x.png", alt="").mb
            // END : ITEM
            .hero-item
                img(src="uploads/hero_1.jpg", alt="").pc
                img(src="uploads/slider_mb@2x.png", alt="").mb
            // END : ITEM
        // END : SLIDER