.logo-partner-list.pad-115
    .container
        h2.block-title LES MEILLEURES MARQUES
        .block-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit
        ul.logo-list.clearfix
            li
                a(href="#", target="_blank")
                    img(src="uploads/logos/logo-1.png", alt="")
            li
                a(href="#", target="_blank")
                    img(src="uploads/logos/logo-2.png", alt="")
            li
                a(href="#", target="_blank")
                    img(src="uploads/logos/logo-3.png", alt="")
            li
                a(href="#", target="_blank")
                    img(src="uploads/logos/logo-4.png", alt="")
            li
                a(href="#", target="_blank")
                    img(src="uploads/logos/logo-5.png", alt="")
            li
                a(href="#", target="_blank")
                    img(src="uploads/logos/logo-6.png", alt="")