.product-list-wrap.pad-115.home-product
    .container
        .block-title-wrap
            h2.block-title LA SELECTION POLOS
            .block-title-large POLOS
            .block-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit
        ul.product-list.clearfix
            li.product-item
                a(href="produit.html")
                    figure.product-pic
                        i.ico.heart
                        img(src="uploads/prods/pr_4.jpg", alt="")
                        .note Polo piqué femme
                    // END : IMG
                    .cate B&C
                    h3.ttl GN48L
                    .price 7,90 €
                    .tags-wrap &nbsp;
            // END : ITEM
            li.product-item
                a(href="produit.html")
                    figure.product-pic
                        i.ico.heart
                        img(src="uploads/prods/pr_2.jpg", alt="")
                        .note Polo piqué femme
                    // END : IMG
                    .cate B&C
                    h3.ttl GN48L
                    .price 7,90 €
                    .tags-wrap &nbsp;
            // END : ITEM
            li.product-item
                a(href="produit.html")
                    figure.product-pic
                        i.ico.heart
                        img(src="uploads/prods/pr_3.jpg", alt="")
                        .note Polo piqué femme
                    // END : IMG
                    .cate B&C
                    h3.ttl GN48L
                    .price 7,90 €
                    .tags-wrap &nbsp;
            // END : ITEM
            li.product-item
                a(href="produit.html")
                    figure.product-pic
                        i.ico.heart
                        img(src="uploads/prods/pr_1.jpg", alt="")
                        .note Polo piqué femme
                    // END : IMG
                    .cate B&C
                    h3.ttl GN48L
                    .price 7,90 €
                    .tags-wrap &nbsp;
            // END : ITEM
            li.product-item
                a(href="produit.html")
                    figure.product-pic
                        i.ico.heart
                        img(src="uploads/prods/pr_2.jpg", alt="")
                        .note Polo piqué femme
                    // END : IMG
                    .cate B&C
                    h3.ttl GN48L
                    .price 7,90 €
                    .tags-wrap &nbsp;
            // END : ITEM