.block-form-idea
    h3.idea-ttl Besoin d’encore + d’
        span.orange idées&nbsp;
        | ?
    .block-desc Notre moteur de suggestions est là pour ça !
    form
        .form-group
            .row
                .col-md-6
                    label(for="pour").lbl Pour
                    select.ipt-select.sml#pour
                        option Sélectionner
                        option Pour 1
                        option Pour 2
                // END 
                .col-md-6
                    label(for="dans").lbl Dans 
                    select.ipt-select.sml#dans
                        option Sélectionner
                        option Dans 1
                        option Dans 2
                // END 
        // END : GROUP
        .form-group
            label(for="budget").lbl Avec un budget de  
            select.ipt-select.sml#budget
                option Sélectionner
                option Budget 1
                option Budget 2
        // END : GROUP
        .form-group
            button(type="button", class="btn btn-orange") Trouver !
                i.ico.arrow_right
        // END : GROUP