.promotion-wrap
    .container
        .row
            .col-md-8.prom-left
                .row
                    .prom-mask
                        .d-flex
                            h2.block-title FOCUS
                            .block-desc des idées qui ont du #style
                    // END : MASK
                    .col-md-6.prom-item
                        a(href="#")
                            //- .quote.left-bottom.white
                            //-     span.line
                            //-     span.txt FEMME S > XL
                            //- .prom-icon
                            //-     img(src="uploads/ico_flower.svg", alt="")
                            img(src="uploads/promo-1@2x.png", alt="").pc
                            // END : IMG PC
                            img(src="uploads/promo-mb-1@2x.png", alt="").mb
                            // END : IMG MOBILE
                            .prom-info.left
                                //- h2.prom-ttl Nouvelle collection&nbsp;
                                //-     span.orange premium&nbsp;
                                //-     span.percent-blk -70%
                                //- .color-list
                                //-     span.color-item(style="background-color: #C7182D;")
                                //-     span.color-item(style="background-color: #94C11E;")
                                //-     span.color-item(style="background-color: #E03896;")
                                //-     span.color-item(style="background-color: #130E0D;")
                                .btn.btn-white Découvrir
                                    i.ico.arrow_right
                            // END : INFO
                    // END : ITEM
                    .col-md-6.prom-item
                        a(href="#")
                            //- .quote.top-right.white
                            //-     span.line
                            //-     span.txt MIXTE
                            img(src="uploads/promo-2@2x.png", alt="").pc
                            // END : IMG PC
                            img(src="uploads/promo-mb-2@2x.png", alt="").mb
                            // END : IMG MOBILE
                            .prom-info.right
                                //- h2.prom-ttl La bagagerie pour vos
                                //-     span.black déplacements
                                .btn.btn-white Découvrir
                                    i.ico.arrow_right
                            // END : INFO
                    // END : ITEM
            // END : LEFT
            .col-md-4.prom-right
                include promotion-form
            // END : RIGHT
        .bg-dot
            img(src="uploads/line_dot.svg", alt="")
        // END : ICON DOTs