.sale-wrap(style="background-color: #EBEFF2")
    .container
        .sale-bg(style="background-color: #EBEFF2; background-image: url('uploads/man.png")
            .quote.left-bottom
                span.line
                span.txt JUSQU’AU 10.10.19
            .row
                .col-md-6.sale-left
                    .sale-inner
                        figure.pic
                            img(src="uploads/logos/logo_1@2x.png", alt="")
                        .caption-title LES SOLDES&nbsp;
                            span IMBRETEX
                        h2.sale-ttl Toute la collection&nbsp;
                            span.orange Atlantis&nbsp;
                            | à 10% jusqu’a 10/10/19 !
                        a(href="#", class='btn btn-white') Je fonce !
                            i.ico.arrow_right
                // END : LEFT