#modalLogin(class="modal fade modal-imb", tabindex="-1" ,role="dialog", aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
        .modal-content
            .modal-header
                h3.modal-ttl Connectez-vous
                button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                    i.ico.close
            .modal-body 
                form.frm_login
                    .inner
                        .form-group
                            label(for="email").label-form.bold votre email
                            input(type="email", id="email",  class="ipt", placeholder="Nom d’utilisateur")
                        // END : GROUP
                        .form-group
                            label(for="password").label-form.bold votre mot de passe
                                a(href="#") Mot de passe oublié ?
                            input(type="password", id="password",  class="ipt", placeholder="Mot de passe")
                        // END : GROUP
                    .form-group.text-center
                        button(type="button", class="btn btn-orange lrg btn-login") Se connecter
                        a(href="#", data-dismiss="modal", data-toggle="modal" , data-target="#modalRegistration").orange.register_link Créer un compte
                    // END : GROUP