#modalRegistration(class="modal fade modal-imb", tabindex="-1" ,role="dialog", aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
        .modal-content
            .modal-header
                h3.modal-ttl Ouverture de compte
                .block-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae arcu sit amet faucibus. Fusce ultricies finibus diam vitae laoreet. Mauris eget turpis massa. Fusce nec sapien 
                button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                    i.ico.close
            .modal-body 
                form.frm_registation
                    .inner
                        .form-group
                            .row
                                .col-md-6
                                    label(for="reg_raison", class="label-form") Raison sociale*
                                    input(type="text", class="ipt", id="reg_raison")
                                // END : COL
                                .col-md-6
                                    label(for="reg_phone", class="label-form") Téléphone*
                                    input(type="tel", class="ipt", id="reg_phone")
                                // END : COL
                        // END GROUP
                        .form-group
                            .row
                                .col-md-6
                                    label(for="civilite", class="label-form") Civilité*
                                    select.ipt-select#civilite
                                        option Civilité
                                        option Civilité 1
                                // END : COL
                                .col-md-6
                                    label(for="reg_address", class="label-form") Adresse*
                                    input(type="text", class="ipt", id="reg_address")
                                // END : COL
                        // END GROUP
                        .form-group
                            .row
                                .col-md-6
                                    label(for="reg_nom", class="label-form") Nom*
                                    input(type="text", class="ipt", id="reg_nom")
                                // END : COL
                                .col-md-6
                                    label(for="reg_complement", class="label-form") Complément d’adresse
                                    input(type="text", class="ipt", id="reg_complement")
                                // END : COL
                        .form-group
                            .row
                                .col-md-6
                                    label(for="reg_prenom", class="label-form") Prénom*
                                    input(type="text", class="ipt", id="reg_prenom")
                                // END : COL
                                .col-md-6
                                    .row
                                        .col-md-4.col-child
                                            label(for="reg_code", class="label-form") Code postal*
                                            input(type="text", class="ipt", id="reg_code")
                                        // END : COL
                                        .col-md-8.col-child
                                            label(for="reg_ville", class="label-form") Ville*
                                            input(type="text", class="ipt", id="reg_ville")
                                        // END : COL
                                // END : COL
                        // END GROUP
                        .form-group
                            .row
                                .col-md-6
                                    label(for="reg_siret", class="label-form") SIRET ou KBIS*
                                    input(type="text", class="ipt", id="reg_siret")
                                    a(href="#").insert-file
                                        i.ico.insert_file
                                        | Joindre un fichier
                                // END : COL
                                .col-md-6
                                    label(for="reg_pay", class="label-form") Pays*
                                    input(type="text", class="ipt", id="reg_pay")
                                // END : COL
                        // END GROUP
                        .form-group
                            label(for="commentaires", class="label-form") Commentaires
                            textarea.ipt-text#commentaires(placeholder="Indiquer vos commentaires")
                        // END GROUP
                    .form-group.text-center
                        button(type="button", class="btn btn-orange lrg") Envoyer la demande
                    // END : GROUP