#modalLang(class="modal fade modal-imb", tabindex="-1" ,role="dialog", aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
        .modal-content
            .modal-header
                h3.modal-ttl Préférences
                button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                    i.ico.close
            .modal-body 
                form.frm_lang
                    .inner
                        .form-group
                            .row
                                .col-md-4
                                    label(for="chooseLang").label-form.bold Langue
                                // END : COL
                                .col-md-8
                                    //- select.ipt-select#slLang
                                    //-     option Français
                                    //-     option English
                                    .flagstrap(data-input-name="country2", 
                                    data-selected-country="FR")#chooseLang
                                // END : COL
                        // END : GROUP
                        .form-group
                            .row
                                .col-md-4
                                    label(for="slDevise").label-form.bold Devise
                                // END : COL
                                .col-md-8
                                    select.ipt-select#slDevise
                                        option € EUR
                                        option $ USD
                                // END : COL
                        // END : GROUP
                    .form-group.text-center
                        button(type="button", class="btn btn-orange lrg") Mettre à jour les préférences
                    // END : GROUP