.social-list
    ul.lst
        li
            a(href="#")
                i.ico.twitter
        li
            a(href="#")
                i.ico.instagram
        li
            a(href="#")
                i.ico.facebook
    a(href="#").link_share
        i.ico.share  