.option-address-wrap.pb-40.commandes-wrap
    .row
        .col-md-6
            .row
                .col-md-6
                    h3.option-address-ttl Choisissez une adresse de livraison
                    .block-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                // END : COL
                .col-md-6
                    .form-group
                        select.ipt-select
                            option Sélectionner une adresse 
                            option adresse - 1
                            option adresse - 2
                    // END: GROUP
                    .form-group
                        a(href="#").add-address
                            i.ico.add
                            | Ajouter une nouvelle adresse
                    // END: GROUP
                // END : COL
        // END : COL
        .col-md-6
            .card-box
                .card-title
                    h3.card-ttl.text-uppercase ADRESSE DE LIVRAISON
                    a(href="#").edit.action-circle
                        i.ico.pen
                .card-content
                    .head
                        h3.card-content-ttl BUREAU
                        .txt Emmanuel Maisonneuve
                        .txt HEGYD
                        .txt 9 rue James Watt
                        .txt 49100 Angers - France
                    .txt 02 41 41 41 41
            // END: CARD
        // END : COL