.block-options.options-livraison
    .head-option
        h2.option-ttl CHOIX DU MODE LIVRAISON
    // END : HEAD
    .content-option
        .row    
            .col-md-6.option-item
                input(type="radio", class="ipt_radio" name="option_mode", id="option_5") 
                label(for="option_5") 
                    .shape 
                    .label-content
                        .opt-pic
                            img(src="uploads/checkout/ic_express@2x.png", alt="")
                        // END : PIC
                        .opt-content
                            .ctent
                                h3.opt-title Livraison express garanti
                                .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae arcu sit amet faucibus.
                                .date Livré le 10/10/10&nbsp;
                                    span (estimatif)
                            // END
                            .opt-price 7,90 €
                        // END : PIC
            // END : ITEM
            .col-md-6.option-item
                input(type="radio", class="ipt_radio" name="option_mode", id="option_6") 
                label(for="option_6") 
                    .shape 
                    .label-content
                        .opt-pic
                            img(src="uploads/checkout/ic_build@2x.png", alt="")
                        // END : PIC
                        .opt-content
                            .ctent
                                h3.opt-title Enlèvement sur site
                                .date Livré le 10/10/10&nbsp;
                                    span (estimatif)
                            // END
                            .opt-price 7,90 €
                        // END : PIC
            // END : ITEM
            .col-md-6.option-item
                input(type="radio", class="ipt_radio" name="option_mode", id="option_7", checked) 
                label(for="option_7") 
                    .shape 
                    .label-content
                        .opt-pic
                            img(src="uploads/checkout/ic_package@2x.png", alt="")
                        // END : PIC
                        .opt-content
                            .ctent
                                h3.opt-title Livraison standard
                                .date Livré le 10/10/10&nbsp;
                                    span (estimatif)
                            // END
                            .opt-price 7,90 €
                        // END : PIC
            // END : ITEM
            .col-md-6.option-item
                input(type="radio", class="ipt_radio" name="option_mode", id="option_8") 
                label(for="option_8") 
                    .shape 
                    .label-content
                        .opt-pic
                            img(src="uploads/checkout/ic_group@2x.png", alt="")
                        // END : PIC
                        .opt-content
                            .ctent
                                h3.opt-title Relais colis
                                .date Livré le 10/10/10&nbsp;
                                    span (estimatif)
                            // END
                            .opt-price 7,90 €
                        // END : PIC
            // END : ITEM