.options-wrap
    .container
        form
            include option-first
            // END : OPTION
            include option-address
            // END : ADDRESS
            include option-second
            // END : OPTION
            .options-button.pb-60
                button(type="button", class="btn btn-orange lrg") Valider les options
            // END : BUTTON