.block-options
    .head-option
        h2.option-ttl OPTION
    // END : HEAD
    .content-option
        .row    
            .col-md-6.option-item
                input(type="radio", class="ipt_radio" name="option", id="option_1", checked) 
                label(for="option_1") 
                    .shape 
                    .label-content
                        .opt-pic
                            img(src="uploads/checkout/ic_business_center@2x.png", alt="")
                        // END : PIC
                        .opt-content
                            .ctent
                                h3.opt-title Nom de l’option
                                .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae arcu sit amet faucibus. Fusce ultricies finibus diam 
                                a(href="#").insert-file
                                    i.ico.insert_file
                                    | Joindre un fichier
                            // END
                            .opt-price 7,90 €
                        // END : PIC
            // END : ITEM
            .col-md-6.option-item
                input(type="radio", class="ipt_radio" name="option", id="option_2") 
                label(for="option_2") 
                    .shape 
                    .label-content
                        .opt-pic
                            img(src="uploads/checkout/ic_business_center@2x.png", alt="")
                        // END : PIC
                        .opt-content
                            .ctent
                                h3.opt-title Nom de l’option
                                .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae arcu sit amet faucibus. Fusce ultricies finibus diam 
                                a(href="#").insert-file
                                    i.ico.insert_file
                                    | Joindre un fichier
                            // END
                            .opt-price 7,90 €
                        // END : PIC
            // END : ITEM
            .col-md-6.option-item
                input(type="radio", class="ipt_radio" name="option", id="option_3") 
                label(for="option_3") 
                    .shape 
                    .label-content
                        .opt-pic
                            img(src="uploads/checkout/ic_business_center@2x.png", alt="")
                        // END : PIC
                        .opt-content
                            .ctent
                                h3.opt-title Nom de l’option
                                .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae arcu sit amet faucibus. Fusce ultricies finibus diam 
                                a(href="#").insert-file
                                    i.ico.insert_file
                                    | Joindre un fichier
                            // END
                            .opt-price 7,90 €
                        // END : PIC
            // END : ITEM
            .col-md-6.option-item
                input(type="radio", class="ipt_radio" name="option", id="option_4") 
                label(for="option_4") 
                    .shape 
                    .label-content
                        .opt-pic
                            img(src="uploads/checkout/ic_business_center@2x.png", alt="")
                        // END : PIC
                        .opt-content
                            .ctent
                                h3.opt-title Nom de l’option
                                .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae arcu sit amet faucibus. Fusce ultricies finibus diam 
                                a(href="#").insert-file
                                    i.ico.insert_file
                                    | Joindre un fichier
                            // END
                            .opt-price 7,90 €
                        // END : PIC
            // END : ITEM