.checkout-step
    .container
        .inner
            .row
                .col-md-4.step-item.past
                    a(href="panier.html")
                        .step-cir
                            i.ico.cart
                        .step-title 
                            span Validation&nbsp;
                            span du panier
                    // END: ITEM
                .col-md-4.step-item.active
                    a(href="options.html")
                        .step-cir
                            i.ico.delivery
                        .step-title 
                            span Gérer mes options et&nbsp;
                            span mes modes de livraison
                // END: ITEM
                .col-md-4.step-item
                    a(href="panier-1.html")
                        .step-cir
                            i.ico.check_thin
                        .step-title 
                            span Finalisation&nbsp;
                            span De la commande
                // END: ITEM