include link-info-mobile
// END 
.commandes-wrap.pb-60.detail-commandes
    .container
        .row
            .col-md-3.comm-left
                .box-white
                    include ../info
                    // END : MENU
            // END : LEFT
            .col-md-9.comm-right
                include info
                // END : INFO
                include table
                // END : TABLE
                include payment-info
                // END : PAYMENT INFO
                include sprint
                // END : SPRINT
                include modal-modifier
                // END : MODAL MODIFIER
                include modal-declaration
                // END : MODAL DECLARATION
                include modal-declaration-step-2
                // END : MODAL DECLARATION STEP 2
            // END : RIGHT