.detail-command-info.pb-60
    .inner
        .row
            .col-md-4
                h3.ttl Adresse livraison :
                .txt Emmanuel Maisonneuve
                .txt HEGYD
                .txt 9 rue James Watt
                .txt 49100 Angers - France
            // END : COL
            .col-md-4
                h3.ttl Num tracking colis
                .txt DJS-45679RM
                .txt JHS-56782ZM
            // END : COL
            .col-md-4
                h3.ttl Commentaires
                .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae arcu sit amet faucibus. Fusce ultricies finibus diam vitae laoreet. Mauris eget turpis massa. 
            // END : COL
    // END 
    .detail-button-wrap
        a(href="#", class="btn btn-outline-orange")
            i.ico.download
            | Bon de livraison
            i.ico.arrow_down
        a(href="#", class="btn btn-outline-orange")
            i.ico.download
            | Facture