#modalModifier(class="modal fade modal-imb", tabindex="-1" ,role="dialog",aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
        .modal-content
            .modal-header
                h3.modal-ttl Modifier ou supprimer le reliquat
                .block-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae arcu sit amet faucibus. Fusce ultricies finibus diam vitae laoreet. Mauris eget turpis massa. Fusce nec sapien 
                button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                    i.ico.close
            .modal-body 
                form.frm_modifier
                    .inner
                        .form-group
                            label(for="modi_produit", class="label-form") produit
                            select.ipt-select#modi_produit.col-input
                                option Ref XXXXXX - Polo piqué femme - TAILLE : M  /  COULEUR :  ROSE
                                option Ref XXXXXX - Polo piqué femme - TAILLE : M  /  COULEUR :  BLUE
                        // END GROUP
                        .form-group
                            label(for="modi_reliquats", class="label-form") Reliquats
                            input(type="tel", class="ipt col-input", id="modi_reliquats", value="10", disabled)
                        // END GROUP
                        .form-group.lbl-message
                            label(for="modi_message", class="label-form") Message
                            textarea.col-input#modi_message.ipt-text(placeholder="Indiquer votre message à Imbretex")
                        // END GROUP
                        .form-group
                            .label-form.empty &nbsp;
                            .col-input
                                input(type="checkbox", class="ipt_checkbox" name="modi", id="modi", checked) 
                                label(for="modi") 
                                    span.shape 
                                    span.txt Choisir un produit de remplacement
                        // END GROUP
                        .form-group
                            label(for="modi_txt_produit", class="label-form") Produit de remplacement
                            textarea.col-input#modi_txt_produit.ipt-text(placeholder="Indiquer le produit de remplacement")
                        // END GROUP
                    .form-group.text-center
                        button(type="button", class="btn btn-orange lrg") Valider
                    // END : GROUP