#modalDeclaration(class="modal fade modal-imb", tabindex="-1" ,role="dialog", aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
        .modal-content
            .modal-header
                h3.modal-ttl Déclaration de litige
                .block-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae arcu sit amet faucibus. Fusce ultricies finibus diam vitae laoreet. Mauris eget turpis massa. Fusce nec sapien 
                button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                    i.ico.close
            .modal-body 
                form.frm_meclaration
                    .inner
                        .form-group
                            .row
                                .col-md-3.col-sm-3.col-xs-12.col-title
                                    label(for="declare_produit", class="label-form") produit
                                // END
                                .col-md-9.col-sm-9.col-xs-12.col-input
                                    select.ipt-select#declare_produit.col-input
                                        option Ref XXXXXX - Polo piqué femme - TAILLE : M  /  COULEUR :  ROSE&nbsp;&nbsp;&nbsp;Quantité livrée : 10/10
                                        option Ref XXXXXX - Polo piqué femme - TAILLE : M  /  COULEUR :  BLUE&nbsp;&nbsp;&nbsp;Quantité livrée : 10/10
                                // END 
                        // END GROUP
                        .form-group
                            .row
                                .col-md-3.col-sm-3.col-xs-12.col-title.col-empty &nbsp;
                                // END
                                .col-md-9.col-sm-9.col-xs-12.col-input
                                    .table-responsive
                                        table.table.table-imb
                                            thead
                                                tr
                                                    th.text-center Produit
                                                    th.text-center commandée
                                                    th.text-center Livrée
                                                    th.text-center À réexpédier
                                                        span Par imbretex
                                                    th.text-center à retourner
                                                        span par le client
                                            tbody
                                                tr
                                                    td 
                                                        .txt Ref XXXXXX - Polo piqué femme
                                                        .txt TAILLE : M
                                                        .txt COULEUR :  ROSE
                                                    td.text-center 10
                                                    td.text-center 10
                                                    td  
                                                        .custom-number
                                                            input(type="number", class="ipt_num", value='10', min="1", max="100" ,step="1")
                                                    td  
                                                        .custom-number
                                                            input(type="number", class="ipt_num", value='10', min="1", max="100" ,step="1")
                                // END 
                        // END GROUP
                        .form-group
                            .row
                                .col-md-3.col-sm-3.col-xs-12.col-title
                                    label(for="declare_motif", class="label-form") Motif du retour
                                // END
                                .col-md-9.col-sm-9.col-xs-12.col-input
                                    select.ipt-select#declare_motif.col-input
                                        option Produit défectueux
                                        option Produit défectueux 1
                                // END 
                        // END GROUP
                        .form-group
                            .row
                                .col-md-3.col-sm-3.col-xs-12.col-title
                                    label(class="label-form") Joindre des fichiers
                                // END
                                .col-md-9.col-sm-9.col-xs-12.col-input
                                    .fichiers
                                        .fich-item
                                            i.ico.file
                                            .fich-content
                                                .name IMG-0078
                                                .size PNG 109KB
                                            a(href="#").remove
                                                i.ico.close
                                        // END 
                                        .fich-item
                                            i.ico.file
                                            .fich-content
                                                .name IMG-0079
                                                .size PNG 109KB
                                            a(href="#").remove
                                                i.ico.close
                                        // END 
                                    // END 
                                    a(href="#").insert-file
                                        i.ico.insert_file
                                        | Joindre un fichier
                                // END 
                        // END GROUP
                        .form-group.lbl-message
                            .row
                                .col-md-3.col-sm-3.col-xs-12.col-title
                                    label(for="declare_message", class="label-form") Commentaires
                                // END
                                .col-md-9.col-sm-9.col-xs-12.col-input
                                    textarea.col-input#modi_message.ipt-text(placeholder="Indiquer vos commentaires")
                                // END 
                        // END GROUP
                    .form-group.text-center.group-button.has-two
                        button(type="button", class="btn btn-orange lrg", data-dismiss="modal") 
                            i.ico.add
                            | Ajouter un litige
                        button(type="button", class="btn btn-dark lrg", data-toggle="modal" , data-target="#modalDeclarationStep2", data-dismiss="modal") 
                            | Suivant
                            i.ico.arrow_right
                    // END : GROUP