#modalDeclarationStep2(class="modal fade modal-imb", tabindex="-1" ,role="dialog", aria-hidden="true")
    .modal-dialog.modal-dialog-centered(role="document")
        .modal-content
            .modal-header
                h3.modal-ttl Déclaration de litige
                .block-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae arcu sit amet faucibus. Fusce ultricies finibus diam vitae laoreet. Mauris eget turpis massa. Fusce nec sapien 
                button(type="button", class="close", data-dismiss="modal", aria-label="Close")
                    i.ico.close
            .modal-body 
                .meclaration_step2
                    .inner
                        .block-module.hiden
                            .mod-title 
                                a(href="#").remove
                                    i.ico.close
                                h3.ttl Ref XXXXXX - Polo piqué femme - TAILLE : M  /   COULEUR :  ROSE
                                    span.sub Quantité livrée : 10/10
                            .mod-content
                                p 
                                    strong Quantité à réexpédier&nbsp;
                                    | : 10
                                p 
                                    strong Quantité à retourner&nbsp;
                                    | : 10
                                p 
                                    strong Motif du retour&nbsp;
                                    | Produit défectueux
                                p 
                                    strong Fichiers joints&nbsp;
                                    | IMG-0079&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;IMG-0080
                                p 
                                    strong Fichiers joints&nbsp;
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae arcu sit amet faucibus. Fusce ultricies finibus diam vitae laoreet. Mauris eget turpis 
                        // END 
                        .block-module
                            .mod-title 
                                a(href="#").remove
                                    i.ico.close
                                h3.ttl Ref XXXXXX - Polo piqué femme - TAILLE : M  /   COULEUR :  ROSE
                                    span.sub Quantité livrée : 10/30
                            .mod-content
                                p 
                                    strong Quantité à réexpédier&nbsp;
                                    | : 10
                                p 
                                    strong Quantité à retourner&nbsp;
                                    | : 10
                                p 
                                    strong Motif du retour&nbsp;
                                    | Produit défectueux
                                p 
                                    strong Fichiers joints&nbsp;
                                    | IMG-0079&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;IMG-0080
                                p 
                                    strong Fichiers joints&nbsp;
                                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae arcu sit amet faucibus. Fusce ultricies finibus diam vitae laoreet. Mauris eget turpis 
                        // END 
                    .form-group.text-center.group-button.has-two
                        button(type="button", class="btn btn-dark lrg", , class="btn btn-dark lrg", data-toggle="modal" , data-target="#modalDeclaration", data-dismiss="modal") 
                            i.ico.arrow_left
                            | Précédent
                        button(type="button", class="btn btn-orange lrg", , data-dismiss="modal") 
                            | Terminer
                    // END : GROUP