.payment-info-wrap.pb-60
    .row
        .col-md-6.payment-left &nbsp;
        // END : COL 
        .col-md-6.payment-right
            table.table.table-payment
                tr
                    td
                        span Coût de transport 
                        span LIVRÉ LE 10/10/19 (estimatif)
                    td.price.prc_right 7,90 €
                    td.empty &nbsp;
                tr
                    td FRAIS DE DOUANES
                    td.price.prc_right 150,00 €
                    td.empty &nbsp;
                tr
                    td OPTIONS
                    td.price.prc_right 7,90 €
                    td.empty &nbsp;
                tr
                    td TOTAL HT
                    td.price.prc_right 6 950,00 €
                    td.empty &nbsp;
                tr
                    td TVA
                    td.price.prc_right 100,00 €
                    td.empty &nbsp;
                tr
                    td  TOTAL DE LA COMMANDE
                    td.price.prc_right
                        span.orange 7 100,00 €
                    td.empty &nbsp;
        // END : COL 