.block-title-page.pb-60
    .container
        .inner
            h1.block-title commande xxxxxxx 
            .block-title-large commande xxxxxxx 
            .block-desc 10/10/19 à 15h30&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;REF : 2019-06&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;7 100,00€
            .block-status
                .status.success
                    .cir
                    | Expédiée