/**
 * Media 767px : actualites
 */
@media (max-width: 767px) {
    .cms-content-wrap {
        padding-top: 0px;
    }
    .actualites-item {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .entry-note {
        padding-top: 40px;
    }
    .actualites-wrap {
        &.imb_tab {
            .nav-tabs {
                margin-bottom: 0;      
                width: 707px; 
            }
        }
        .head-tab {
            margin-bottom: 45px;
        }
    }
    .head-tab {
        position: relative;
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            z-index: 1;
            right: 0;
            width: 80px;
            background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
            background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
            background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%);
        }
    }
    .sortby {
        justify-content: flex-start;
    }
    .block-sortby {
        &.pb-60 {
            padding-bottom: 40px;
        }
    }
    .category-desc-wrap {
        .block-title-large {
            font-size: 124px;
            line-height: 151px;       
            top: auto;
            bottom: -55px;
        }
    }
    .actualites-item {
        margin-bottom: 30px;
    }
}
@media (max-width: 575px) {
    .actualites-item {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (max-width: 560px) {
    .actualites-list {
        .row {
            margin-left: -5px;
            margin-right: -5px;
            [class*="col"] {
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
    .actualites-item {
        margin-bottom: 20px;
    }
    .card-box {
        .card-content-ttl {
            font-size: 15px;
        }
    }
}
@media (max-width: 480px) {
    .block-content-cms.third .entry-note {
        padding-left: 15px;
    }
}
@media (max-width: 440px) {
    .actualites-item {
        .cate, .date {
            font-size: 11px;
        }
        .txt {
            font-size: 12px;
            line-height: 16px;
        }
        .ttl {
            font-size: 14px;
            line-height: 18px;
            height: 36px;
        }
    }
}
@media (max-width: 380px) {
    .sortby {
        .lbl {
            display: none;
        }
    }
}