/**
 * CSS RESPONSIVE PAGE ACTUALITES
 */
@media (max-width: 1800px) {
    .blk-dot-bg {
        &.right-top {
            .bg-dot {
                right: -30px;
            }
        }
        &.left-bottom  {
            .bg-dot {
                left: -30px;
            }
        }
    }
}
@media (max-width: 1754px) {
    .actualites-wrap {
        overflow: hidden;
    }
    .blk-dot-bg {
        &.right-top {
            .bg-dot {
                right: -15px;
            }
        }
        &.left-bottom  {
            .bg-dot {
                left: -15px;
            }
        }
    }
}
@media (max-width: 1500px) {
    .actualites-item {
        .more {
            font-size: 15px;
            line-height: 20px;
            .ico {
                margin-left: 10px;
            }
        }
        .txt {
            font-size: 14px;
            line-height: 18px;
        }
    }
    .imb_tab {
        .nav-tabs {
            .nav-link {
                font-size: 17px;
            }
            .nav-item {
                margin-left: 15px;
                margin-right: 15px;
            }
        }
    }
    .block-content-cms {
        &.first {
            padding-bottom: 100px;
            .position-relative {
                padding-left: 60px;
            } 
        }
        &.second {
            .position-relative {
                padding-right: 60px;
            } 
        }
    }
    .block-content-cms {
        &.third {
            .entry-content {
                padding-right: 60px;
            }
            .entry-note {
                padding-left: 60px;
            }
        }
    }
    .entry-content {
        h2, h3, h4 {
            margin-bottom: 30px;
        }
        p, div {
            margin-bottom: 20px;
        }
    }
    .cms-social {
        .inner {
            padding-bottom: 60px;
        }
    }
}
@media (max-width: 1366px) {
    .imb_tab {
        .nav-tabs {
            .nav-link {
                font-size: 15px;
            }
        }
    }
    .block-content-cms {
        &.first {
            .position-relative {
                padding-left: 30px;
            } 
        }
        &.second {
            .position-relative {
                padding-right: 30px;
            } 
        }
    }
    .block-content-cms {
        &.third {
            .entry-content {
                padding-right: 30px;
            }
            .entry-note {
                padding-left: 30px;
            }
        }
    }
    .entry-content, .cms-social {
        font-size: 14px;
        line-height: 18px;
    }
}
@media (max-width: 1024px) {
    .actualites-item {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
    }
    .block-title-page {
        .block-title-large {
            font-size: 40px;
            line-height: 52px;
            top: -15px;
        }
    }
    .status {
        align-items: baseline;
    }
}