/**
 * CSS RESPONSIVE PAGE actualites
 * 992-
 */
@media (max-width: 900px) {
    .imb_tab {
        .nav-tabs {
            .nav-item {
                margin-left: 10px;
                margin-right: 10px;
            }
            .nav-link {
                font-size: 13px;
                letter-spacing: 4px;
            }
        }
    }
    .actualites-item {
        .actualites-info {
            padding: 15px;
        }
    }
}
@media (max-width: 860px) {
    .block-content-cms {
        &.pad-80 {
            padding-bottom: 60px;
            padding-bottom: 60px;
        }
        .col-md-6 {
            flex: auto;
            max-width: none;
        }
        &.first {
            .row {
                flex-direction: column-reverse;
            }
            .position-relative {
                padding-left: 0;
            }
            .cms-right {
                margin-bottom: 30px;
            }
        }
        &.second {
            .cms-right {
                padding-left: 15px;
                margin-top: 80px;
                position: relative;
                z-index: 5;
            }
            .position-relative {
                padding-right: 0;
            }
        }
        &.third {
            &.pad-80 {
                padding-top: 60px;
            }
            .entry-content {
                padding-right: 0;
            }
        }
    }
    .entry-note {
        padding-top: 60px;
    }
    .entry-content, .cms-social {
        line-height: 20px;
    }
    .cms-social {
        .inner {
            padding-bottom: 40px;
        }
    }
}
@media (max-width: 800px) {
    .actualites-list {
        .row {
            margin-left: -10px;
            margin-right: -10px;
            [class*="col"] {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}