.merci-banner.blk-dot-bg.left-bottom
    .container
        .merci-banner-info
            img(src="uploads/banner_merci@2x.png", alt="").merci-img
            .merci-mobile-bg(style="background-image: url(uploads/banner_merci@2x.png)")
            .merci-info
                .merci-title
                    h2.block-title Merci !
                    .block-title-large Merci
                .block-desc Merci de votre commande ! Retrouvez le détail de votre commande dans Mon compte > Mes commandes 
                a(href="#", class="btn btn-orange lrg") Retour à l’accueil
            // END : INFO
        // END : BANNER
        .bg-dot
            img(src="uploads/line_dot.svg", alt="")
        // END : ICON DOTs