extends layouts/layout
block main
    include blocks/accueil/breadcrumb.jade
    // END : BREADCRUMB
    include blocks/accueil/title.jade
    // END : TITLE PAGE
    include blocks/accueil/accueil.jade
    // END : CONTENT