extends layouts/layout
block main
    include blocks/actualites/breadcrumb.jade
    // END : BREADCRUMB
    include blocks/actualites/title.jade
    // END : TITLE PAGE
    include blocks/actualites/sort-by.jade
    // END : BLOCK SORT
    include blocks/actualites/actualites.jade
    // END : ACTUALITÉS