extends layouts/layout
block main
    include blocks/cms/breadcrumb.jade
    // END : BREADCRUMB
    include blocks/cms/title.jade
    // END : TITLE PAGE
    include blocks/cms/content.jade
    // END : BLOCK CONTENT CMS