extends layouts/layout
block main
    include blocks/commandes/detail/breadcrumb.jade
    // END : BREADCRUMB
    include blocks/commandes/detail/title.jade
    // END : TITLE PAGE
    include blocks/commandes/detail/detail.jade
    // END : CONTENT