extends layouts/layout
block main
    include blocks/accueil/breadcrumb.jade
    // END : BREADCRUMB
    include blocks/gestion/title.jade
    // END : TITLE PAGE
    include blocks/gestion/gestion-utilisateurs.jade
    // END : CONTENT