extends layouts/layout_home
block main
    include blocks/homepage/hero-slider
    // END : HERO SLIDER
    include blocks/homepage/promotion
    // END : BLOCK PROMOTION
    include blocks/homepage/product-list
    // END : PRODUCT LIST
    include blocks/homepage/sale
    // END : BLOCK SALE
    include blocks/homepage/logo-list
    // END : LOGO LIST