extends layouts/layout
block main
    .container
        h1 SITE MAP
        ul.site-map-list
            li
                a(target="_blank" href="index.html") Homepage
            li
                a(target="_blank" href="marque.html") Marques
            li
                a(target="_blank" href="merci.html") Merci
            li
                a(target="_blank" href="contact.html") Contact
            li
                a(target="_blank" href="actualites.html") Actualités
            li
                a(target="_blank" href="content-cms.html") Content CMS
            li
                a(target="_blank" href="mes-commandes.html") Mes Commandes
            li
                a(target="_blank" href="detail-commandes.html") Détails Commandes
            li
                a(target="_blank" href="reliquats.html") Reliquats
            li
                a(target="_blank" href="sav.html") SAV
            li
                a(target="_blank" href="sav-detail.html") Détails SAV
            li
                a(target="_blank" href="accueil-mon-compte.html") Accueil Mon Compte
            li
                a(target="_blank" href="gestion-utilisateurs.html") Gestion Utilisateurs
            li
                a(target="_blank" href="panier.html") Panier
            li
                a(target="_blank" href="options.html") Options
            li
                a(target="_blank" href="panier-1.html") Panier 1
            li
                a(target="_blank" href="produit.html") Produit
            li
                a(target="_blank" href="produit-6.html") Produit 6