extends layouts/layout
block main
    include blocks/commandes/breadcrumb.jade
    // END : BREADCRUMB
    include blocks/commandes/title.jade
    // END : TITLE PAGE
    include blocks/commandes/search.jade
    // END : SEARCH
    include blocks/commandes/commandes.jade
    // END : CONTENT