extends layouts/layout
block main
    include blocks/panier/breadcrumb.jade
    // END : BREADCRUMB
    include blocks/panier/title.jade
    // END : TITLE PAGE
    include blocks/options/step.jade
    // END : STEP
    include blocks/options/options.jade
    // END : OPTIONS