extends layouts/layout
block main
    include blocks/panier/breadcrumb.jade
    // END : BREADCRUMB
    include blocks/panier/title.jade
    // END : TITLE PAGE
    include blocks/panier/finish/step.jade
    // END : STEP
    include blocks/panier/finish/panier.jade
    // END : CONTENT