extends layouts/layout
block main
    include blocks/panier/breadcrumb.jade
    // END : BREADCRUMB
    include blocks/panier/title.jade
    // END : TITLE PAGE
    include blocks/panier/step.jade
    // END : STEP
    include blocks/panier/checkout.jade
    // END : CHECKOUT