extends layouts/layout
block main
    include blocks/prd_detail_a/breadcrumb.jade
    // END : BREADCRUMB
    include blocks/prd_detail_a/breadcrumb_mb.jade
    // END : BREADCRUMB MB
    include blocks/prd_detail_a/header_ttl.jade
    // END : BLOCK TITLE
    include blocks/prd_detail_a/main_ct_colors
    // END : CONTENT