extends layouts/layout
block main
    include blocks/reliquats/breadcrumb.jade
    // END : BREADCRUMB
    include blocks/reliquats/title.jade
    // END : TITLE PAGE
    include blocks/commandes/search.jade
    // END : SEARCH
    include blocks/reliquats/reliquats.jade
    // END : CONTENT