extends layouts/layout_profile
block main
    include blocks/sav/detail/breadcrumb.jade
    // END : BREADCRUMB
    include blocks/sav/detail/title.jade
    // END : TITLE PAGE
    include blocks/sav/detail/detail.jade
    // END : CONTENT