/**
 * CSS RESPONSIVE PAGE CHECKOUT
 */
@media (max-width: 1500px) {
    .option-address-wrap {
        .add-address {
            font-size: 14px;
        }
    }
    .checkout-step {
        .step-title  {
            font-size: 14px;
            line-height: 16px;
        }
    }
    .checkout-wrap {
        .btn-valider {
            margin-right: 0;
        }
        .table-item {
            .clor-item {
                padding-left: 20px;
            }
        }
        .table-product, .table-payment {
            .prc_right {
                padding-right: 70px;
            }
        }
        .table-prod-align {
            .table-item {
                .action-circle {
                    right: -83px;
                }
            }
        }
    }
    .checkout-term {
        .term-inner {
            padding: 15px 20px;
        }
        .ttl {
            font-size: 14px;
            line-height: 19px;
        }
        .ipt_checkbox {
            & + label {
                font-size: 14px;
                line-height: 19px;
            }
        }
    }
    .checkout-wrap {
        .table-item {
            .col-id {
                width: 100px;
            }
        }
    }
    .block-options {
        .ipt_radio {
            &+ label {
                padding: 20px 15px;
            }
        }
    }
    .ipt_radio {
        &+ label {
            .shape {
                margin-right: 20px;
            }
        }
    }
    .option-item {
        .opt-pic {
            margin-right: 20px;
        }
        .opt-title {
            font-size: 14px;
            line-height: 19px;
        }
        .txt {
            font-size: 14px;
            line-height: 16px;
        }
        .opt-content {
            .opt-price {
                font-size: 14px;
                line-height: 16px;
            }
        }
    }
    .option-address-wrap {
        .option-address-ttl {
            font-size: 12px;
            line-height: 14px;
            padding-left: 0;
        }
    }
    .method-wrap {
        width: 90%;
        .txt {
            font-size: 14px;
            line-height: 18px;
        }
    }
    .panier-options {
        .option-item {
            .label-content {
                padding: 20px;
            }
        }
    }
}
@media (max-width: 1200px) {
    .checkout-wrap {
        .table-product, .table-payment {
            .prc_right {
                padding-right: 60px;
            }
        }
        .table-prod-align {
            .table-item {
                .action-circle {
                    right: -73px;
                }
            }
        }
    }
}
@media (max-width: 1024px) {
    .checkout-wrap {
        .table-product, .table-payment {
            .prc_right {
                padding-right: 50px;
            }
        }
        .table-prod-align {
            .table-item {
                .action-circle {
                    right: -63px;
                }
            }
        }
    }
}