/**
 * CSS RESPONSIVE PAGE PANIER
 * 992-
 */
@media (max-width: 992px) { 
    .step-item {
        &:first-child {
            a {
                padding-left: 23px;
            }
        }
        &:last-child {
            a {
                padding-right: 23px;
            }
        }
    }
    .option-address-wrap {
        .row {
            .row {
                .col-md-6 {
                    flex: 0 0 100%;
                    max-width: 100%;
                    &:first-child {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}
@media (max-width: 960px) {
    .checkout-wrap {
        .table-responsive {
            .table-product {
                width: 960px;
            }
        }
        .table-item {
            .col-id {
                width: 55px;
            }
        }
    }
}