.option-address-wrap.pb-40.commandes-wrap
    .row
        .col-md-6
            .card-box
                .card-title
                    h3.card-ttl.text-uppercase ADRESSE DE FACTURATION
                    a(href="#").edit.action-circle
                        i.ico.pen
                .card-content
                    .head
                        .txt Emmanuel Maisonneuve
                        .txt HEGYD
                        .txt 9 rue James Watt
                        .txt 49100 Angers - France
                    .txt 02 41 41 41 41
            // END: CARD
        // END : COL
        .col-md-6
            .card-box
                .card-title
                    h3.card-ttl.text-uppercase ADRESSE DE LIVRAISON
                    a(href="#").edit.action-circle
                        i.ico.pen
                .card-content
                    .head
                        .txt Emmanuel Maisonneuve
                        .txt HEGYD
                        .txt 9 rue James Watt
                        .txt 49100 Angers - France
                    .txt 02 41 41 41 41
            // END: CARD
        // END : COL