.panier-message
    .panier-promo
        h3.promo-ttl J’AI UN CODE PROMO
        .promo-input-wrap
            input(type="text", placeholder="XXXXXXXXXX", class="ipt")
            button(type="button", class="btn-promo") Appliquer
    // END
    .card-box
        .card-title
            h3.card-ttl.text-uppercase MESSAGE POUR L ‘ÉQUIPE IMBRETEX
        .card-content
            textarea.ipt-text(placeholder="Saisissez votre message ici…")
    // END: CARD
    .card-box
        .card-title
            h3.card-ttl.text-uppercase DÉFINIR UNE RÉFÉRENCE À VOTRE COMMANDE
        .card-content
            textarea.ipt-text.vote(placeholder="Votre référence …")
    // END: CARD
    a(href="#").insert-file
        i.ico.insert_file
        | Joindre un fichier