.panier-options
    .row
        .col-md-6.option-item
            .label-content
                .opt-pic
                    img(src="uploads/checkout/ic_business_center@2x.png", alt="")
                // END : PIC
                .opt-content
                    .ctent
                        h3.opt-title Nom de l’option
                        .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae arcu sit amet faucibus. Fusce ultricies finibus diam 
                        a(href="#").insert-file
                            i.ico.insert_file
                            | Joindre un fichier
                    // END
                    .opt-price 7,90 €
                // END : PIC
        // END
        .col-md-6.option-item
            .label-content
                .opt-pic
                    img(src="uploads/checkout/ic_package@2x.png", alt="")
                // END : PIC
                .opt-content
                    .ctent
                        h3.opt-title Livraison standard
                        .date Livré le 10/10/10&nbsp;
                            span (estimatif)
                    // END
                    .opt-price 7,90 €
                // END : PIC
        // END