.checkout-wrap.pb-40
    .container
        form
            include address
            // END : ADDRESS
            include options
            // END : OPTIONS
            include table
            // END : TABLE
            include term
            // END : TERM
            include ../../commandes/detail/sprint
            // END : SPRINT