.table-product-wrap
    .prod-info DOSSIER : OPERATION COMMERCIALE 25/10/19
    .table-pc
        .table-product.table-prod-align
            .header-table
                .table-item PRODUIT
                .table-item PRIX
                .table-item QUANTITÉ
                .table-item STOCK IMBRETEX
                .table-item TOTAL
                .table-item.empty &nbsp;
            // END : HEAD
            .table-row
                .content-table
                    .inner
                        .table-item.info
                            .col-id GN48L 
                            .col-name
                                h3.ttl MARQUE
                                .desc Polo piqué femme
                            .col-thumb
                                .thumb.item-row
                                    img(src="uploads/prods/pr_s_1.jpg")
                                .thumb.item-row
                                    img(src="uploads/prods/pr_s_2.jpg")
                            .col-color.bg-gray
                                .item-row
                                    .clor-item TAILLE :&nbsp;
                                        span.size M
                                    .clor-item COULEUR :&nbsp;
                                        span.size ROSE
                                        span.cir(style="background-color: #FF1F36")
                                .item-row
                                    .clor-item TAILLE :&nbsp;
                                        span.size M
                                    .clor-item COULEUR :&nbsp;
                                        span.size BLUE
                                        span.cir(style="background-color: #006AFA")
                        .table-item.price.bg-gray
                            .item-row 7,90 €
                            .item-row 7,90 €
                        .table-item.quanlity.bg-gray
                            .item-row 
                                .custom-number
                                    input(type="number", class="ipt_num", value='10', min="1", max="100" ,step="1")
                            .item-row
                                .custom-number
                                    input(type="number", class="ipt_num", value='20', min="1", max="100" ,step="1")
                        .table-item.num.bg-gray
                            .item-row.red 10
                            .item-row 10
                        .table-item.price.bg-gray.total.prc_right
                            .item-row 7,90 €
                                a(href="#").del.action-circle
                                    i.ico.close
                                a(href="#", data-html="true", data-toggle="tooltip", data-placement="right", title="Choisissez un <br/>produit de <br/>remplacement").edit.action-circle
                                    i.ico.reverse
                            .item-row 7,90 €
                                a(href="#").del.action-circle
                                    i.ico.close
                                a(href="#", data-html="true", data-toggle="tooltip", data-placement="right", title="Choisissez un <br/>produit de <br/>remplacement").edit.action-circle
                                    i.ico.reverse
                        .table-item.empty &nbsp;
                // END : CONTENT
                .price-table
                    .table-item &nbsp;
                    .table-item &nbsp;
                    .table-item &nbsp;
                    .table-item &nbsp;
                    .table-item.price.prc_right 7 100,00 € 
                    .table-item.empty &nbsp;
                // END : PRICE TOTAL
            // END 
            .table-row
                .content-table
                    .inner
                        .table-item.info
                            .col-id GN48L 
                            .col-name
                                h3.ttl MARQUE
                                .desc Polo piqué femme
                            .col-thumb
                                .thumb.item-row
                                    img(src="uploads/prods/pr_s_1.jpg")
                                .thumb.item-row
                                    img(src="uploads/prods/pr_s_2.jpg")
                            .col-color.bg-gray
                                .item-row
                                    .clor-item TAILLE :&nbsp;
                                        span.size M
                                    .clor-item COULEUR :&nbsp;
                                        span.size ROSE
                                        span.cir(style="background-color: #FF1F36")
                                .item-row
                                    .clor-item TAILLE :&nbsp;
                                        span.size M
                                    .clor-item COULEUR :&nbsp;
                                        span.size BLUE
                                        span.cir(style="background-color: #006AFA")
                        .table-item.price.bg-gray
                            .item-row 7,90 €
                            .item-row 7,90 €
                        .table-item.quanlity.bg-gray
                            .item-row 
                                .custom-number
                                    input(type="number", class="ipt_num", value='10', min="1", max="100" ,step="1")
                            .item-row
                                .custom-number
                                    input(type="number", class="ipt_num", value='20', min="1", max="100" ,step="1")
                        .table-item.num.bg-gray
                            .item-row.red 10
                            .item-row 10
                        .table-item.price.bg-gray.total.prc_right
                            .item-row 7,90 €
                                a(href="#").del.action-circle
                                    i.ico.close
                                a(href="#", data-html="true", data-toggle="tooltip", data-placement="right", title="Choisissez un <br/>produit de <br/>remplacement").edit.action-circle
                                    i.ico.reverse
                            .item-row 7,90 €
                                a(href="#").del.action-circle
                                    i.ico.close
                                a(href="#", data-html="true", data-toggle="tooltip", data-placement="right", title="Choisissez un <br/>produit de <br/>remplacement").edit.action-circle
                                    i.ico.reverse
                        .table-item.empty &nbsp;
                // END : CONTENT
                .price-table
                    .table-item &nbsp;
                    .table-item &nbsp;
                    .table-item &nbsp;
                    .table-item &nbsp;
                    .table-item.price.prc_right 7 100,00 € 
                    .table-item.empty &nbsp;
                // END : PRICE TOTAL
            // END 
    // END : TABLE PC
    .table-mobile
        .table-product
            .header-table
                .table-item PRODUIT
            .table-wrap
                .table-row.info-row
                    .table-item.item-actions
                        .col-id GN48L 
                        .col-name
                            h3.ttl MARQUE
                            .desc Polo piqué femme
                        a(href="#").del.action-circle
                            i.ico.close
                        a(href="#", data-html="true", data-toggle="tooltip", data-placement="right", title="Choisissez un <br/>produit de <br/>remplacement").edit.action-circle
                            i.ico.reverse
                // END
                .table-row
                    .table-item.bg-gray.item-color
                        .thumb
                            img(src="uploads/prods/pr_s_1.jpg")
                        .col-color
                            .clor-item TAILLE :&nbsp;
                                span.size M
                            .clor-item COULEUR :&nbsp;
                                span.size ROSE
                                span.cir(style="background-color: #FF1F36")
                    // END
                    .table-item.bg-gray.lrg.bd-bottom.has-line 
                        .col-6.title PRIX
                        .col-6.ctent 7,90 €
                    // END
                    .table-item.bg-gray.lrg.bd-bottom.has-line 
                        .col-6.title QUANTITÉ
                        .col-6.ctent    
                            .custom-number
                                input(type="number", class="ipt_num", value='10', min="1", max="100" ,step="1")
                    // END
                    .table-item.bg-gray.lrg.bd-bottom.has-line 
                        .col-6.title STOCK IMBRETEX
                        .col-6.ctent    
                            .red 10
                    // END
                    .table-item.bg-gray.lrg.has-line 
                        .col-6.title TOTAL
                        .col-6.ctent 7,90 €
                    // END
                // END
                .table-row
                    .table-item.bg-gray.item-color
                        .thumb
                            img(src="uploads/prods/pr_s_2.jpg")
                        .col-color
                            .clor-item TAILLE :&nbsp;
                                span.size M
                            .clor-item COULEUR :&nbsp;
                                span.size BLUE
                                span.cir(style="background-color: #006AFA")
                    // END
                    .table-item.bg-gray.lrg.bd-bottom.has-line 
                        .col-6.title PRIX
                        .col-6.ctent 7,90 €
                    // END
                    .table-item.bg-gray.lrg.bd-bottom.has-line 
                        .col-6.title QUANTITÉ
                        .col-6.ctent    
                            .custom-number
                                input(type="number", class="ipt_num", value='10', min="1", max="100" ,step="1")
                    // END
                    .table-item.bg-gray.lrg.bd-bottom.has-line 
                        .col-6.title STOCK IMBRETEX
                        .col-6.ctent 10
                    // END
                    .table-item.bg-gray.lrg.has-line 
                        .col-6.title TOTAL
                        .col-6.ctent 7,90 €
                    // END
                // END
            // END 
            .table-wrap
                .table-row.info-row
                    .table-item.item-actions
                        .col-id GN48L 
                        .col-name
                            h3.ttl MARQUE
                            .desc Polo piqué femme
                        a(href="#").del.action-circle
                            i.ico.close
                        a(href="#", data-toggle="modal" , data-target="#modalModifier").edit.action-circle
                            i.ico.pen
                // END
                .table-row
                    .table-item.bg-gray.item-color
                        .thumb
                            img(src="uploads/prods/pr_s_1.jpg")
                        .col-color
                            .clor-item TAILLE :&nbsp;
                                span.size M
                            .clor-item COULEUR :&nbsp;
                                span.size ROSE
                                span.cir(style="background-color: #FF1F36")
                    // END
                    .table-item.bg-gray.lrg.bd-bottom.has-line 
                        .col-6.title PRIX
                        .col-6.ctent 7,90 €
                    // END
                    .table-item.bg-gray.lrg.bd-bottom.has-line 
                        .col-6.title QUANTITÉ
                        .col-6.ctent    
                            .custom-number
                                input(type="number", class="ipt_num", value='10', min="1", max="100" ,step="1")
                    // END
                    .table-item.bg-gray.lrg.bd-bottom.has-line 
                        .col-6.title STOCK IMBRETEX
                        .col-6.ctent    
                            .red 10
                    // END
                    .table-item.bg-gray.lrg.has-line 
                        .col-6.title TOTAL
                        .col-6.ctent 7,90 €
                    // END
                // END
                .table-row
                    .table-item.bg-gray.item-color
                        .thumb
                            img(src="uploads/prods/pr_s_2.jpg")
                        .col-color
                            .clor-item TAILLE :&nbsp;
                                span.size M
                            .clor-item COULEUR :&nbsp;
                                span.size BLUE
                                span.cir(style="background-color: #006AFA")
                    // END
                    .table-item.bg-gray.lrg.bd-bottom.has-line 
                        .col-6.title PRIX
                        .col-6.ctent 7,90 €
                    // END
                    .table-item.bg-gray.lrg.bd-bottom.has-line 
                        .col-6.title QUANTITÉ
                        .col-6.ctent    
                            .custom-number
                                input(type="number", class="ipt_num", value='10', min="1", max="100" ,step="1")
                    // END
                    .table-item.bg-gray.lrg.bd-bottom.has-line 
                        .col-6.title STOCK IMBRETEX
                        .col-6.ctent 10
                    // END
                    .table-item.bg-gray.lrg.has-line 
                        .col-6.title TOTAL
                        .col-6.ctent 7,90 €
                    // END
                // END
            // END 
    // END : TABLE MOBILE
.payment-info-wrap.pb-60
    .row
        .col-md-6.payment-left 
            include message
            // END : MESSAGE
        // END : COL 
        .col-md-6.payment-right
            table.table.table-payment
                tr
                    td
                        span Coût de transport 
                        span LIVRÉ LE 10/10/19 (estimatif)
                    td.price.prc_right 7,90 €
                    td.empty &nbsp;
                tr
                    td FRAIS DE DOUANES
                    td.price.prc_right 150,00 €
                    td.empty &nbsp;
                tr
                    td OPTIONS
                    td.price.prc_right 7,90 €
                    td.empty &nbsp;
                tr
                    td TOTAL HT
                    td.price.prc_right 6 950,00 €
                    td.empty &nbsp;
                tr
                    td TVA
                    td.price.prc_right 100,00 €
                    td.empty &nbsp;
                tr
                    td  TOTAL DE LA COMMANDE
                    td.price.prc_right
                        span.orange 7 100,00 €
                    td.empty &nbsp;
        // END : COL 