.checkout-term
    .row
        .col-md-6.term-left
            .term-inner
                h3.ttl Votre panier contient des produits avec des disponibilités différentes
                .row
                    .col-md-6
                        input(type="checkbox", class="ipt_checkbox" name="checkout_term", id="etre") 
                        label(for="etre") 
                            span.shape 
                            span.txt Etre livré en plusieurs fois dès que les quantités sont disponibles
                    // END : COL
                    .col-md-6
                        input(type="checkbox", class="ipt_checkbox" name="checkout_term", id="attendre") 
                        label(for="attendre") 
                            span.shape 
                            span.txt Attendre pour être livré en une seule fois, mon délai est de&nbsp;
                                span.black 9 jours
                    // END : COL
            // END
            .choose-date
                .inner
                    h3.date-ttl Choix de la date de livraison
                    .desc Lorem ipsum dolor sit amet, consectetur
                .calendar-wrap
                    input(type='text', class="ipt ipt_calendar", value="10/10/2019")
                    i.ico.calendar
        // END : COL LEFT
        .col-md-6.term-right.term-method
            .method-wrap
                h3.method-ttl Méthode de paiement
                .method-list
                    .method-item
                        input(type="radio", class="ipt_radio" name="method", id="method_1", checked) 
                        label(for="method_1") 
                            .shape 
                            .txt Paiement CB
                    // END: ITEM
                    .method-item
                        input(type="radio", class="ipt_radio" name="method", id="method_2") 
                        label(for="method_2") 
                            .shape 
                            .txt Paiement selon conditions habituelles
                    // END: ITEM
            // END : METHOD
            .condition-wrap
                input(type="checkbox", class="ipt_checkbox" name="condition", id="condition", checked) 
                label(for="condition") 
                    span.shape 
                    span.txt Je confirme avoir lu et compris nos 
                        a(href="#") Conditions générales de vente.
            // END
            .method-button
                button(type="button", class="btn btn-orange lrg") Valider la commande et payer
            // END
        // END : COL LEFT