.block-content-cms.blk-dot-bg.right-top.first
    .container
        .row
            .col-md-6.cms-left
                .entry-content
                    h2 H2. LOREM IPSUM DOLOR SITE AMET
                    p
                        strong Ut ac eros pellentesque tortor placerat pretium et sed ligula. Sed id lobortis nunc. Curabitur vitae tincidunt lorem. Curabitur semper scelerisque lorem. Sed purus justo, molestie ut ex at, tempus pulvinar nunc. Mauris bibendum laoreet ipsum, sed aliquam lacus sodales a. Aenean mi justo, convallis nec dignissim id, sodales sit amet elit. Vivamus porttitor tristique aliquam. Nam eros dui, imperdiet sit amet mollis vitae, mollis at velit. 
                    p Vivamus pharetra rhoncus facilisis. Nam elit magna, pretium eleifend tristique a, vehicula in nisi. Sed eros purus, lobortis a lacus eget, fermentum bibendum turpis. Vestibulum erat nibh, consectetur in dui at, congue ullamcorper diam. Proin vulputate finibus mi, ac posuere neque convallis sed.
                    p  Morbi risus justo, fermentum non tincidunt in, suscipit ac lorem. Vivamus dignissim tincidunt enim sit amet facilisis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis dictum, enim in blandit ultricies, tortor nisi varius felis, nec luctus felis nulla semper neque. In blandit mollis arcu id sollicitudin. 
                        br
                        | Vivamus pharetra rhoncus facilisis. Nam elit magna, pretium eleifend tristique a, vehicula in nisi. Sed eros purus, lobortis a lacus eget, fermentum bibendum turpis. Vestibulum erat nibh, consectetur in dui at, congue ullamcorper diam. Proin vulputate finibus mi, ac posuere neque convallis sed.
            // END : LEFT
            .col-md-6.cms-right
                .position-relative
                    img(src="uploads/shirt_2.jpg", alt="")
                    .bg-dot
                        img(src="uploads/line_dot.svg", alt="")
                    // END : ICON DOTs
            // END : RIGHT