.block-content-cms.blk-dot-bg.left-bottom.second.pad-80
    .container
        .row
            .col-md-6.cms-left
                .position-relative
                    img(src="uploads/flower.jpg", alt="")
                    .bg-dot
                        img(src="uploads/line_dot_white.svg", alt="")
                    // END : ICON DOTs
            // END : LEFT
            .col-md-6.cms-right
                .entry-content
                    h2 H2. LOREM IPSUM DOLOR SITE AMET
                    p Vivamus pharetra rhoncus facilisis. Nam elit magna, pretium eleifend tristique a, vehicula in nisi. Sed eros purus, lobortis a lacus eget, fermentum bibendum turpis. Vestibulum erat nibh, consectetur in dui at, congue ullamcorper diam. Proin vulputate finibus mi, ac posuere neque convallis sed.
                    p Morbi risus justo, fermentum non tincidunt in, suscipit ac lorem. Vivamus dignissim tincidunt enim sit amet facilisis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis dictum, enim in blandit ultricies, tortor nisi varius felis, nec luctus felis nulla semper neque. In blandit mollis arcu id sollicitudin.
                    p Morbi risus justo, fermentum non tincidunt in, suscipit ac lorem. Vivamus dignissim tincidunt enim sit amet facilisis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis dictum, enim in blandit ultricies, tortor nisi varius felis, nec luctus felis nulla semper neque. In blandit mollis arcu id sollicitudin. Vivamus pharetra rhoncus facilisis. Nam elit magna, pretium eleifend tristique a, vehicula in nisi. Sed eros purus, lobortis a lacus eget, fermentum bibendum turpis. Vestibulum erat nibh, consectetur in dui at, congue ullamcorper diam. Proin vulputate finibus mi, ac posuere neque convallis sed.
                    p Morbi risus justo, fermentum non tincidunt in, suscipit ac lorem. Vivamus dignissim tincidunt enim sit amet facilisis. 
            // END : RIGHT