.block-content-cms.third.pad-80
    .container
        .row
            .col-md-6.cms-left  
                .entry-content
                    h2 H2. LOREM IPSUM DOLOR SITE AMET
                    h3 H3. Lorem ipsum dolor site amet
                    h4 H4. Lorem ipsum dolor site amet
                    p Vivamus pharetra rhoncus facilisis. Nam elit magna, pretium eleifend tristique a, vehicula in nisi. Sed eros purus, lobortis a lacus eget, fermentum bibendum turpis. Vestibulum erat nibh, consectetur in dui at, congue ullamcorper diam. Proin vulputate finibus mi, ac posuere neque convallis sed.
                    p  Morbi risus justo, fermentum non tincidunt in, suscipit ac lorem. Vivamus dignissim tincidunt enim sit amet facilisis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            // END : LEFT
            .col-md-6.cms-right
                .entry-note
                    ul
                        li Morbi risus justo, fermentum non tincidunt in, suscipit ac lorem.
                        li Vivamus dignissim tincidunt enim sit amet facilisis.
                        li Pellentesque habitant morbi tristique senectus.Pellentesque habitant morbi tristique senectus.
                        li Et netus et malesuada fames ac turpis egestas. 
                        li Duis dictum, enim in blandit ultricies
            // END : RIGHT