.cms-social
    .container
        .inner
            .row
                .col-md-6.cms-left Publié le 17 décembre 2018
                // END : LEFT
                .col-md-6.cms-right
                    span.txt Partager
                    a(href="#")
                        i.ico.facebook
                    a(href="#")
                        i.ico.instagram
                    a(href="#")
                        i.ico.twitter
                // END : RIGHT