/**
 * CSS RESPONSIVE PAGE CATEGORY
 */
@media (max-width: 1754px) {
    .category-banner {
        .block-title-large {
            font-size: 184px;
            line-height: 228px;
        }
    }
}
@media (max-width: 1500px) {
    .category-banner {
        .block-title-large {
            left: 10px;
            font-size: 164px;
            line-height: 208px;
        }
    }
}
@media (max-width: 1200px) {
    .category-banner {
        .block-title-large {
            font-size: 124px;
        }
    }
    .category-desc-wrap {
        .block-title-large {
            font-size: 144px
        }
    }
}
@media (max-width: 1024px) {
    .category-wrap {
        .product-item {
            flex: 0 0 33.3333333333%;
            max-width: 33.3333333333%;
        }
    }
}