/**
 * CSS RESPONSIVE PAGE CATEGORY
 * 992-
 */
@media (max-width: 992px) {
    .filter-by {
        display: block;
    }
    .category-wrap {
        .sortby {
            justify-content: flex-start;
        }
        .filter-by {
            margin-left: auto;
            padding-left: 0;
            border-left: none;
        }
        .block-module {
            .ipt_checkbox + label span {
                font-size: 11px;
            }
        }
    }
    .category-wrap {
        .col-right {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .col-left {
            flex: 0 0 326px;
            max-width: 326px;
            position: fixed;
            top: 0;
            bottom: 0;
            overflow: hidden;
            overflow-y: auto;
            padding-right: 0;
            padding-left: 0;
            box-shadow: 0 3px 20px rgba(0,0,0,0.36);
            opacity: 0;
            visibility: hidden;
            right: -200px;
            z-index: -500;
            transition: all .3s ease;
            &.shw {
                opacity: 1;
                visibility: visible;
                right: 0;
                z-index: 500;
            }
        }
        .box-white {
            box-shadow: none;
            min-height: 100vh;
        }
    }
    .mod-category, .mod-genre {
        .ipt_checkbox {
            &+ label {
                .shape {
                    margin-right: 10px;
                }
            }
        }
        .mod-list {
            margin-left: -15px;
            margin-right: -15px;
            li {
                float: left;
                width: 50%;
                padding-left: 15px;
                padding-right: 15px;
                &:nth-of-type(2n) {
                    .ipt_checkbox {
                        &+ label {
                            justify-content: flex-end;
                        }
                    }
                }
            }
        }    
    }
    .mod-genre {
        .mod-list {
            li {
                &:nth-of-type(2n) {
                    .ipt_checkbox {
                        &+ label {
                            padding-right: 10px;
                        }
                    }
                }
            }
        }
        .mod-content {
            padding-bottom: 5px;
        }
    }
    .mod-category {
        .mod-list {
            max-height: 110px;
            margin-bottom: 10px;
        }
        .category_filter,.block-search-wrap {
            display: none;
        }
    }
    .category-wrap {
        .block-module {
            padding: 0;
            margin: 0 30px;
        }
        .block-module {
            .ttl::after {
                right: 10px;
            }
        }
    }
    .mod-price {
        .mod-content {
            padding-right: 10px;
        }
    }
    .category-wrap {
        .head-filter {
            display: block;
        }
    }
    .product-item {
        margin-bottom: 30px;
    }
    .category-desc-wrap {
        .row {
            flex-direction: column-reverse;
        }
        .desc-left, .desc-right {
            flex: auto;
            max-width: none;
            align-items: center;
            justify-content: center;
        }
        .desc-right {
            margin-bottom: 40px;
        }
        .block-title {
            text-align: center;
        }
        .block-title-large {
            right: 0;
            top: 0;
            text-align: center;
        }
    }
    .category-banner {
        display: none;
    }
}
@media (max-width: 800px) {
    .category-desc-wrap {
        .block-title-large {
            top: 20px;
        }
    }
    .pb-80 {
        padding-bottom: 60px;
    }
}