/**
 * Media 767px : CATEGORY
 */
@media (max-width: 767px) {
    .category-wrap {
        .product-item {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
}
@media (max-width: 560px) {
    .product-list-wrap {
        .row {
            margin-left: -5px;
            margin-right: -5px;
        }
        .product-item {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}
@media (max-width: 480px) {
    .category-desc-wrap {
        .block-title-large {
            font-size: 54px;
            line-height: 81px;
            bottom: -40px;
        }
    }
    .block-title-page {
        .block-title-large {
            font-size: 20px;
            line-height: 32px;
            top: -12px;
            left: 0;
            letter-spacing: 8px;
            white-space: normal;
        }
    }
}
@media (max-width: 380px) {
    .category-wrap {
        .filter-by {
            margin-left: 18px;
            padding-left: 18px;
            border-left: 1px solid #D9D9D9;
        }
    }
}