ul(class="nav nav-tabs", id="imbTab", role="tablist")
    li.nav-item
        a(class="nav-link active" , id="tous-tab", 
        data-toggle="tab", href="#tous" ,role="tab", ,
        aria-controls="tous" ,aria-selected="true") Tous
    li.nav-item
        a(class="nav-link" , id="produits-tab", 
        data-toggle="tab", href="#produits" ,role="tab", ,
        aria-controls="produits" ,aria-selected="true") Produits
    li.nav-item
        a(class="nav-link" , id="marques-tab", 
        data-toggle="tab", href="#marques" ,role="tab", ,
        aria-controls="marques" ,aria-selected="true") Marques
    li.nav-item
        a(class="nav-link" , id="corporate-tab", 
        data-toggle="tab", href="#corporate" ,role="tab", ,
        aria-controls="corporate" ,aria-selected="true") Corporate
    li.nav-item
        a(class="nav-link" , id="tendances-tab", 
        data-toggle="tab", href="#tendances" ,role="tab", ,
        aria-controls="tendances" ,aria-selected="true") Tendances