#produits(class="tab-pane fade" role="tabpanel")
    .actualites-list
        .row
            .col-md-3.actualites-item
                a(href="content-cms.html")
                    figure.actualites-img
                        img(src="uploads/n_2@2x.jpg", alt="")
                        .more DÉCOUVRIR
                            i.ico.arrow_right_lrg
                        // END : MORE
                    // END : IMG
                    .actualites-info
                        h2.cate Catégorie 1
                        h3.ttl Nouvelle collection premium à découvrir !
                        .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae arcu sit amet faucibus. Fusce ultricies finibus diam vitae laoreet. Mauris eget
                        .date Publié le 10/10/2019
                    // END : INFO
            // END : ITEM
            .col-md-3.actualites-item
                a(href="content-cms.html")
                    figure.actualites-img
                        img(src="uploads/n_1@2x.jpg", alt="")
                        .more DÉCOUVRIR
                            i.ico.arrow_right_lrg
                        // END : MORE
                    // END : IMG
                    .actualites-info
                        h2.cate Catégorie 1
                        h3.ttl Nouvelle collection premium à découvrir collection premium
                        .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae arcu sit amet faucibus. Fusce ultricies finibus diam vitae laoreet. Mauris eget
                        .date Publié le 10/10/2019
                    // END : INFO
            // END : ITEM
            .col-md-3.actualites-item
                a(href="content-cms.html")
                    figure.actualites-img
                        img(src="uploads/n_1@2x.jpg", alt="")
                        .more DÉCOUVRIR
                            i.ico.arrow_right_lrg
                        // END : MORE
                    // END : IMG
                    .actualites-info
                        h2.cate Catégorie 1
                        h3.ttl Nouvelle collection premium à découvrir !
                        .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae arcu sit amet faucibus. Fusce ultricies finibus diam vitae laoreet. Mauris eget
                        .date Publié le 10/10/2019
                    // END : INFO
            // END : ITEM
            .col-md-3.actualites-item
                a(href="content-cms.html")
                    figure.actualites-img
                        img(src="uploads/n_2@2x.jpg", alt="")
                        .more DÉCOUVRIR
                            i.ico.arrow_right_lrg
                        // END : MORE
                    // END : IMG
                    .actualites-info
                        h2.cate Catégorie 1
                        h3.ttl Nouvelle collection premium à découvrir collection premium
                        .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae arcu sit amet faucibus. Fusce ultricies finibus diam vitae laoreet. Mauris eget
                        .date Publié le 10/10/2019
                    // END : INFO
            // END : ITEM
            .col-md-3.actualites-item
                a(href="content-cms.html")
                    figure.actualites-img
                        img(src="uploads/n_1@2x.jpg", alt="")
                        .more DÉCOUVRIR
                            i.ico.arrow_right_lrg
                        // END : MORE
                    // END : IMG
                    .actualites-info
                        h2.cate Catégorie 1
                        h3.ttl Nouvelle collection premium à découvrir !
                        .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae arcu sit amet faucibus. Fusce ultricies finibus diam vitae laoreet. Mauris eget
                        .date Publié le 10/10/2019
                    // END : INFO
            // END : ITEM
            .col-md-3.actualites-item
                a(href="content-cms.html")
                    figure.actualites-img
                        img(src="uploads/n_2@2x.jpg", alt="")
                        .more DÉCOUVRIR
                            i.ico.arrow_right_lrg
                        // END : MORE
                    // END : IMG
                    .actualites-info
                        h2.cate Catégorie 1
                        h3.ttl Nouvelle collection premium à découvrir collection premium
                        .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae arcu sit amet faucibus. Fusce ultricies finibus diam vitae laoreet. Mauris eget
                        .date Publié le 10/10/2019
                    // END : INFO
            // END : ITEM
            .col-md-3.actualites-item
                a(href="content-cms.html")
                    figure.actualites-img
                        img(src="uploads/n_1@2x.jpg", alt="")
                        .more DÉCOUVRIR
                            i.ico.arrow_right_lrg
                        // END : MORE
                    // END : IMG
                    .actualites-info
                        h2.cate Catégorie 1
                        h3.ttl Nouvelle collection premium à découvrir !
                        .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae arcu sit amet faucibus. Fusce ultricies finibus diam vitae laoreet. Mauris eget
                        .date Publié le 10/10/2019
                    // END : INFO
            // END : ITEM
            .col-md-3.actualites-item
                a(href="content-cms.html")
                    figure.actualites-img
                        img(src="uploads/n_2@2x.jpg", alt="")
                        .more DÉCOUVRIR
                            i.ico.arrow_right_lrg
                        // END : MORE
                    // END : IMG
                    .actualites-info
                        h2.cate Catégorie 1
                        h3.ttl Nouvelle collection premium à découvrir collection premium
                        .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae arcu sit amet faucibus. Fusce ultricies finibus diam vitae laoreet. Mauris eget
                        .date Publié le 10/10/2019
                    // END : INFO
            // END : ITEM
            .col-md-3.actualites-item
                a(href="content-cms.html")
                    figure.actualites-img
                        img(src="uploads/n_1@2x.jpg", alt="")
                        .more DÉCOUVRIR
                            i.ico.arrow_right_lrg
                        // END : MORE
                    // END : IMG
                    .actualites-info
                        h2.cate Catégorie 1
                        h3.ttl Nouvelle collection premium à découvrir !
                        .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae arcu sit amet faucibus. Fusce ultricies finibus diam vitae laoreet. Mauris eget
                        .date Publié le 10/10/2019
                    // END : INFO
            // END : ITEM
            .col-md-3.actualites-item
                a(href="content-cms.html")
                    figure.actualites-img
                        img(src="uploads/n_2@2x.jpg", alt="")
                        .more DÉCOUVRIR
                            i.ico.arrow_right_lrg
                        // END : MORE
                    // END : IMG
                    .actualites-info
                        h2.cate Catégorie 1
                        h3.ttl Nouvelle collection premium à découvrir collection premium
                        .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae arcu sit amet faucibus. Fusce ultricies finibus diam vitae laoreet. Mauris eget
                        .date Publié le 10/10/2019
                    // END : INFO
            // END : ITEM
            .col-md-3.actualites-item
                a(href="content-cms.html")
                    figure.actualites-img
                        img(src="uploads/n_1@2x.jpg", alt="")
                        .more DÉCOUVRIR
                            i.ico.arrow_right_lrg
                        // END : MORE
                    // END : IMG
                    .actualites-info
                        h2.cate Catégorie 1
                        h3.ttl Nouvelle collection premium à découvrir !
                        .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae arcu sit amet faucibus. Fusce ultricies finibus diam vitae laoreet. Mauris eget
                        .date Publié le 10/10/2019
                    // END : INFO
            // END : ITEM
            .col-md-3.actualites-item
                a(href="content-cms.html")
                    figure.actualites-img
                        img(src="uploads/n_2@2x.jpg", alt="")
                        .more DÉCOUVRIR
                            i.ico.arrow_right_lrg
                        // END : MORE
                    // END : IMG
                    .actualites-info
                        h2.cate Catégorie 1
                        h3.ttl Nouvelle collection premium à découvrir collection premium
                        .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae arcu sit amet faucibus. Fusce ultricies finibus diam vitae laoreet. Mauris eget
                        .date Publié le 10/10/2019
                    // END : INFO
            // END : ITEM
            .col-md-3.actualites-item
                a(href="content-cms.html")
                    figure.actualites-img
                        img(src="uploads/n_1@2x.jpg", alt="")
                        .more DÉCOUVRIR
                            i.ico.arrow_right_lrg
                        // END : MORE
                    // END : IMG
                    .actualites-info
                        h2.cate Catégorie 1
                        h3.ttl Nouvelle collection premium à découvrir !
                        .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae arcu sit amet faucibus. Fusce ultricies finibus diam vitae laoreet. Mauris eget
                        .date Publié le 10/10/2019
                    // END : INFO
            // END : ITEM
            .col-md-3.actualites-item
                a(href="content-cms.html")
                    figure.actualites-img
                        img(src="uploads/n_2@2x.jpg", alt="")
                        .more DÉCOUVRIR
                            i.ico.arrow_right_lrg
                        // END : MORE
                    // END : IMG
                    .actualites-info
                        h2.cate Catégorie 1
                        h3.ttl Nouvelle collection premium à découvrir collection premium
                        .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae arcu sit amet faucibus. Fusce ultricies finibus diam vitae laoreet. Mauris eget
                        .date Publié le 10/10/2019
                    // END : INFO
            // END : ITEM
            .col-md-3.actualites-item
                a(href="content-cms.html")
                    figure.actualites-img
                        img(src="uploads/n_1@2x.jpg", alt="")
                        .more DÉCOUVRIR
                            i.ico.arrow_right_lrg
                        // END : MORE
                    // END : IMG
                    .actualites-info
                        h2.cate Catégorie 1
                        h3.ttl Nouvelle collection premium à découvrir !
                        .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae arcu sit amet faucibus. Fusce ultricies finibus diam vitae laoreet. Mauris eget
                        .date Publié le 10/10/2019
                    // END : INFO
            // END : ITEM
            .col-md-3.actualites-item
                a(href="content-cms.html")
                    figure.actualites-img
                        img(src="uploads/n_2@2x.jpg", alt="")
                        .more DÉCOUVRIR
                            i.ico.arrow_right_lrg
                        // END : MORE
                    // END : IMG
                    .actualites-info
                        h2.cate Catégorie 1
                        h3.ttl Nouvelle collection premium à découvrir collection premium
                        .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae arcu sit amet faucibus. Fusce ultricies finibus diam vitae laoreet. Mauris eget
                        .date Publié le 10/10/2019
                    // END : INFO
            // END : ITEM
        include ../pagination
        // END : PAGINATION