.commandes-search
    .container
        .block-search-wrap
            form
                input(type="text", placeholder="Rechercher une référence produit ou un numéro de commande", class="ipt")
                button(type="button", class="btn-search")
                    i.ico.search
        // END : SEARCH
        a(href="#").link_mod_search
            i.ico.search
        .commandes-menu-left
            a(href="#").commandes-menu-link
                | Menu
                i.ico.menu
        // END 