.commandes-wrap.pb-60.sav-detail-wrap
    .container
        .row
            .col-md-3.comm-left
                .box-white
                    include ../info
                    // END : MENU
            // END : LEFT
            .col-md-6.comm-center   
                include message
                // END : MESSAGE BOX 
            // END : CENTER
            .col-md-3.comm-right 
                .box-white 
                    h3.sav-box-ttl Commande Ref XXXXXXXXX
                    include mod-sav
                    // END : MODULE
                    include mod-sav-1
                    // END : MODULE
                    include mod-sav
                    // END : MODULE
            // END : RIGHT