form.message-wrap
    .message-list.pb-60
        .mess-item.date Mardi 15 Mars 2019
        // END : ITEM
        .mess-item.left
            .avt.client
                img(src="uploads/imb_avatar.png", alt="")
            .ctent
                .text.box-gray Not so many years ago businesses used to grunt at using illustrations in their marketing materials. But today, the use and influence of illustrations is growing right along. An illustration, image or picture that does not express a distinct 
                .time 15h15
        // END : ITEM
        .mess-item.date Aujourd’hui
        // END : ITEM
        .mess-item.left
            .avt.client
                img(src="uploads/imb_avatar.png", alt="")
            .ctent
                .text.box-gray Not so many years ago businesses used to grunt at using illustrations in their marketing materials. But today, the use and influence of illustrations is growing right along. An illustration, image or picture that does not express a distinct 
                .time 15h20
        // END : ITEM
        .mess-item.right.has-user
            .ctent
                .text.box-gray Not so many years ago businesses used to grunt at using illustrations in their marketing materials. But today, the use and influence of illustrations is growing right along. An illustration, image or picture that does not express a distinct idea is a poor illustration. It should be clearly drawn with an abundance of ideas to be conveyed in the 
                .time 15h25
            .avt.user
                .name em
        // END : ITEM
    // END: LIST
    .message-form.box-gray
        .form-group
            textarea.ipt-text(placeholder="Saisissez votre message")
        // END : GROUP
        .form-group
            button(type="button", class="btn btn-orange")
                i.ico.send
        // END : GROUP
