.block-module.mod-save.hiden
    .mod-title 
        h3.ttl Ref XXXXXX - Polo piqué femme - TAILLE : M  /   COULEUR :  ROSE
    .mod-content
        p 
            strong Quantité à réexpédier&nbsp;
            | : 10
        p 
            strong Quantité à retourner&nbsp;
            | : 10
        p 
            strong Motif du retour&nbsp;
            | Produit défectueux
        p 
            strong Fichiers joints&nbsp;
            | IMG-0079&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;IMG-0080
        p 
            strong Fichiers joints&nbsp;
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae arcu sit amet faucibus. Fusce ultricies finibus diam vitae laoreet. Mauris eget turpis 