.block-title-page.pb-60
    .container
        .inner
            h1.block-title Demande SAV190500001
            .block-title-large Demande SAV190500001
            .block-desc 10/10/19 à 15h30
            .block-status
                .status.warning
                    .cir
                    | En cours