.mes-address-wrap
    .mes-address-title
        .row
            .col-md-6.col-left
                h3.block-title Mes utilisateurs
            // END : COL
            .col-md-6.col-right
                a(href="#", class="btn btn-orange lrg") 
                    i.ico.add
                    | Ajouter une adresse
            // END : COL
    // END : TITLE
    .mes-address-list.gestion-list
        .row
            .col-md-4.gestion-item
                .card-box
                    .card-title
                        h3.card-ttl 
                            i.ico.check
                            | Validateur
                        a(href="#").del.action-circle
                            i.ico.close
                        a(href="#").edit.action-circle
                            i.ico.pen
                    .card-content
                        .head
                            .txt Emmanuel Maisonneuve
                        .txt 02 41 41 41 41
                        .txt 
                            a(href="mailto:e.maisonneuve@hegyd.fr") e.maisonneuve@hegyd.fr
                // END: CARD
            // END : COL
            .col-md-4.gestion-item
                .card-box
                    .card-title
                        h3.card-ttl 
                            i.ico.check
                            | Validateur
                        a(href="#").del.action-circle
                            i.ico.close
                        a(href="#").edit.action-circle
                            i.ico.pen
                    .card-content
                        .head
                            .txt Emmanuel Maisonneuve
                        .txt 02 41 41 41 41
                        .txt 
                            a(href="mailto:e.maisonneuve@hegyd.fr") e.maisonneuve@hegyd.fr
                // END: CARD
            // END : COL
            .col-md-4.gestion-item
                .card-box
                    .card-title
                        h3.card-ttl 
                            i.ico.eye
                            | Consultant
                        a(href="#").del.action-circle
                            i.ico.close
                        a(href="#").edit.action-circle
                            i.ico.pen
                    .card-content
                        .head
                            .txt Emmanuel Maisonneuve
                        .txt 02 41 41 41 41
                        .txt 
                            a(href="mailto:e.maisonneuve@hegyd.fr") e.maisonneuve@hegyd.fr
                // END: CARD
            // END : COL
            .col-md-4.gestion-item
                .card-box
                    .card-title
                        h3.card-ttl 
                            i.ico.cart
                            | Acheteur
                        a(href="#").del.action-circle
                            i.ico.close
                        a(href="#").edit.action-circle
                            i.ico.pen
                    .card-content
                        .head
                            .txt Emmanuel Maisonneuve
                        .txt 02 41 41 41 41
                        .txt 
                            a(href="mailto:e.maisonneuve@hegyd.fr") e.maisonneuve@hegyd.fr
                // END: CARD
            // END : COL
            .col-md-4.gestion-item
                .card-box
                    .card-title
                        h3.card-ttl 
                            i.ico.eye
                            | Consultant
                        a(href="#").del.action-circle
                            i.ico.close
                        a(href="#").edit.action-circle
                            i.ico.pen
                    .card-content
                        .head
                            .txt Emmanuel Maisonneuve
                        .txt 02 41 41 41 41
                        .txt 
                            a(href="mailto:e.maisonneuve@hegyd.fr") e.maisonneuve@hegyd.fr
                // END: CARD
            // END : COL
    // END : LIST