.mes-form-wrap
    .inner-form
        .form-group
            .row
                .col-md-6
                    label(for="gestion_nom", class="label-form") Nom et prénom du contact
                    input(type="text", class="ipt", id="gestion_nom")
                // END : COLD
                .col-md-6
                    label(for="gestion_phone", class="label-form") Téléphone*
                    input(type="text", class="ipt", id="gestion_phone")
                // END : COLD
        // END : GROUP
        .form-group
            .row
                .col-md-6
                    label(for="gestion_mail", class="label-form") Mail*
                    input(type="email", class="ipt", id="gestion_mail")
                // END : COLD
                .col-md-6
                    label(for="gestion_role", class="label-form") Rôle*
                    select.ipt-select#gestion_role
                        option Admin
                        option User
                // END : COLD
        // END : GROUP
    .form-group.text-center
        button(type="button", class="btn btn-orange lrg") Enregistrer l’utilisateur
    // END : GROUP