ul(class="nav nav-tabs", id="imbPropertiesTab", role="tablist")
    li.nav-item
        a(class="nav-link active" , id="stock-tab", 
        data-toggle="tab", href="#stock" ,role="tab", ,
        aria-controls="stock" ,aria-selected="true") Stock et prix 
    li.nav-item
        a(class="nav-link" , id="descriptif-tab", 
        data-toggle="tab", href="#descriptif" ,role="tab", ,
        aria-controls="descriptif" ,aria-selected="true") Descriptif technique 
    li.nav-item
        a(class="nav-link" , id="guide-tab", 
        data-toggle="tab", href="#guide" ,role="tab", ,
        aria-controls="guide" ,aria-selected="true") Guide des tailles
    li.nav-item
        a(class="nav-link" , id="documents-tab", 
        data-toggle="tab", href="#documents" ,role="tab", ,
        aria-controls="documents" ,aria-selected="true") Documents associés