ul(class="nav nav-tabs", id="imbProdSliderTab", role="tablist")
    li.nav-item
        a(class="nav-link active" , id="associes-tab", 
        data-toggle="tab", href="#associes" ,role="tab", ,
        aria-controls="associes" ,aria-selected="true") Produits associés
    li.nav-item
        a(class="nav-link" , id="duo-tab", 
        data-toggle="tab", href="#duo" ,role="tab", ,
        aria-controls="duo" ,aria-selected="true") Produits Duo / Trio
    li.nav-item
        a(class="nav-link" , id="similaires-tab", 
        data-toggle="tab", href="#similaires" ,role="tab", ,
        aria-controls="similaires" ,aria-selected="true") Produits similaires