#similaires(class="tab-pane fade" role="tabpanel")
    .similaires-list.custom-arrow
        .product-item
            a(href="produit.html")
                figure.product-pic
                    i.ico.heart
                    img(src="uploads/prods/pr_4.jpg", alt="")
                    .note Polo piqué femme
                // END : IMG
                .cate B&C
                h3.ttl GN48L
                .price 7,90 €
                .tags-wrap &nbsp;
        // END : ITEM
        .product-item
            a(href="produit.html")
                figure.product-pic
                    i.ico.heart
                    img(src="uploads/prods/pr_2.jpg", alt="")
                    .note Polo piqué femme
                // END : IMG
                .cate B&C
                h3.ttl GN48L
                .price 7,90 €
                .tags-wrap &nbsp;
        // END : ITEM
        .product-item
            a(href="produit.html")
                figure.product-pic
                    i.ico.heart
                    img(src="uploads/prods/pr_3.jpg", alt="")
                    .note Polo piqué femme
                // END : IMG
                .cate B&C
                h3.ttl GN48L
                .price 7,90 €
                .tags-wrap &nbsp;
        // END : ITEM
        .product-item
            a(href="produit.html")
                figure.product-pic
                    i.ico.heart
                    img(src="uploads/prods/pr_1.jpg", alt="")
                    .note Polo piqué femme
                // END : IMG
                .cate B&C
                h3.ttl GN48L
                .price 7,90 €
                .tags-wrap &nbsp;
        // END : ITEM
        .product-item
            a(href="produit.html")
                figure.product-pic
                    i.ico.heart
                    img(src="uploads/prods/pr_2.jpg", alt="")
                    .note Polo piqué femme
                // END : IMG
                .cate B&C
                h3.ttl GN48L
                .price 7,90 €
                .tags-wrap &nbsp;
        // END : ITEM
        .product-item
            a(href="produit.html")
                figure.product-pic
                    i.ico.heart
                    img(src="uploads/prods/pr_4.jpg", alt="")
                    .note Polo piqué femme
                // END : IMG
                .cate B&C
                h3.ttl GN48L
                .price 7,90 €
                .tags-wrap &nbsp;
        // END : ITEM
        .product-item
            a(href="produit.html")
                figure.product-pic
                    i.ico.heart
                    img(src="uploads/prods/pr_2.jpg", alt="")
                    .note Polo piqué femme
                // END : IMG
                .cate B&C
                h3.ttl GN48L
                .price 7,90 €
                .tags-wrap &nbsp;
        // END : ITEM
        .product-item
            a(href="produit.html")
                figure.product-pic
                    i.ico.heart
                    img(src="uploads/prods/pr_3.jpg", alt="")
                    .note Polo piqué femme
                // END : IMG
                .cate B&C
                h3.ttl GN48L
                .price 7,90 €
                .tags-wrap &nbsp;
        // END : ITEM
        .product-item
            a(href="produit.html")
                figure.product-pic
                    i.ico.heart
                    img(src="uploads/prods/pr_1.jpg", alt="")
                    .note Polo piqué femme
                // END : IMG
                .cate B&C
                h3.ttl GN48L
                .price 7,90 €
                .tags-wrap &nbsp;
        // END : ITEM
        .product-item
            a(href="produit.html")
                figure.product-pic
                    i.ico.heart
                    img(src="uploads/prods/pr_2.jpg", alt="")
                    .note Polo piqué femme
                // END : IMG
                .cate B&C
                h3.ttl GN48L
                .price 7,90 €
                .tags-wrap &nbsp;
        // END : ITEM