ul.sub-menu-mb#mn-marques
    li.back-menu
        a(href="#").back-link
            i.ico.angle_left
            h2.cate-ttl les marques
            h3.cate-ttl-lrg les marques
    li
        a(href="#") T-shirts
    li
        a(href="#") Bodywarmers
    li
        a(href="#") Bagageries
    li
        a(href="#") Sweats
    li
        a(href="#") Blousons
    li
        a(href="#") Accessoires 
    li
        a(href="#") Polos
    li
        a(href="#") Chemises