ul.sub-menu-mb#mn-produit
    li.back-menu
        a(href="#").back-link
            i.ico.angle_left
            h2.cate-ttl nos produits
            h3.cate-ttl-lrg nos produits
    li
        a(href="#") T-shirts
    li
        a(href="#") Bodywarmers
    li
        a(href="#") Bagageries
    li
        a(href="#") Sweats
    li
        a(href="#") Blousons
    li
        a(href="#") Accessoires 
    li
        a(href="#") Polos
    li
        a(href="#") Chemises
    li
        a(href="#") Sport
    li
        a(href="#") Polaires
    li
        a(href="#") Casquettes
    li
        a(href="#") Workwear
    li
        a(href="#") Softshells
    li
        a(href="#") Eponges