.checkout-wrap
    .container
        form
            include table-first
            // END : TABLE
            include table-second
            // END : TABLE
            include term
            // END : TERM