.checkout-term
    .row
        .col-md-6.term-left
            .term-inner
                h3.ttl Votre panier contient des produits avec des disponibilités différentes
                .row
                    .col-md-6
                        input(type="checkbox", class="ipt_checkbox" name="checkout_term", id="etre") 
                        label(for="etre") 
                            span.shape 
                            span.txt Etre livré en plusieurs fois dès que les quantités sont disponibles
                    // END : COL
                    .col-md-6
                        input(type="checkbox", class="ipt_checkbox" name="checkout_term", id="attendre") 
                        label(for="attendre") 
                            span.shape 
                            span.txt Attendre pour être livré en une seule fois, mon délai est de&nbsp;
                                span.black 9 jours
                    // END : COL
        // END : COL LEFT
        .col-md-6.term-right.term-button
            button(type="button", class="btn btn-orange lrg") Valider l’ensemble des dossiers du panier
        // END : COL LEFT