block vars
  -title = "IMBRETEX"
//[if IE 8]><html lang="en" class="no-js ie ie8"><![endif]
//[if IE 9]><html lang="en" class="no-js ie ie9"><![endif]
//[if gt IE 9]><!
<!DOCTYPE html>
html(class="no-js", lang="en")
  //<![endif]
  head
    meta(charset="utf-8")
    title=title
    meta(name="description", content="")
    meta(name="keywords", content="")   
    //- meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    //-- Call font       
    link(href='https://fonts.googleapis.com/css?family=Lora:400,700&display=swap', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Hind+Madurai:400,700&display=swap', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900&display=swap', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Nunito:300&display=swap', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:500,900&display=swap', rel='stylesheet', type='text/css')
    link(rel="shortcut icon", href="icons/favicon.ico", type="image/x-icon")
    //- link(rel="stylesheet", href="css/style.css?v=0.0.12")
    //--script(src="js/modernizr.js")     
    style(type='text/css').
      body {
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.6;
        color: #000;
        margin: 0;
        padding: 0;
      }
      *, *::before, *::after {
        box-sizing: border-box;
      }
      .container {
        width: 1140px;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
      }
      .detail-command-info .inner {
          border: 2px solid #F5F5F5;
          border-radius: 6px;
          padding: 30px;
          margin-bottom: 50px;
      }
      .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: -15px;
        margin-left: -15px;
      }
      .col-md-4 {
        flex: 0 0 33.3333333333%;
        max-width: 33.3333333333%;
      }
      h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
      }
      .detail-command-info .ttl {
        font-size: 14px;
        line-height: 33px;
        text-transform: uppercase;
        color: #666;
        font-weight: 700;
        margin-bottom: 0;
      }
      .detail-command-info .txt {
        font-size: 14px;
        line-height: 23px;
        color: #666;
        margin-bottom: 0;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
      }
      .detail-commandes {
        margin-top: 40px;
        padding-bottom: 0 !important;
      }
      .detail-button-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .btn {
        outline: none;
        height: 40px;
        line-height: 40px;
        font-family: 'Lora', sans-serif;
        font-weight: 400;
        font-style: italic;
        font-size: 15px;
        padding: 0 20px;
        text-align: center;
        border-radius: 30px;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
      }
      .pb-60 {
        padding-bottom: 60px;
      }
      .btn.btn-outline-orange {
        font-size: 15px;
        padding-left: 50px;
        padding-right: 50px;
        border: 1px solid #FF8103;
        background-color: #fff;
        color: #FF8103;
      }
      .detail-button-wrap .btn {
        display: flex;
        align-items: center;
        margin-right: 25px;
        justify-content: center;
      }
      .btn.btn-outline-orange {
        padding-left: 0;
        padding-right: 0;
        width: 265px;
      }
      .ico {
        display: inline-block;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
      }
      .ico.download {
        -webkit-mask: url(images/icons/ico_download.svg) no-repeat center;
        mask: url(images/icons/ico_download.svg) no-repeat center;
        width: 26px;
        height: 26px;
        background-color: #FF8103;
      }
      .detail-button-wrap .btn .download {
        margin-right: 5px;
        margin-left: 0;
      }
      .detail-button-wrap .btn .arrow_down {
        margin-left: 10px;
      }
      .ico.arrow_down {
        -webkit-mask: url(images/icons/ico_arrow_down.svg) no-repeat center;
        mask: url(images/icons/ico_arrow_down.svg) no-repeat center;
        width: 8px;
        height: 5px;
        background-color: #FF8103;
        -webkit-mask-size: cover;
        -moz-mask-size: cover;
        -o-mask-size: cover;
        mask-size: cover;
      }
      .detail-button-wrap .btn:last-child {
        margin-right: 0;
      }
      .table-product-wrap {
        border: 1px solid #EDEDED;
      }
      .table-product-wrap .prod-info {
        font-family: 'Hind Madurai', sans-serif;
        font-weight: 400;
        font-size: 16px;
        text-transform: uppercase;
        color: #666;
        padding: 20px 12px;
      }
      .table-product .header-table {
        background-color: #F6F6F6;
        font-weight: 700;
        font-size: 12px;
        text-transform: uppercase;
        color: #666;
        display: flex;
        align-items: center;
      }
      .table-product .table-item {
        padding: 15px;
        text-align: center;
        width: 15%;
      }
      .table-product .table-item:first-child {
        width: 50%;
        text-align: left;
      }
      .table-product .table-item:nth-of-type(2) {
        width: 10%;
      }
      .table-product .table-item.empty {
        width: 30px;
      }
      .table-row {
        position: relative;
      }
      .content-table .inner {
        display: flex;
        align-items: center;
        padding-top: 25px;
      }
      .content-table .table-item {
        padding-top: 0;
        padding-bottom: 0;
        border-left: 1px solid #DBDBDB;
        position: relative;
      }
      .action-circle {
        display: none;
      }
      .table-item.info {
        display: flex;
        align-items: center;
        padding-right: 0;
      }
      .content-table .table-item:first-child, 
      .content-table .table-item.empty {
        border-left: none;
      }
      .bg-gray {
        background-color: #F6F6F6;
      }
      .table-item.price, .table-item.num {
        font-size: 12px;
        line-height: 16px;
        font-weight: 700;
        color: #444B53;
      }
      .table-item.quanlity {
        text-align: left;
      }
      .table-item .col-id {
        font-weight: 300;
        font-size: 12px;
        line-height: 21px;
        color: #000;
        width: 70px;
      }
      .table-item .col-name{
        cursor: pointer;
      }
      .table-item .col-name .ttl, 
      .table-item .col-name .desc {
        font-size: 12px;
        line-height: 16px;
        font-weight: 300;
        color: #000;
        margin-bottom: 0;
      }
      .table-item .item-row {
          height: 80px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: relative;
      }
      .table-item .col-name .desc {
        font-weight: 700;
        color: #444B53;
      }
      .table-item .thumb {
        width: 80px;
      }
      .table-item .thumb img {
        width: 60px;
        display: block;
        margin: 0 auto;
      }
      .table-item .col-color {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: relative;
      }
      .table-item .clor-item {
        font-size: 10px;
        line-height: 14px;
        display: block;
        padding-left: 10px;
        color: #000;
        font-weight: 300;
        align-items: center;
      }
      .table-item .clor-item .size {
        font-size: 12px;
        font-weight: 700;
      }
      .table-item .clor-item .cir {
        display: inline-block;
        width: 10px;
        height: 10px;
        float: none;
        margin-left: 10px;
        border-radius: 50%;
      }
      .table-item .clor-item a {
        color: #FF8103;
        text-decoration: underline;
        font-family: 'Lora', sans-serif;
        font-weight: 400;
        font-size: 10px;
      }
      .table-item.price, .table-item.num, .table-item .text {
        font-size: 12px;
        line-height: 16px;
        color: #444B53;
      }
      .red {
          color: #FF1F36;
          font-weight: 700;
      }
      .price-table {
        display: flex
      }
      .table-product .prc_right, 
      .table-payment .prc_right {
        padding-right: 40px;
        text-align: right !important;
      }
      .table-row::after {
        content: '';
        display: block;
        height: 1px;
        background-color: #D5D5D5;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 15px;
        z-index: 1;
      } 
      .table-row:last-child::after {
        display: none;
      }
      .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
      }
      .table-payment {
        font-size: 12px;
        line-height: 16px;
        font-weight: 300;
        color: #000;
      }
      .table {
        width: 100%;
        margin-bottom: 1rem;
        border-spacing: 0;
      }
      .table th, .table td {
        padding: .75rem;
        vertical-align: top;
        border-top: 1px solid #dee2e6;
      }
      .table-payment td {
        border-top-color: #dcdcdc;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: right;
        vertical-align: middle;
      }
      .table-payment tr:first-child td {
        border-top: none;
      }
      .table-payment td span {
        display: block;
      }
      .table-payment td.price {
        font-weight: 700;
        color: #444b53;
        text-align: center;
        padding-right: 30px;
      }
      .payment-info-wrap {
        padding-bottom: 0 !important;
      }
      .row [class*="col"] {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
      }
      .content-table .table-item::after, 
      .content-table .col-color::after {
        content: '';
        display: block;
        height: 2px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        z-index: 1;
      }
      .content-table .table-item.info::after {
        display: none;
      }
  body
    section.main  
      block main
    // END : MAIN CONTENT