block vars
  -title = "IMBRETEX"
//[if IE 8]><html lang="en" class="no-js ie ie8"><![endif]
//[if IE 9]><html lang="en" class="no-js ie ie9"><![endif]
//[if gt IE 9]><!
<!DOCTYPE html>
html(class="no-js", lang="en")
  //<![endif]
  head
    meta(charset="utf-8")
    title=title
    meta(name="description", content="")
    meta(name="keywords", content="")   
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    //-- Call font       
    link(href='https://fonts.googleapis.com/css?family=Lora:400,700&display=swap', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Hind+Madurai:400,700&display=swap', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,900&display=swap', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Nunito:300&display=swap', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Roboto:500,900&display=swap', rel='stylesheet', type='text/css')
    link(rel="shortcut icon", href="icons/favicon.ico", type="image/x-icon")
    link(rel="stylesheet", href="css/style.css?v=0.0.12")
    //--script(src="js/modernizr.js")     
  body(class="body-css "  ) 

    include ../includes/header.jade 
    // END : HEADER
    section.main  
      include ../blocks/social-sidebar.jade
      // END : SOCIAL
      block main
    // END : MAIN CONTENT
            
    include ../includes/footer-home.jade
    // END : FOOTER
    include ../blocks/modal-login
    // END : MODAL LOGIN
    include ../blocks/modal-registration
    // END : MODAL REGISTRATION
    include ../blocks/modal-lang
    // END : MODAL LANGUAGE
    include ../includes/scripts.jade