.contact-wrap.pb-60.blk-dot-bg.left-bottom
    .container
        .contact-form-wrap
            .row
                .col-md-6.col-left
                    .position-relative
                        img(src="uploads/contact.jpg", alt="").contact-img-mobile
                        .contact-img-pc(style="background-image: url('uploads/contact.jpg')")
                        .bg-dot
                            img(src="uploads/line_dot.svg", alt="")
                        // END : ICON DOTs
                // END : LEFT
                .col-md-6.col-right
                    .inner-form
                        .desc Ut ac eros pellentesque tortor placerat pretium et sed ligula. Sed id lobortis nunc. Curabitur vitae tincidunt lorem. Curabitur semper scelerisque lorem. Sed purus justo, molestie ut ex at, tempus pulvinar nunc. Mauris bibendum laoreet ipsum, sed aliquam lacus sodales a. Aenean mi justo, convallis nec dignissim id, sodales sit amet elit. Vivamus porttitor tristique aliquam.
                        include form
                        // END: FORM
                // END : RIGHT