form
    .form-group
        .row
            .col-md-6
                label(for="raison", class="label-form") Raison sociale*
                input(type="text", class="ipt", id="raison")
            // END : COL
            .col-md-6
                label(for="mail", class="label-form") Mail*
                input(type="email", class="ipt ipt-error", id="mail")
            // END : COL
    // END GROUP
    .form-group
        .row
            .col-md-6
                label(for="prenom", class="label-form") Nom et prénom
                input(type="text", class="ipt", id="prenom")
            // END : COL
            .col-md-6
                label(for="phone", class="label-form") Téléphone
                input(type="tel", class="ipt", id="phone")
            // END : COL
    // END GROUP
    .form-group
        .row
            .col-md-6
                label(for="motif", class="label-form") Motif*
                select.ipt-select#motif
                    option Commercial
                    option Commercial 1
            // END : COL
            .col-md-6
                label(for="department", class="label-form") Département*
                select.ipt-select#department
                    option Maine et Loire - 49
                    option Maine et Loire - 50
            // END : COL
    // END GROUP
    .form-group
        label(for="message", class="label-form") Message*
        textarea.ipt-text.ipt-error#message(placeholder="Indiquer votre message")
    // END GROUP
    .form-group.text-center.contact-button
        button(type="button", class="btn btn-orange lrg btn-contact") Envoyer la demande
    // END GROUP