/**
 * CSS RESPONSIVE PAGE CONTACT
 */
@media (max-width: 1500px) {
    .contact-wrap {
        .desc {
            font-size: 14px;
            line-height: 18px;
            margin-bottom: 25px;
        }
        .row {
            margin-left: -15px;
            margin-right: -15px;
            [class*="col"] {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        .form-group {
            margin-bottom: 20px;
        }
    }
}