/**
 * CSS RESPONSIVE PAGE CONTACT
 * 992-
 */
@media (max-width: 992px) {
    .contact-form-wrap {
        .col-left, .col-right{
            flex: 0 0 100%;
            max-width: 100%;
        }
        .col-left {
            margin-bottom: 50px;
            // .position-relative {
            //     width: 400px;
            //     margin: 0 auto;
            // }
        }
    }
    .contact-img-mobile {
        display: block !important;
    }
    .contact-img-pc {
        display: none !important;
    }
    .contact-wrap {
        &.blk-dot-bg.left-bottom {
            .bg-dot {
                width: 60px;
                bottom: -30px;
            }
        }
    }
}