/**
 * Media 767px : CONTACT
 */
@media (max-width: 767px) {
    .contact-wrap {
        .form-group {
            .col-md-6 {
                margin-bottom: 20px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
@media (max-width: 560px) {
    .contact-form-wrap {
        .col-left {
            .position-relative {
                width: auto;
            }
        }
    }
}