/**
 * CSS RESPONSIVE PAGE commandes
 * 992-
 */
@media (max-width: 992px) {
    .commandes-wrap {
        .comm-left {
            flex: 0 0 326px;
            max-width: 326px;
            flex: 0 0 326px;
            max-width: 326px;
            position: fixed;
            top: 0;
            bottom: 0;
            overflow: hidden;
            overflow-y: auto;
            padding-right: 0;
            padding-left: 0;
            box-shadow: 0 3px 20px rgba(0,0,0,0.36);
            opacity: 0;
            visibility: hidden;
            left: -200px;
            z-index: -500;
            transition: all .3s ease;
            &.shw {
                opacity: 1;
                visibility: visible;
                left: 0;
                z-index: 500;
            }
        }
        .box-white {
            min-height: 100vh;
        }
        .comm-right {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .commandes-menu-left {
        display: block;
    }
    .close_commandes_info {
        display: flex;
    }
    .detail-commandes {
        .table-product {
            width: auto;
        }
    }
    .commandes-search-mb {
        display: block;
        .commandes-menu-left {
            margin-left: 0;
            padding-left: 0;
            border-left: none;
        }
    }
    .gestion-list {
        .gestion-item {
            flex: 0 0 33.3333333333%;
            max-width: 33.3333333333%;
        }
    }
    .method-wrap {
        width: auto;
        margin-bottom: 20px;
    }
    .choose-date {
        .inner {
            width: auto;
            margin-right: 10px;
        }
    }
    .sav-detail-wrap {
        .comm-right {
            flex: 0 0 284px;
            max-width: 284px;
        }
    }
    #modalModifier {
        .label-form {
            color: #B3B3B3;
            margin-bottom: 10px;
            flex: 0 0 100%;
            max-width: 100%;
            margin-right: 0;
            display: flex;
            justify-content: flex-start;
        }
        .col-input {
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
        }
        .inner {
            .form-group {
                align-items: flex-start;
                flex-direction: column;
            }
        }
    }
    .panier-promo {
        flex-direction: column;
        align-items: flex-start;
        .promo-ttl {
            margin-bottom: 10px;       
        }
    }
    .label-form.empty {
        display: none !important;
    }
}
@media (max-width: 960px) {
    .detail-commandes {
        .table-product {
            width: 960px;
        }
    }
    .table-mobile {
        display: block;
    }
    .table-pc {
        display: none;
    }
}
@media (max-width: 900px) {
    .frm_meclaration {
        .col-title, .col-input {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .col-title {
            margin-bottom: 5px;
        }
        .col-empty {
            display: none !important;
        }
    }
    #modalDeclaration {
        .col-title {
            justify-content: flex-start;
        }
    }
}
@media (max-width: 860px) {
    .checkout-step {
        .inner {
            width: 90%;
        }
    }
    .checkout-term {
        .term-left, .term-right {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .term-left {
            margin-bottom: 30px;
        }
        .term-button {
            align-items: center;
            justify-content: center;
        }
    }
}
@media (max-width: 830px) {
    .checkout-step {
        .container {
            position: relative;
            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                z-index: 10;
                right: 50px;
                width: 80px;
                background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
                background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, white 100%);
                background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, white 100%);
            }
        }
        .inner {
            overflow: hidden;
            overflow-x: auto;
            .row {
                width: 750px;
            }
        }
        .step-title {
            font-size: 16px;
            line-height: 18px;
        }
        .step-cir {
            width: 40px;
            height: 40px;
            flex: 0 0 40px;
            .ico {
                -webkit-mask-size: cover;
                -moz-mask-size: cover;
                mask-size: cover;
                &.cart {
                    height: 20px;
                    width: 20px;
                }
                &.delivery {
                    width: 24px;
                    height: 20px;
                }
            }
        }
    }
}
@media (max-width: 800px) {
    .sav-detail-wrap {
        .row {
            flex-direction: column-reverse;
        }
        .comm-right {
            margin-bottom: 50px;
            .box-white {
                min-height: auto;
            }
        }
        .comm-center, .comm-right {
            flex: auto;
            max-width: none;
        }
    }
}