/**
 * CSS RESPONSIVE PAGE COMMANDES
 */
@media (max-width: 1754px) {
    .mes-form-wrap {
        .row {
            margin-left: -15px;
            margin-right: -15px;
            [class*="col"] {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
    .sav-detail-wrap {
        .comm-right {
            flex: 0 0 284px;
            max-width: 284px;
        }
    }
}
@media (max-width: 1500px) {
    .mes-information {
        .ttl {
            margin-bottom: 20px;
        }
        .modifier {
            top: 30px;
        }
    }
    .link_declare {
        font-size: 10px;
    }
    .commandes-wrap {
        .txt {
            font-size: 14px;
            line-height: 20px;
        }
    }
    .card-box {
        .card-content {
            padding: 10px 15px;
            .head {
                margin-bottom: 10px;
            }
        }
        .card-title {
            padding: 0 15px;
        }
    }
    .card-title {
        .action-circle {
            &.edit {
                right: 15px;
            }
            &.del {
                right: 55px;
            }
        }
    }
    .sav-detail-wrap {
        .block-module {
            .ttl {
                font-size: 13px;
                line-height: 17px;
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }
        .sav-box-ttl, .mod-content {
            font-size: 13px;
            line-height: 17px;
        }
    }
    .mess-item {
        margin-bottom: 20px;
        .ctent {
            flex: 1 1 auto;
            .text {
                padding: 15px 25px;
                margin-bottom: 10px;
            }
        }
    }
    .table-product {
        .header-table  {
            font-size: 12px;
        }
    }
    .table-item {
        .col-id {
            font-size: 12px;
            width: 70px;
        }
        .col-name {
            width: auto;
            .ttl, .desc {
                font-size: 12px;
                line-height: 16px;
            }
        }
        &.price, &.num, .text {
            font-size: 12px;
            line-height: 16px;
        }
    }
    .table-item {
        .clor-item {
            font-size: 10px;
            line-height: 14px;
            display: block;
            padding-left: 10px;
            .size {
                font-size: 12px;
            }
            .cir {
                display: inline-block;
                width: 10px;
                height: 10px;
                float: none;
            }
        }
        .thumb {
            img {
                width: 60px;
                display: block;
                margin: 0 auto;
            }
        }
    }
    .table-payment {
        font-size: 12px;
        line-height: 16px;
    }
    #modalDeclaration, #modalDeclarationStep2 {
        .modal-dialog {
            max-width: 95%;
        }
    }
    #modalDeclarationStep2 {
        .block-module {
            .ttl {
                font-size: 14px;
            }
        }
    }
    .table-product, .table-payment {
        .prc_right {
            padding-right: 50px;
        }
    }
    .table-prod-align {
        .table-item {
            .action-circle {
                right: -63px;
            }
        }
    }
}
@media (max-width: 1366px) {
    .table-product, .table-payment {
        .prc_right {
            padding-right: 40px;
        }
    }
    .table-prod-align {
        .table-item {
            .action-circle {
                right: -53px;
            }
        }
    }
}
@media (max-width: 1200px) {
    .table-imb {
        .w60 {
            width: 80%;
        }
    }
    .table-item {
        .col-id {
            font-size: 11px;
            width: 55px;
        }
    }
    #modalModifier {
        .modal-dialog {
            width: 95%;
        }
    }
    #modalDeclaration , #modalDeclarationStep2 {
        .inner {
            width: 95%;
        }
    }
}
@media (max-width:1170px) {
    .table-detail-commandes {
        .table-pc {
            display: none;
        }
        .table-mobile {
            display: block;
        }
    }
}
@media (max-width: 1024px) {
    .table-imb {
        .w60 {
            width: auto;
        }
    }
    .mes-information {
        padding: 15px;
        .modifier {
            top: 10px;
        }
        .mes-icon {
            width: 100px;
            height: 100px;
            flex:  0 0 100px;
            margin-right: 30px;
        }
    }
    .mes-address-wrap {
        .block-title {
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 2px;
        }
    }
    .gestion-list {
        .gestion-item {
            flex: 0 0 50%;
            max-width: 50%;
        }
    }
    .detail-commandes {
        .table-product{
            width: 900px;
        }
        .comm-right {
            overflow: hidden;
        }
    }
    #modalModifier {
        .frm_modifier {
            .inner {
                width: auto;
            }
        }
    }
    #modalDeclaration , #modalDeclarationStep2 {
        .inner {
            width: auto;
        }
    }
}