.actualites-wrap.pb-60.imb_tab
    .container
        .head-tab
            .table-responsive
                include ./tabs/nav-tabs
        // END : NAV TAB
        .tab-content.blk-dot-bg.right-top
            include ./tabs/tours
            // END : TAB TOURs
            include ./tabs/produits
            // END : TAB Produits
            include ./tabs/marques
            // END : TAB Marques
            include ./tabs/corporate
            // END : TAB Corporate
            include ./tabs/tendances
            // END : TAB Tendances
            .bg-dot
                img(src="uploads/line_dot.svg", alt="")
            // END : ICON DOTs
        // END : TAB CONTENT
