nav.pagination-wrap
    a(href="#", class="page-link first")
        i.ico.arrow_db_left
    a(href="#", class="page-link prev")
        i.ico.arrow_chev_left
    span.page-link.current_page 1
    a(href="#", class="page-link") 2
    a(href="#", class="page-link") 3
    a(href="#", class="page-link") 4
    a(href="#", class="page-link next")
        i.ico.arrow_chev_right
    a(href="#", class="page-link last")
        i.ico.arrow_db_right