.footer-copyright
    .container
        .row
            .col-md-8.copyright 2019 - Copyright : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum a dui a malesuada. Suspendisse ac vestibulum ante, a pharetra nunc.
            // END : COPYRIGHT
            .col-md-3.copy-menu.copy-menu-pc
                ul.clearfix
                    li
                        a(href="#") Mentions légales
                    li
                        a(href="#") Conditions générales de vente 
                    li
                        a(href="#") SAV
            // END : MENU
            .col-md-1.copy-payment
                img(src="uploads/master.png", alt="")
                img(src="uploads/visa.png", alt="")
            // END : PAYMENT
            .col-md-12.copy-menu.copy-menu-mobile
                ul.clearfix
                    li
                        a(href="#") Mentions légales
                    li
                        a(href="#") Conditions générales de vente 
                    li
                        a(href="#") SAV
            // END : MENU