footer.footer-wrap.footer-home
    .container
        .row
            .col-md-4.footer-text
                .inner
                    .caption-title DÉCOUVREZ&nbsp;
                        span IMBRETEX
                    h2.footer-ttl Nos ateliers : une logistique hors pair
                    .desc 
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ornare dapibus porttitor. Aenean in luctus turpis. Proin laoreet quis lorem nec viverra. 
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ornare dapibus porttitor. Aenean in luctus turpis. Proin laoreet quis lorem nec viverra. 
            // END : TEXT
            .col-md-8.footer-category
                .row
                    .col-md-4.footer-cate-item
                        a(href="#")
                            figure.pic
                                i.ico.barcode
                            .ctent
                                h3.ttl Un catalogue unique
                                .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum a dui a malesuada. 
                                .more Voir plus…
                    // END : ITEM
                    .col-md-4.footer-cate-item
                        a(href="#")
                            figure.pic
                                i.ico.tool
                            .ctent
                                h3.ttl Des services personnalisés
                                .txt  Ut dictum a dui a malesuada. Suspendisse ac vestibulum ante, a pharetra nunc.
                                .more Voir plus…
                    // END : ITEM
                    .col-md-4.footer-cate-item
                        a(href="#")
                            figure.pic
                                i.ico.teleman
                            .ctent
                                h3.ttl Une équipe à votre écoute
                                .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum a dui a malesuada. 
                                .more Voir plus…
                    // END : ITEM
            // END : CATEGORY