footer.footer-wrap
    .container
        .footer-category
            .row
                .col-md-4.footer-cate-item
                    a(href="#")
                        figure.pic
                            i.ico.barcode
                        .ctent
                            h3.ttl Un catalogue unique
                            .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum a dui a malesuada. 
                            .more Voir plus…
                // END : ITEM
                .col-md-4.footer-cate-item
                    a(href="#")
                        figure.pic
                            i.ico.tool
                        .ctent
                            h3.ttl Des services personnalisés
                            .txt  Ut dictum a dui a malesuada. Suspendisse ac vestibulum ante, a pharetra nunc.
                            .more Voir plus…
                // END : ITEM
                .col-md-4.footer-cate-item
                    a(href="#")
                        figure.pic
                            i.ico.teleman
                        .ctent
                            h3.ttl Une équipe à votre écoute
                            .txt Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut dictum a dui a malesuada. 
                            .more Voir plus…
                // END : ITEM
        // END : CATEGORY