.commandes-search.sav-search
    .container
        .block-search-wrap
            form
                input(type="text", placeholder="Rechercher une référence produit ou un numéro de commande", class="ipt")
                button(type="button", class="btn-search")
                    i.ico.search
        // END : SEARCH
        a(href="#").link_mod_search
            i.ico.search