.commandes-wrap
    .table-mode.pb-60
        table.sav-tbl.table.table-imb(data-tablesaw-mode="swipe").tablesaw.tablesaw-swipe
            thead
                tr
                    th.text-center Num SAV
                    th.text-center Num commande liée
                    th.text-center Num commande interne
                    th.th-status Statut
                        i.ico.arrow_down
                    th.text-center Demande
                    th.text-center Mise à jour
                    th.text-center.actions &nbsp;
            tbody
                tr
                    td.text-center 
                        a(href="sav-detail.html") SAV190500001
                    td.text-center Ref XXXXXXXXX
                    td.text-center 
                        .w60 Ref 2019-06 Commande John
                    td
                        .status.warning
                            span.cir
                            | En cours
                    td.text-center 10/10/19 à 15h30
                    td.text-center.td-date
                        .status.warning
                            i.ico.ico_quote
                            | 10/10/19 à 15h30
                    td.text-center
                        a(href="sav-detail.html").action
                            i.ico.eye
                tr
                    td.text-center 
                        a(href="sav-detail.html") SAV190500001
                    td.text-center Ref XXXXXXXXX
                    td.text-center -
                    td
                        .status.success
                            span.cir
                            | Résolu
                    td.text-center 10/10/19 à 15h30
                    td.text-center.td-date 10/10/19 à 15h30
                    td.text-center
                        a(href="sav-detail.html").action
                            i.ico.eye
                tr
                    td.text-center 
                        a(href="sav-detail.html") SAV190500001
                    td.text-center Ref XXXXXXXXX
                    td.text-center -
                    td
                        .status.error
                            span.cir
                            | En attente de 
                            br
                            | traitement
                    td.text-center 10/10/19 à 15h30
                    td.text-center.td-date 10/10/19 à 15h30
                    td.text-center
                        a(href="sav-detail.html").action
                            i.ico.eye
                tr
                    td.text-center 
                        a(href="sav-detail.html") SAV190500001
                    td.text-center Ref XXXXXXXXX
                    td.text-center -
                    td
                        .status.success
                            span.cir
                            | Résolu
                    td.text-center 10/10/19 à 15h30
                    td.text-center.td-date 10/10/19 à 15h30
                    td.text-center
                        a(href="sav-detail.html").action
                            i.ico.eye
                tr
                    td.text-center 
                        a(href="sav-detail.html") SAV190500001
                    td.text-center Ref XXXXXXXXX
                    td.text-center 
                        .w60 Ref 2019-06 Commande John
                    td
                        .status.warning
                            span.cir
                            | En cours
                    td.text-center 10/10/19 à 15h30
                    td.text-center.td-date
                        .status.warning
                            i.ico.ico_quote
                            | 10/10/19 à 15h30
                    td.text-center
                        a(href="sav-detail.html").action
                            i.ico.eye
                tr
                    td.text-center 
                        a(href="sav-detail.html") SAV190500001
                    td.text-center Ref XXXXXXXXX
                    td.text-center -
                    td
                        .status.success
                            span.cir
                            | Résolu
                    td.text-center 10/10/19 à 15h30
                    td.text-center.td-date 10/10/19 à 15h30
                    td.text-center
                        a(href="sav-detail.html").action
                            i.ico.eye
                tr
                    td.text-center 
                        a(href="sav-detail.html") SAV190500001
                    td.text-center Ref XXXXXXXXX
                    td.text-center -
                    td
                        .status.error
                            span.cir
                            | En attente de 
                            br
                            | traitement
                    td.text-center 10/10/19 à 15h30
                    td.text-center.td-date 10/10/19 à 15h30
                    td.text-center
                        a(href="sav-detail.html").action
                            i.ico.eye
                tr
                    td.text-center 
                        a(href="sav-detail.html") SAV190500001
                    td.text-center Ref XXXXXXXXX
                    td.text-center -
                    td
                        .status.success
                            span.cir
                            | Résolu
                    td.text-center 10/10/19 à 15h30
                    td.text-center.td-date 10/10/19 à 15h30
                    td.text-center
                        a(href="sav-detail.html").action
                            i.ico.eye
                tr
                    td.text-center 
                        a(href="sav-detail.html") SAV190500001
                    td.text-center Ref XXXXXXXXX
                    td.text-center -
                    td
                        .status.warning
                            span.cir
                            | En cours
                    td.text-center 10/10/19 à 15h30
                    td.text-center.td-date
                        .status.warning
                            i.ico.ico_quote
                            | 10/10/19 à 15h30
                    td.text-center
                        a(href="sav-detail.html").action
                            i.ico.eye
                tr
                    td.text-center 
                        a(href="sav-detail.html") SAV190500001
                    td.text-center Ref XXXXXXXXX
                    td.text-center  
                        .w60 Ref 2019-06 Commande John
                    td
                        .status.success
                            span.cir
                            | Résolu
                    td.text-center 10/10/19 à 15h30
                    td.text-center.td-date 10/10/19 à 15h30
                    td.text-center
                        a(href="sav-detail.html").action
                            i.ico.eye
    include ../actualites/pagination
    // END : PAGINATION