/**
 * CSS CATEGORY
 */
.category-desc-wrap {
    padding-bottom: 40px;
    margin-top: 30px;
    overflow: hidden;
    .block-title, .block-title-large, .block-desc   {
        text-align: left;
    }
    .block-desc {
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 0;
    }
    .block-title {
        margin-bottom: 10px;
    }
    .block-title-large {
        left: 0;
        font-size: 204px;
        line-height: 248px;
        top: -20px;
    }
}
.category-desc-wrap {
    .row {
        align-items: center;
    }
    .desc-right {
        text-align: center;
        img {
            width: auto;
            max-width: 100%;
        }
    }
}
.category-banner {
    position: relative;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    height: 410px;
    margin-bottom: 50px;
    overflow: hidden;
    .block-title-large {
        left: 40px;
        font-size: 204px;
        line-height: 248px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
    }
}
.category-wrap  {
    .block-sortby {
        padding-top: 30px;
        border-top: 1px solid #d9d9d9;
        &.pb-60 {
            padding-bottom: 40px;
        }
    }
}
.product-item {
    .tags-wrap {
        height: 18px;
        line-height: 18px;
        text-align: center;
        margin-top: 10px;
    }
    .tag {
        display: inline-block;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 10px;
        padding-left: 15px;
        padding-right: 15px;
        color: #fff;
    }
}
.pb-80 {
    padding-bottom: 80px;
}
.box-white {
    background-color: #fff;
    box-shadow: 0 3px 10px rgba(0,0,0,0.08);
}
.block-module {
    padding: 0 15px;
    border-bottom: 2px solid #F5F5F5;
    .ttl {
        font-size: 14px;
        color: #666;
        position: relative;
        margin-bottom: 0;
        padding: 25px 20px 25px 0;
        &::after {
            content: '';
            display: block;
            -webkit-mask: url('../images/icons/ico_arrow_up.svg') no-repeat center;
            mask: url('../images/icons/ico_arrow_up.svg') no-repeat center;
            width: 12px;
            height: 8px;
            background-color: #8D8D8D;
            position: absolute;
            // top: 50%;
            // transform: translateY(-50%);
            top: 30px;
            z-index: 1;
            right: 0;
        }
    }
}
.block-module {
    .mod-content {
        padding-bottom: 25px;
    }
    .mod-title {
        cursor: pointer;
        position: relative;
    }
}
.block-module {
    &.hiden {
        .ttl {
            &::after {
                -webkit-mask: url('../images/icons/ico_arrow_down.svg') no-repeat center;
                mask: url('../images/icons/ico_arrow_down.svg') no-repeat center;
            }
        }
        .mod-content {
            display: none;
        }
    }
}
.mod-list {
    li {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.mod-couleurs {
    li {
        margin-bottom: 0;
        padding: 0 5px 10px 5px;
        float: left;
        width: calc(100%/6);
    }
    .mod-list {
        height: 60px;
        margin-left: -7.5px;
        margin-right: -7.5px;
    }
}
.mod-category {
    .mod-list {
        margin-bottom: 30px;
        max-height: 300px;
    }
    .more {
        @include fontRoboto(900);
        font-size: 10px;
        letter-spacing: 1.5px;
        padding-left: 10px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #B3B3B3;
        .ico {
            margin-right: 25px;
        }
    }
}
.mod-category {
    .category_filter {
        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        right: 25px;
    }
}
.mod-scrollbar {
    overflow: hidden;
    // overflow-y: auto;
    position: relative;
    .mCSB_scrollTools {
        width: 10px;
        .mCSB_draggerRail {
            background: none;
        }
        .mCSB_dragger {
            .mCSB_dragger_bar {
                width: 8px;
                background-color: rgba(0,0,0,0.19);
            }
            &:hover {
                .mCSB_dragger_bar {
                    background-color: rgba(0,0,0,0.5);
                }
            }
        }
    }
}
.mod-category {
    .block-search-wrap {
        position: absolute;
        top: 50px;
        background-color: #fff;
        box-shadow: 0 3px 10px rgba(0,0,0,0.08);
        right: 25px;
        padding-left: 10px;
        left: 0;
        width: auto;
        border: 1px solid #d9d9d9;
        z-index: -10;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
        &.shw {
            z-index: 10;
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
        }
        .ipt {
            font-size: 12px;
        }
    }
}
.category_filter {
    &.act {
        .ico.search {
            -webkit-mask: url('../images/icons/ico_close.svg') no-repeat center;
            mask: url('../images/icons/ico_close.svg') no-repeat center;
            width: 30px;
            height: 30px;
            background-color: #d9d9d9;
            -webkit-mask-size: cover;
            -moz-mask-size: cover;
            -o-mask-size: cover;
            mask-size: cover;
        }
    }
}
.mod-price {
    .slider {
        &.slider-horizontal {
            width: 100% !important;
            .slider-track {
                height: 4px;
                background-color: #F5F5F5;
                @include border-radius(2px);
            }
            .slider-handle {
                margin-left: -8px;
                margin-top: -6px;
            }
        }
    }
    .slider-selection {
        background: $orange;
    }
    .slider-handle {
        opacity: 1;
        width: 16px;
        height: 16px;
        background: $orange;
    }
}
.slider-input {
    display: flex;
    align-items: center;
    justify-content: center;
    .ipt {
        width: 45%;
        height: 40px;
        border: 2px solid #f5f5f5;
        @include border-radius(4px);
        @include fontRoboto(500);
        color: #666;
        font-size: 12px;
        text-align: center;
        padding-left: 0;
        font-style: normal;
    }
    .symbol {
        @include fontRoboto(500);
        color: #666;
        font-size: 12px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
.mod-price {
    .slider {
        margin-bottom: 20px;
    }
}
.product-list-wrap {
    .row {
        margin-left: -7px;
        margin-right: -7px;
    }
    .product-item {
        padding-left: 7px;
        padding-right: 7px;
    }
}
.filter-by {
    margin-left: 18px;
    padding-left: 18px;
    border-left: 1px solid #D9D9D9;
    display: none;
    .filter_link {
        @include fontHindMadurai(400);
        font-size: 17px;
        line-height: 24px;
        color: rgba(68,75,83,0.39);
        display: flex;
        align-items: center;
        .ico {
            margin-left: 10px;
        }
    }
}
.mCSB_inside {
    > .mCSB_container {
        margin-right: 10px;
    }
}
.category-wrap {
    margin-top: 40px;
    .head-filter {
        display: none;
        padding: 20px 30px;
        position: relative;
        .ttl {
            color: #444B53;
            @include fontMontserrat(700);
            font-size: 18px;
            line-height: 22px;
            letter-spacing: 8px;
            margin-bottom: 0;
            text-align: center;
        }
        .close_filter {
            width: 30px;
            height: 30px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 15px;
            z-index: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}