/**
 * CSS CHECKOUT PAGE
 */
.checkout-step {
    margin-bottom: 60px;
    .inner {
        width: 825px;
        margin: 0 auto;
        position: relative;
        background-color: #fff;
        z-index: 2;
    }
    .step-cir {
        width: 60px;
        height: 60px;
        flex: 0 0 60px;
        border: 3px solid #F5F5F5;
        @include border-radius(50%);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
        .ico {
            background-color: #ccc;;
        }
    }
}
.checkout-step {
    .step-title  {
        @include fontHindMadurai(400);
        font-size: 16px;
        line-height: 18px;
        color: #666;
        span {
            display: block;
        }
    }
}
.step-item {
    &.active {
        .step-cir {
            border-color: $orange;
            .ico {
                background-color: $orange;
            }
        }
    }
}
.step-item {
    a {
        display: flex;
        align-items: center;
    }
    &:hover {
        .step-cir {
            border-color: $orange;
            .ico {
                background-color: $orange;
            }
        }
    }
}
.checkout-step {
    .container {
        position: relative;
        &::before {
            content: '';
            display: block;
            height: 1px;
            background-color: rgba(112, 112, 112, 0.38);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
            left: 15px;
            right: 15px;
        }
    }
}
.checkout-wrap {
    .table-item {
        .action-circle {
            &.del {
                top: 42px;
            }
            &.edit {
                top: 12px;
            }
        }
        .ipt_num {
            margin: 0 auto;
        }
    }
    .btn-valider {
        margin-right: 30px;
    }
}
.checkout-term {
    border-top: 1px solid #DCDCDC;
    padding-top: 40px;
    padding-bottom: 60px;
    .term-button{
        display: flex;
        align-items: stretch;
        justify-content: flex-end;
        align-self: flex-end;
    }
}
.checkout-term {
    .term-inner {
        padding: 20px 40px;
        background-color: #F6F6F6;
        border: 1px solid #DCDCDC;
        @include border-radius(6px);
    }
    .ttl {
        @include fontLora(400);
        font-style: italic;
        font-size: 15px;
        line-height: 21px;
        color: #000;
        margin-bottom: 20px;
    }
}
.checkout-term {
    .ipt_checkbox {
        & + label {
            font-size: 14px;
            line-height: 21px;
            color: #444B53;
            align-items: flex-start;
            .shape {
                background-color: #fff;
                margin-right: 10px;
            }
            .txt {
                width: 80%;
            }
        }
        &:checked {
            & + label {
                .shape {
                    background-color: $orange;
                }
            }
        }
    }
}
.step-item {
    &:first-child {
        a {
            padding-left: 43px;
        }
    }
    &:last-child {
        display: flex;
        justify-content: flex-end;
        a {
            padding-right: 43px;
        }
    }
    &.past {
        .step-cir {
            border-color: $orange;
            .ico {
                background-color: $orange;
            }
        }       
        .step-title  {
            color: $orange;
        }
    }
}
.block-options {
    border: 1px solid #EDEDED;
    border-bottom: none;
    border-right: none;
    .head-option {
        height: 40px;
        display: flex;
        align-items: center;
        background-color: #F6F6F6;
        padding-left: 20px;
        .option-ttl {
            font-weight: 700;
            color: #666;
            text-transform: uppercase;
            margin-bottom: 0;
            font-size: 15px;
        }
    }
}
.option-item {
    .label-content {
        width: 90%;
        display: flex;
        flex: 1;
        align-items: center;
    }
    .opt-content {
        display: flex;
        align-items: center;
        flex: 1;
    }
    .opt-pic {
        width: 70px;
        margin-right: 30px;
    }
}
.option-item {
    .opt-title {
        font-size: 15px;
        line-height: 21px;
        font-weight: 700;
        color: #444B53;
        margin-bottom: 0;
    }
    .txt {
        font-size: 15px;
        line-height: 18px;
        @include fontLora(400);
        font-style: italic;
        color: #000;
    }
    .date {
        color: #000;
        font-size: 15px;
        line-height: 21px;
        @include fontHindMadurai(700);
        span {
            font-weight: 400;
            color: #A2A2A2;
        }
    }
}
.option-item {
    display: flex;
    .opt-content {
        .ctent {
            width: 80%;
        }
        .opt-price {
            width: 20%;
            display: flex;
            justify-content: flex-end;
            color: #444B53;
            font-size: 15px;
            line-height: 19px;
        }
    }
}
.option-item {
    -webkit-transition: all .4s ease;
            -moz-transition: all .4s ease;
            -o-transition: all .4s ease;
            transition: all .4s ease;
    background-color: #fff;
    cursor: pointer;
    border-right: 1px solid #EDEDED;
    border-bottom: 1px solid #EDEDED;
    &:hover {
        background-color: #FFF7EB;
    }
}
.block-options {
    margin-bottom: 100px;
    .row {
        margin-left: 0;
        margin-right: 0;
        [class*='col'] {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .ipt_radio {
        + label {
            padding: 30px;
            flex: 1;
            display: flex;
        }
        &:checked {
            + label {
                background-color: #FFF7EB;
            }
        }
    }
}
.options-livraison {
    .opt-pic {
        text-align: center;
        img {
            width: 80%;
            opacity: 0.31;
        }
    }
    .ipt_radio {
        &:checked {
            + label {
                .opt-pic {
                    img {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
.options-button {
    text-align: right;
}
.card-box {
    .card-content-ttl {
        @include fontLora(700);
        font-style: italic;
        font-size: 17px;
        line-height: 23px;
        text-transform: uppercase;
        color: #000;
        margin-bottom: 20px;
    }
}
.option-address-wrap {
    .row {
        margin-left: -7.5px;
        margin-right: -7.5px;
        [class*='col'] {
            padding-left: 7.5px;
            padding-right: 7.5px;
        }
    }
    .card-box {
        margin-top: 0;
    }
}
.option-address-wrap {
    .ipt-select {
        border-color: #EDEDED;
        &:focus {
            border-color: $orange;
        }
    }
    .form-group {
        margin-bottom: 15px;
    }
    .add-address {
        color: $orange;
        text-decoration: underline;
        display: flex;
        align-items: center;
        @include fontLora(400);
        font-style: italic;
        font-size: 17px;
        .ico {
            margin-right: 10px;
            background-color: #D9D9D9;
        }
        &:hover {
            text-decoration: none;
        }
    }
}
.option-address-wrap {
    .option-address-ttl {
        font-size: 15px;
        line-height: 16px;
        letter-spacing: 2px;
        color: #666;
        font-weight: 700;
        padding-left: 10px;
        text-transform: uppercase;
        margin-bottom: 0;
        text-align: right;
    }
    .block-desc {
        text-align: right;
        font-size: 12px;
        line-height: 14px;
        margin-bottom: 0;
    }
}
.checkout-wrap {
    form {
        margin-bottom: 0;
    }
}
.method-wrap {
    background-color: rgba(255, 129, 3, 0.08);
    padding: 25px;
    .method-ttl {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: #666;
        margin-bottom: 15px;
        text-transform: uppercase;
    }
    .method-list {
        display: flex;
        align-items: center;
    }
    .txt {
        color: #666;
        font-size: 17px;
        line-height: 20px;
    }
}
.method-wrap {
    width: 80%;
    .ipt_radio {
        &+ label {
            .shape {
                margin-right: 10px;
            }
        }
    }
    .method-item {
        margin-right: 50px;
        &:last-child {
            margin-right: 0;
        }
    }
}
.term-method {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}
.method-wrap {
    margin-bottom: 40px;
}
.condition-wrap {
    margin-bottom: 15px;
}
.checkout-term {
    .condition-wrap {
        .ipt_checkbox {
            &+ label {
                .txt {
                    width: auto;
                }
            }
        }
        a {
            text-decoration: underline;
        }
    }
}
.choose-date {
    margin-top: 30px;
    .date-ttl {
        color: #666;
        font-size: 15px;
        line-height: 19px;
        font-weight: 700;
        margin-bottom: 0;
        text-transform: uppercase;
    }
    .desc {
        @include fontLora(400);
        font-style: italic;
        font-size: 12px;
        line-height: 23px;
        color: #666;
        text-align: right;
    }
    .inner {
        width: 270px;
        margin-right: 50px;
    }
}
.choose-date {
    display: flex;
    align-items: center;
}
.calendar-wrap {
    position: relative;
    height: 50px;
    border: 1px solid #EDEDED;
    width: 160px;
    .ipt {
        border: none;
        color: #666;    
        @include fontMontserrat(300);
        font-style: normal;
        height: 50px;
        line-height: 50px;
    }
    .ico {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 15px;
        z-index: 1;
    }
}
.panier-options {
    .option-item {
        margin-bottom: 30px;
        border: none;
        &:hover {
            background-color: transparent;
        }
        .label-content {
            background-color: #FFF7EB;
            width: 100%;
            padding: 30px;
        }
    }
    .row {
        margin-left: -7.5px;
        margin-right: -7.5px;
        [class*='col'] {
            padding-left: 7.5px;
            padding-right: 7.5px;
        }
    }
}
.panier-message {
    .ipt-text {
        border: none;
        height: 80px;
        padding: 5px;
        &.vote {
            height: 40px;
        }
    }
    .card-box {
        margin-bottom: 20px;
        &:nth-of-type(2) {
            margin-bottom: 10px;
        }
    }
}
.panier-promo {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-top: 20px;
    .promo-ttl {
        color: #666;
        font-size: 15px;
        line-height: 19px;
        font-weight: 700;
        margin-right: 30px;
        margin-bottom: 0;
    }
    .promo-input-wrap {
        border: 1px solid #EDEDED;
        display: flex;
        align-items: center;
        padding: 5px;
        width: 344px;
    }
    .ipt {
        border: none;
        font-size: 13px;
        @include fontMontserrat(400);
        font-style: normal;
        // margin-right: 10px;
    }
    .btn-promo {
        @include fontLora(400);
        font-style: italic;
        font-size: 15px;
        text-align: center;
        color: #000;
        background-color: #F5F5F5;
        border: none;
        padding: 0 30px;
        height: 41px;
        outline: none;
        -webkit-transition: all .4s ease;
            -moz-transition: all .4s ease;
            -o-transition: all .4s ease;
            transition: all .4s ease;
        &:hover {
            background-color: darken(#f5f5f5, 10%);
        }
    }
}
.checkout-wrap {
    .table-product, .table-payment {
        .prc_right {
            padding-right: 90px;
        }
    }
    .table-prod-align {
        .table-item {
            .action-circle {
                right: -103px;
            }
        }
    }
}