/**
 * CSS PAGE COMMANDES
 */
.commandes-search {
    padding-bottom: 20px;
    .block-search-wrap {
        width: 444px;
        .ipt {
            font-size: 13px;
            line-height: 17px;
        }
    }
    .container {
        display: flex;
        justify-content: flex-end;
    }
}
.comm-block {
    padding: 25px 0;
    border-bottom: 2px solid #F5F5F5;
    a {
        text-transform: uppercase;
    }
}
.avatar-wrap {
    .avatar {
        background-color: $orange;
        width: 90px;
        height: 90px;
        margin: 0 auto;
        border: 1px solid transparent;
        @include border-radius(50%);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
        background-repeat: no-repeat;
        background-size: 70% auto;
        background-position: center;
        &:hover {
            color: $orange;
            background-color: #fff;
            border-color: $orange;
        }
        img {
            width: 70%;
            display: block;
            margin: 0 auto;
        }
    }
    .name {
        margin-bottom: 0;
        text-transform: uppercase;
        @include fontFuturaBold();
        font-size: 32px;
        line-height: 28px;
    }
}
.commandes-name {
    font-size: 14px;
    text-align: center;
    a {
        display: block;
    }
}
.commandes-connect {
    text-align: center;
    a {
        font-size: 11px;
        line-height: 16px;
        letter-spacing: 2px;
        color: #B3B3B3;
        &:hover {
            color: $orange;
        }
    }
}
.commandes-menu {
    li {
        position: relative;
        padding-left: 20px;
        margin-bottom: 25px;
        &:last-child {
            margin-bottom: 0;
        }
        a {
            font-size: 13px;
            line-height: 16px;
            display: flex;
            align-items: center;
            &::before {
                content: '';
                display: inline-block;
                width: 20px;
                height: 3px;
                @include  border-radius(3px);
                background-color: transparent;
                margin-right: 15px;
            }
        }
    }
}
.commandes-menu {
    li {
        &.active {
            a {
                &::before {
                    background-color: $orange;
                }
            }
        }
    }
}
.status {
    display: flex;
    align-items: center;
    &.success {
        color: #4FAC00;
        .cir {
            background-color: #4FAC00;
        }
    }
    &.warning {
        color: $orange;
        .cir {
            background-color: $orange;
        }
    }
    &.info {
        color: #1891EA;
        .cir {
            background-color: #1891EA;
        }
    }
    &.error {
        color: #FF1F36;
        align-items: baseline;
        .cir {
            background-color: #FF1F36;
        }
    }
    .ico {
        margin-right: 10px;
    }
}
.cir {
    width: 10px;
    height: 10px;
    @include border-radius(50%);
    float: left;
    margin-right: 5px;
    display: flex;
    flex: 0 0 10px;
}
.table-imb {
    .w60 {
        width: 60%;
        margin: 0 auto;
    }
    a {
        color: #444B53;
    }
}
.mes-information {
    background-color: #F6F6F6;
    border: 1px solid #EDEDED;
    position: relative;
    padding: 30px;
    margin-bottom: 60px;
    .mes-icon {
        width: 128px;
        height: 128px;
        background-color: #fff;
        @include  border-radius(50%);
        border: 7px solid rgba(255, 255, 255, 0.21);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 60px;
    }
}
.mes-information {
    .mes-inner {
        display: flex;
        align-items: center;
    }
    .ttl {
        font-weight: 700;
        font-size: 16px;
        color: #000;
        margin-bottom: 30px;
        text-transform: uppercase;
    }
}
.commandes-wrap {
    .txt {
        font-size: 17px;
        line-height: 23px;
        @include fontLora(400);
        font-style: italic;
        &.bold {
            font-weight: 700;
        }
    }
}
.mes-information {
    .mes-right {
        display: flex;
        flex-direction: column;
        // justify-content: center;
    }
    .modifier {
        color: $orange;
        text-decoration: underline;
        @include fontLora(400);
        font-style: italic;
        font-size: 14px;
        position: absolute;
        top: 25px;
        right: 15px;
        z-index: 1;
        &:hover {
            text-decoration: none;
        }
    }
}
.mes-form-wrap {
    .inner-form {
        margin-bottom: 50px;
        position: relative;
        &::after {
            content: '';
            display: block;
            width: 1px;
            top: -15px;
            bottom: -15px;
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            background-color: #F0F0F0;
            z-index: 1;
        }
    }
}
.mes-form-wrap {
    .row {
        margin-left: -40px;
        margin-right: -40px;
        [class*="col"] {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}
.mes-address-wrap {
    margin-bottom: 80px;
    .block-title  {
        font-size: 17px;
        line-height: 20px;
        letter-spacing: 4px;
        text-align: left;
    }
}
.mes-address-title {
    .col-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;    
    }
    .row {
        align-items: center;
    }
}
.mes-address-wrap {
    .add {
        margin-left: 0;
        margin-right: 10px;
    }
    .btn-orange {
        display: flex;
        align-items: center;
        &:hover {
            .add {
                background-color: #000;
            }
        }
    }
}
.card-box {
    border: 1px solid #EDEDED;
    .card-title {
        background-color: #F6F6F6;
        height: 40px;
        line-height: 40px;
        position: relative;
        padding: 0 25px;
        margin-bottom: 0;
        display: flex;
        align-items: center;
    }
    .card-content {
        padding: 20px 25px;
        .head {
            margin-bottom: 20px;
        }
    }
    .card-ttl {
        margin-bottom: 0;
        font-weight: 700;
        font-size: 15px;
        color: #666;
    }
}
.mes-address-list {
    .row {
        margin-left: -10px;
        margin-right: -10px;
        [class*="col"] {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
.card-title {
    .action-circle {
        &.edit {
            right: 20px;
        }
        &.del {
            right: 60px;
        }
    }
}
.action-circle {
    @include border-radius(50%);
    background-color: #fff;
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 3px rgba(0,0,0,0.06);
    position: absolute;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}
.action-circle {
    &.del {
        .ico {
            background-color: #777;
            width: 20px;
            height: 20px;
            -webkit-mask-size: cover;
            -moz-mask-size: cover;
            -o-mask-size: cover;
            mask-size: cover;
        }
    }
    &:hover {
        background-color: $orange;
        .ico {
            background-color: #fff;
        }
    }
}
.mes-information {
    .mes-left {
        padding-right: 0;
    }
    .mes-right {
        padding-left: 0;
    }
}
.card-box {
    .card-title {
        a {
            opacity: 0;
            visibility: hidden;
            transform: scale(0.6);
            z-index: -1;
        }
    }
    &:hover {
        .card-title {
            a {
                opacity: 1;
                visibility: visible;
                transform: scale(1);
                z-index: 1;
            }
        }
    }
}
.card-box {
    margin-top: 20px;
    .card-ttl {
        display: flex;
        align-items: center;
        .ico {
            margin-right: 10px;
            background-color: #666;
            -webkit-mask-size: cover;
            -moz-mask-size: cover;
            -o-mask-size: cover;
            mask-size: cover;
            &.cart {
                width: 16px;
                height: 16px;
            }
            &.eye {
                width: 16px;
                height: 12px;
            }
        }
    }
}
.block-title-page {
    overflow: hidden;
    .block-status {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
}
.sav-detail-wrap {
    .comm-right {
        .box-white {
            padding: 20px;
            width: 100%;
            min-height: auto;
        }
        .block-module {
            .ttl::after {
                top: 20px;
            }
        }
    }
    .mod-content {
        font-weight: 300;
        font-size: 15px;
        color: #B3B3B3;
        line-height: 21px;
        b, strong {
            font-weight: 500;
        }
        p {
            margin-bottom: 5px;
        }
    }
    .block-module {
        padding: 0;
        border-bottom: none;
        .ttl {
            font-size: 15px;
            line-height: 21px;
            color: #B3B3B3;
            font-weight: 700;
        }
    }
    .sav-box-ttl {
        font-weight: 600;
        font-size: 14px;
        line-height: 21px;
        color: #444B53;
        margin-bottom: 0;
    }
}
.box-gray {
    background-color: #F8FAFB;   
}
.message-form {
    padding: 25px 25px 15px 25px;
    .ipt-text {
        background-color: #fff;
        @include fontHindMadurai(400);
        font-size: 14px;
        line-height: 30px;
        padding: 10px 25px;
        color: #999;
        border-color: transparent;
        height: 60px;
        &:focus {
            border-color: $orange;
            height: 150px;
        }
        &::-webkit-input-placeholder {
            color: #999;
        }
        &:-ms-input-placeholder { 
            color: #999;
        }
        &::placeholder {
            color: #999;
        }
    }
}
.message-form {
    .btn-orange {
        padding: 0;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        @include border-radius(50%);
        justify-content: center;
        .ico {
            margin-left: 0;
        }
        &:hover {
            background-color: darken($orange, 10%);
            .ico {
                background-color: #fff;
            }
        }
    }
}
.message-form {
    .form-group {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
            display: flex;
            justify-content: flex-end;
        }
    }
}
.mess-item {
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }
    &.date {
        @include fontHindMadurai(400);
        font-size: 14px;
        line-height: 30px;
        color: #B3B3B3;
        justify-content: center;
    }
}
.mess-item {
    .avt {
        width: 60px;
        height: 60px;
        @include border-radius(50%);
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 70%;
        }
        &.client {
            border: 1px solid #F8FAFB;
        }
    }
}
.mess-item {
    .avt {
        &.user {
            background-color: $orange;
            .name {
                color: #fff;
            }
        }
        .name {
            text-transform: uppercase;
            @include fontFuturaBold();
            font-size: 19px;
            line-height: 28px;
            color: #444B53;
        }
    }
}
.mess-item {
    .ctent {
        width: 80%;
        .text {
            @include border-radius(21px);
            padding: 20px 40px;
            @include fontHindMadurai(400);
            font-size: 15px;
            line-height: 20px;
            color: #999;
            margin-bottom: 15px;
        }
        .time {
            @include fontRoboto(500);
            font-size: 13px;
            color: #B3B3B3;
        }
    }
}
.mess-item {
    display: flex;
    align-items: flex-start;
    &.left {
        justify-content: flex-start;
        .avt {
            margin-right: 20px;
        }
    }
    &.right {
        justify-content: flex-end;
        .avt {
            margin-left: 20px;
        }
        .ctent {
            .time {
                text-align: right;
            }
        }
    }
}
.mess-item {
    &.has-user {
        .box-gray {
            background-color: $orange;
        }
        .ctent {
            .text {
                color: #fff;
            }
        }
    }
}
.message-wrap {
    margin-bottom: 0;
}
.sav-detail-wrap {
    .comm-right {
        align-items: stretch;
        display: flex;
    }
}
.detail-command-info {
    .inner {
        border: 2px solid #F5F5F5;
        @include border-radius(6px);
        padding: 30px;
        margin-bottom: 50px;
    }
    .ttl {
        font-size: 14px;
        line-height: 33px;
        text-transform: uppercase;
        color: #666;
        font-weight: 700;
        margin-bottom: 0;
    }
    .txt {
        font-size: 14px;
        line-height: 23px;
        color: #666;
        margin-bottom: 0;
        @include fontMontserrat(300);
    }
}
.detail-button-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    .btn {
        display: flex;
        align-items: center;
        margin-right: 25px;
        justify-content: center;
        &:last-child {
            margin-right: 0;
        }
        .download {
            margin-right: 5px;
            margin-left: 0;
        }
        .arrow_down {
            margin-left: 10px;
        }
    }
}
.detail-button-wrap {
    .btn {
        &.btn-outline-orange {
            padding-left: 0;
            padding-right: 0;
            width: 265px;
        }
    }
}
.table-payment {
    font-size: 15px;
    font-weight: 300;
    line-height: 19px;
    color: #000;
    td {
        border-top-color: #DCDCDC;
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: right;
        vertical-align: middle;
        span {
            display: block;
        }
        &.price {
            font-weight: 700;
            color: #444B53;
            // width: 190px;
            text-align: center;;
        }
        &.empty {
            width: 30px;
        }
    }
    tr {
        &:first-child {
            td {
                border-top: none;
            }
        }
    }
}
.sprint-wrap {
    @include fontLora(400);
    font-style: italic;
    font-size: 14px;
    line-height: 27px;
    border-top: 1px solid #DCDCDC;
    padding-top: 15px;
    .ico {
        margin-right: 10px;
    }
    a {
        color: #666;
        display: flex;
        align-items: center;
        &:hover {
            color: $orange;
            .ico {
                background-color: $orange;
            }
        }
    }
}
.table-product-wrap {
    border: 1px solid #EDEDED;
    .prod-info {
        @include fontHindMadurai(400);
        font-size: 16px;
        text-transform: uppercase;
        color: #666;
        padding: 20px 12px;
        &.has-border {
            border-bottom: 1px solid #F5F5F5;
        }
    }
}
.bg-gray {
    background-color: #F6F6F6;
}
#modalModifier {
    .modal-dialog {
        max-width: 1111px;
    }
    .frm_modifier {
        .inner {
            width: 946px;
            padding-left: 50px;
            padding-right: 50px;
        }
    }
    .label-form {
        text-transform: uppercase;
        font-weight: 900;
        color: #B3B3B3;
        margin-bottom: 0;
        flex: 0 0 280px;
        max-width: 280px;
        margin-right: 50px;
        display: flex;
        justify-content: flex-end;
    }
    .col-input {
        display: flex;
        flex: 1;
        width: 539px;
    }
}
.lbl-message {
    align-items: flex-start;
    .row {
        align-items: flex-start !important;
    }
}
#modalModifier {
    .inner {
        .form-group {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
        }
    }
    #modi_message {
        height: 100px;
    }
    #modi_txt_produit {
        height: 63px;
    }
}
.th-status {
    .ico {
        background-color: #666;
        margin-left: 5px;
    }
}
.gestion-list {
    .row {
        margin-left: -7.5px;
        margin-right: -7.5px;
        [class*="col"] {
            padding-left: 7.5px;
            padding-right: 7.5px;
        }
    }
    .card-box {
        margin-top: 15px;
    }
}
#modalDeclaration, #modalDeclarationStep2 {
    .modal-dialog {
        max-width: 1254px;
    }
    .inner {
        width: 1087px;
        padding-left: 60px;
        padding-right: 60px;
    }
    .label-form {
        text-transform: uppercase;
        font-weight: 900;
        color: #B3B3B3;
        text-align: right;
    }
    .row {
        display: flex;
        align-items: center;
    }
    .col-title {
        display: flex;
        justify-content: flex-end;
    }
}
#modalDeclaration {
    .btn-orange {
        .add {
            vertical-align: -4px;
            margin-left: 0;
            margin-right: 10px;
        }
        &:hover {
            .add {
                background-color: #000;
            }
        }
    }
    .insert-file {
        margin-top: 0;
    }
}

#modalDeclaration {
    .ipt-select {
        color: #444B53;
    }
    .table-imb {
        font-size: 14px;
        margin-bottom: 0;
        th {
            span {
                display: block;
                @include fontMontserrat(400);
                font-size: 9px;
                line-height: 12px;
            }
        }
        thead {
            th {
                font-size: 12px;
            }
        }
        .txt {
            font-size: 12px;
            line-height: 15px;
        }
        td {
            border-right: 1px solid #DBDBDB;
            border-top: none;
            &:last-child {
                border-right: none;
            }
        }
    }
}
#modi_message {
    height: 100px;
}
.fichiers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    .fich-item {
        border: 1px solid #B3B3B3;
        display: flex;
        align-items: center;
        margin: 0 15px 10px 0;
        padding: 10px;
        width: 186px;
        @include fontLora(400);
        font-style: italic;
        position: relative;
        .file {
            margin-right: 10px;
        }
    }
    .name {
        font-size: 14px;
        line-height: 18px;
        color: rgba(0,0,0,0.39);
    }
    .size {
        font-size: 11px;
        line-height: 14px;
        color: rgba(0,0,0,0.39);
    }
}
.remove {
    background-color: #fff;
    border: 1px solid #EDEDED;
    border-radius: 50%;
    box-shadow: 0 2px 3px rgba(0,0,0,0.06);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    width: 19px;
    height: 19px;
    z-index: 1;
    -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
    .ico {
        background-color: #D9D9D9;
        width: 9px;
        height: 9px;
        position: relative;
        top: auto;
        right: auto;
    }
    &:hover {
        background-color: $orange;
        border-color: $orange;
        .ico {
            background-color: #fff;
        }
    }
}
.group-button {
    &.has-two {
        .btn {
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
#modalDeclarationStep2 {
    .btn-dark {
        .ico {
            margin-right: 15px;
            vertical-align: -4px;
        }
        &:hover {
            .ico {
                background-color: #000;
            }
        }
    }
    .block-module {
        border-bottom: none;
        .ttl {
            @include fontMontserrat(700);
            color: #B3B3B3;
            font-size: 15px;
            padding-bottom: 10px;
            .sub {
                font-weight: 300;
                margin-left: 15px;
            }
        }
        .mod-content {
            color: #B3B3B3;
            font-weight: 300;
            p {
                margin-bottom: 0;
            }
            strong {
                font-weight: 500;
            }
        }
    }
}
#modalDeclarationStep2 {
    .mod-title {
        position: relative;
    }
    .remove {
        right: auto;
        left: -30px;
        top: 22px;
        transform: translateY(0);
    }
}
.commandes-wrap {
    .comm-left {
        flex: 0 0 284px;
        max-width: 284px;
    }
    .comm-right {
        max-width: none;
        flex: 1;
    }
}
.sav-detail-wrap {
    .comm-right {
        flex: 0 0 450px;
        max-width: 450px;
    }
    .comm-center {
        max-width: none;
        flex: 1;
    }
}
.commandes-menu-left {
    margin-left: 18px;
    padding-left: 18px;
    border-left: 1px solid #D9D9D9;
    display: none;
    .commandes-menu-link {
        @include fontHindMadurai(400);
        font-size: 17px;
        line-height: 24px;
        color: rgba(68,75,83,0.39);
        display: flex;
        align-items: center;
        .ico {
            margin-left: 10px;
            background-color: #B5B7BB;
        }
    }
}
.close_commandes_info {
    display: none;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
}
.commandes-search-mb {
    display: none;
}
.link_mod_search {
    display: none;
}
.detail-commandes  {
    .table-mobile {
        .table-product {
            width: auto;
        }
    }
}
.table-mobile {
    display: none;
    .table-row {
        padding-top: 30px;
        &::after {
            display: none;
        }
        &.info-row {
            margin-bottom: -30px;
        }
    }
    .table-item {
        display: flex;
        width: 100% !important;
        align-items: center;
        .col-name {
            .desc, .ttl {
                font-size: 15px;
                line-height: 21px;
            }
        }
        .col-id {
            font-size: 15px;
            line-height: 21px;
        }
    }
    .col-id {
        flex: 0 0 25%;
        max-width: 25%;
    }
    .col-name {
        flex: 0 0 75%;
        max-width: 75%;
    }
}
.table-mobile {
    .table-row {
        .item-color {
            padding: 0;
            border-bottom: 6px solid #fff;
        }
    }
    .thumb {
        width: 60px;
    }
    .table-item {
        font-size: 15px;
        .clor-item {
            font-size: 15px;
            line-height: 27px;
            .size {
                font-size: 15px;
            }
            .cir {
                width: 15px;
                height: 15px;
            }
        }
        &.lrg {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}
.table-mobile {
    .ctent, .title {
        color: #666;
        font-weight: 700;
        font-size: 15px;
        text-transform: uppercase;
    }
    .ctent {
        color: #444B53;
    }
    .title {
        text-align: left;
    }
    .table-item {
        .text {
            font-size: 15px;
        }
    }
    .bd-bottom {
        border-bottom: 1px solid #DBDBDB;
    }
    .has-line {
        position: relative;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 6px;
            background-color: #fff;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    .col-6 {
        padding-left: 0;
        padding-right: 0;
    }
}
.table-mobile {
    .item-actions {
        position: relative;
    }
    .table-item {
        .action-circle {
            right: -14px;
            &.edit {
                top: 32px;
            }
            &.del {
                top: 0;
            }
        }
    }
    .table-wrap {
        border-bottom: 2px solid #D5D5D5;
        padding-bottom: 30px;
        &:last-child {
            padding-bottom: 0;
            border-bottom: none;
        }
    }
}
.table-detail-commandes {
    .table-mobile {
        .table-item {
            .clor-item {
                font-size: 12px;
                line-height: 15px;
                .size {
                    font-size: 12px;
                }
            }
        }
    }
}
.link_declare {
    @include fontLora(400);
    font-size: 12px;
}
.th-status {
    cursor: pointer;
}
.sav-tbl {
    .td-date {
        font-size: 13px;
        .status {
            // justify-content: center;
            display: inline-block;
            position: relative;
            .ico {
                position: absolute;
                left: -10px;
            }
        }
    }
}
.table-product, .table-payment {
    .prc_right {
        text-align: right !important;
        padding-right: 70px;
    }
}
.commandes-wrap {
    .box-white {
        &.fixed {
            position: fixed;
            top: 130px;
            z-index: 100;
            width: 254px;
            &.bottom {
                position: absolute;
                top: auto;
                bottom: 0;
            }
        }
    }
}