/**
 * CSS CONTACT
 */
.block-title-page {
    padding-top: 60px;
    padding-bottom: 40px;
    .inner {
        border-bottom: 1px solid #D9D9D9;
        position: relative;
        padding-bottom: 40px;
        &.no-border {
            border-bottom: none;
        }
    }
    .block-title {
        margin-bottom: 5px;
    }
    .block-title-large {
        top: -25px;
        left: 0;
        right: 0;
        text-align: center;
        font-size: 54px;
        line-height: 66px;
        margin-bottom: 0;
        letter-spacing: 18px;
    }
    .block-desc {
        margin-bottom: 0;
    }
}
.contact-wrap {
    overflow: hidden;
    .desc {
        font-size: 16px;
        line-height: 22px;
        font-style: italic;
        @include fontLora(400);
        margin-bottom: 35px;
        color: rgba(0, 0, 0, 0.59);
    }
    .row {
        margin-left: -30px;
        margin-right: -30px;
        [class*="col"] {
            padding-left: 30px;
            padding-right: 30px;
        }
    }
}
.contact-wrap {
    .form-group {
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .bg-dot {
        left: -44px;
    }
}
.pb-60 {
    padding-bottom: 60px;
}
.contact-img-mobile {
    display: none !important;
}
.contact-img-pc {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}