/**
 * CSS FOOTER
 */
.footer-copyright {
    background-color: $dark;
    .row {
        height: 70px;
        align-items: center;
    }
    .copyright {
        @include fontLora(400);
        color: rgba(255, 255, 255, 0.5);
        line-height: 18px;
    }
}
.copy-menu {
    text-align: center;
    ul {
        display: inline;
        li {
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            border-right: 1px solid rgba(255, 255, 255, 0.5);
            line-height: 14px;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
                border-right: none;
            }
            a {
                display: block;
                color: rgba(255, 255, 255, 0.5);
                @include fontNunito(300);
                &:hover {
                    color: $orange;
                }
            }
        }
    }
}
.copy-menu {
    &.copy-menu-mobile {
        display: none;
    }
}
.copy-payment {
    text-align: right;
    img {
        width: 50px;
        margin-right: 10px;
        display: inline-block;
        &:last-child {
            margin-right: 0;
        }
    }
}
.footer-wrap {
    background-image: url('../images/footer_bg_lpc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 70px;
    padding-bottom: 40px;
    background-position: center;
    &::before {
        content: '';
        display: block;
        background-color: rgba(0,0,0,0.64);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }
    .container {
        position: relative;
        z-index: 2;
    }
    .row {
        justify-content: center;
        align-items: center;
    }
}
.footer-text {
    text-align: center;
    color: #fff;
}
.caption-title {
    background-color: #fff;
    color: #444B53;
    height: 37px;
    line-height: 38px;
    padding-left: 15px;
    padding-right: 15px;
    @include fontHindMadurai(400);
    display: inline-block;
    letter-spacing: 2.3px;
    margin-bottom: 20px;
    text-transform: uppercase;
    span {
        font-weight: 700;
    }
}
.footer-text {
    .inner {
        width: 420px;
        margin: 0 auto;
    }
    .footer-ttl {
        @include fontMontserrat(400);
        font-size: 35px;
        line-height: 44px;
        margin-bottom: 30px;
    }
    .desc  {
        @include fontLora(400);
        font-size: 17px;
        line-height: 24px;
        font-style: italic;
        p {
            margin-bottom: 20px;
        }
    }
}
.footer-cate-item {
    text-align: center;
    a {
        color: #fff;
    }
    .pic {
        display: flex;
        width: 106px;
        height: 106px;
        background-color: rgba(255, 255, 255, 0.25);
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        @include border-radius(50%);
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
    }
}
.footer-cate-item {
    .ttl {
        @include fontLora(400);
        font-size: 18px;
        line-height: 24px;
        font-style: italic;
    }
    .txt {
        line-height: 20px;
        @include fontNunito(300);
        width: 275px;
        margin: 0 auto;
        margin-bottom: 10px;
        color: rgba(255, 255, 255, 0.65);
    }
    .more {
        color: $orange;
        @include fontLora(400);
        font-size: 17px;
        line-height: 24px;
        font-style: italic;
    }
}
.footer-cate-item {
    &:hover {
        .pic {
            background-color: $orange;
        }
    }
}
.footer-wrap {
    .footer-category {
        width: 1140px;
        margin: 0 auto;
    }
    &.footer-home {
        .footer-category {
            width: auto;
        }
    }
}