/**
 * CSS FORM
 */
.block-search-wrap {
    width: 188px;
    position: relative;
    border-bottom: 2px solid #ddd;
    form {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        position: relative;
    }
    .ipt {
        font-size: 14px;
        line-height: 18px;
        color: #707070;
        height: 30px;
        border: none;
        padding-left: 0;
        width: calc(100% - 30px);
        &::-webkit-input-placeholder {
            color: #707070;
        }
        &:-moz-placeholder {
            color: #707070;
        }
        &::-moz-placeholder {
            color: #707070;
        }
        &:-ms-input-placeholder { 
            color: #707070;
        }
        &::placeholder {
            color: #707070;
        }
    }
}
.block-search-wrap {
    .btn-search {
        background-color: transparent;
        border: none;
        height: 30px;
        padding: 0;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
    }
}

.lbl {
    font-size: 17px;
    line-height: 24px;
    @include fontHindMadurai(400);
    color: #444B53;
    vertical-align: middle;
    margin-bottom: 0;
}
.form-group {
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
}
.label-form {
    font-size: 15px;
    line-height: 16px;
    color: #B3B3B3;
    margin-bottom: 5px;
    display: block;
    letter-spacing: 1px;
    &.bold {
        font-weight: 900;
        font-size: 15px;
        line-height: 16px;
        letter-spacing: 2px;
        color: #B3B3B3;
        text-transform: uppercase;
    }
}
.ipt, .ipt-text {
    width: 100%;
    border: 1px solid #B3B3B3;
    outline: none;
    @include fontLora(400);
    font-style: italic;
    font-size: 16px;
    line-height: 46px;
    color: #B3B3B3;
    padding: 0 0 0 10px;
    background-color: transparent;
    height: 46px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    &:focus {
        border-color: $orange;
    }
    &::-webkit-input-placeholder {
        color: #B3B3B3;
    }
    
    &:-ms-input-placeholder { 
        color: #B3B3B3;
    }
    &:-moz-placeholder {
        color: #B3B3B3;
    }
    &::-moz-placeholder {
        color: #B3B3B3;
    }
    &::placeholder {
        color: #B3B3B3;
    }
}
.ipt {
    padding-left: 20px;
    &:disabled {
        background-color: #F5F5F5;
        border-color: #B3B3B3;
    }
}
.ipt-text {
    height: 150px;
    padding: 15px;
    resize: none;
    line-height: 20px;
}
.ipt-select {
    background-color: transparent;
    border: 1px solid #B3B3B3;
    width: 100%;
    padding: 0 30px 0 20px;
    height: 45px;
    line-height: 45px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url('../images/icons/ico_arrow_down.svg');
    background-repeat: no-repeat;
    background-position: 95% 50%;
    @include fontLora(400);
    font-style: italic;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.39);
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    &:focus {
        border-color: $orange;
    }
    &.sml {
        border: none;
        border-bottom: 2px solid rgba(113, 113, 113, 0.39);
        width: 145px;
        padding: 0;
        height: 36px;
        line-height: 36px;
        font-size: 17px;
        color: rgba(113, 113, 113, 0.39);
        background-position: 100% 50%;
    }
}
// CSS MODAL
#modalLogin {
    .modal-dialog {
        max-width: 740px;
    }
    &.modal-imb {
        .inner {
            padding-left: 50px;
            padding-right: 50px;
        }
    }
}
.modal-imb {
    .modal-content {
        border-radius: 0;
        border: none;
    }
    .modal-ttl {
        font-size: 19px;
        line-height: 23px;
        color: #000;
        margin-bottom: 0;
    }
    .modal-header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        border-bottom: 2px solid #f5f5f5;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-bottom: 20px;
        &::before {
            content: '';
            display: block;
            position: absolute;
            bottom: -2px;
            width: 95px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
            height: 3px;
            background-color: $orange;
        }
    }
}
.modal-imb {
    .close {
        outline: none;
        position: absolute;
        z-index: 1;
        top: 20px;
        right: 20px;
        opacity: 1;
        &:hover {
            .ico {
                background-color: $orange;
            }
        }
    }
}
.modal-imb {
    .inner {
        margin: 0 auto;
        border-bottom: 1px solid #D5D5D5;
        margin-bottom: 40px;
        padding-left: 80px;
        padding-right: 80px;
        .form-group {
            margin: 0 auto;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 25px;
            }
        }
    }
}
.frm_login {
    .inner {
        width: 534px;
    }
    .label-form  {
        font-size: 14px;
        span, a {
            text-transform: none;
            @include fontLora(400);
            font-style: italic;
            font-size: 12px;
            letter-spacing: 0;
            float: right;
            color: rgba(0, 0, 0, 0.39);
        }
        a {
            &:hover {
                color: $orange;
            }
        }
    }
}
.frm_login {
    .register_link {
        display: block;
        text-align: center;
        text-decoration: underline;
        margin-top: 10px;
        @include fontLora(400);
        font-style: italic;
        font-size: 17px;
        line-height: 27px;
        &:hover {
            text-decoration: none;
            color: $orange;
        }
    }
}
#modalRegistration {
    .modal-dialog {
        max-width: 1200px;
    }
}
.modal-imb {
    .block-desc {
        font-size: 14px;
        line-height: 21px;
        width: 620px;
        margin: 0 auto;
        margin-top: 5px;
    }
}
.frm_registation {
    .inner {
        width: 1083px;
    }
    .ipt-text {
        height: 95px;
    }
}
.insert-file {
    display: flex;
    align-items: center;
    text-decoration: underline;
    color: $orange;
    margin-top: 10px;
    @include fontLora(400);
    font-style: italic;
    font-size: 14px;
    line-height: 27px;
    &:hover {
        text-decoration: none;
        color: $orange;
    }
    .ico {
        margin-right: 5px;
    }
}
.frm_registation {
    .label-form {
        font-size: 14px;
    }
    .row {
        margin-left: -35px;
        margin-right: -35px;
        [class*="col"] {
            padding-left: 35px;
            padding-right: 35px;
        }
        .row {
            margin-left: -10px;
            margin-right: -10px;
            [class*="col"] {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}
#modalLang {
    .modal-dialog {
        max-width: 454px;
    }
    .ipt-lang {
        display: flex;
        background-color: transparent;
        border-radius: 0;
        height: 45px;
    }
}
.frm_lang {
    .inner {
        padding-left: 40px;
        padding-right: 40px;
        width: 390px;
    }
    .label-form {
        margin-bottom: 0;
    }
    .row {
        align-items: center;
    }
    .ipt-select {
        color: #444B53;
    }
    .col-md-4 {
        text-align: right;
    }
}
.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.52);
    &.show {
        opacity: 1;
    }
}
.ipt-lang {
    &:focus {
        outline: none;
        box-shadow: none;
    }
    &.dropdown-toggle {
        &::after {
            display: none;
        }
    }
}
.flagstrap {
    .dropdown-menu {
        border-radius: 0;
        border: 1px solid #b3b3b3;
        left: -15px !important;
        width: 100%;
        padding: 0;
        margin-top: 0;
        li {
            @include fontLora(400);
            font-style: italic;
            font-size: 15px;
            padding: 5px 10px;
            cursor: pointer;
            &:first-child {
                padding: 0;
            }
            a {
                -webkit-transition: all .4s ease;
                -moz-transition: all .4s ease;
                -o-transition: all .4s ease;
                transition: all .4s ease;
            }
            &:hover {
                a {
                    color: $orange;
                }
            }
        }
    }
}
#modalLang {
    .flagstrap {
        .flagstrap-icon {
            &.flagstrap-fr, &.flagstrap-us {
                background-repeat: no-repeat;
                background-size: cover;
                width: 20px;
                height: 20px;
                background-position: center;
                @include border-radius(50%);
                vertical-align: -6px;
            }
            &.flagstrap-fr {
                background-image: url('../uploads/flag-fr.png');
            }
            &.flagstrap-us {
                background-image: url('../uploads/flag-usa.jpg');
            }
        }
    }
}
.ipt_checkbox {
    display: none;
    + label {
        display: flex;
        align-items: center;
        font-size: 12px;
        color: #666;
        cursor: pointer;
        &:hover {
            .btn {
                border-color: $orange;
            }
        }
    }
}
.ipt_checkbox {
    + label {
        margin-bottom: 0;
        span {
            display: inline-block;
        }
        .txt {
            small {
                font-size: 9px;
            }
        }
        .shape {
            border: 2px solid #F1F1F1;
            width: 20px;
            height: 20px;
            flex: 0 0 20px;
            @include border-radius(4px);
            margin-right: 20px;
            position: relative;
            background-color: transparent;
            -webkit-transition: all .4s ease;
            -moz-transition: all .4s ease;
            -o-transition: all .4s ease;
            transition: all .4s ease;
            &::before {
                content: '';
                display: inline-block;
                width: 10px;
                height: 8px;
                -webkit-mask: url('../images/icons/ico_check.svg') no-repeat center;
                mask: url('../images/icons/ico_check.svg') no-repeat center;       
                background-color: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                z-index: -1;
                opacity: 0;
                visibility: hidden;
                -webkit-transition: all .4s ease;
                -moz-transition: all .4s ease;
                -o-transition: all .4s ease;
                transition: all .4s ease;
            }
        }
    }
}
.ipt_checkbox {
    &:checked {
        + label {
            .shape {
                border-color: transparent;
                background-color: $orange;
                &::before {
                    z-index: 1;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}
.ipt_checkbox {
    &.circle {
        + label {
            .shape {
                margin-right: 0;
                width: 24px;
                height: 24px;
                flex: 0 0 24px;
                border: 4px solid #F5F5F5;
                @include border-radius(50%);
                &.white {
                    background-color: #fff;
                }
            }
        }
    }
}
.ipt_checkbox {
    &.circle {
        &:checked {
            + label {
                .shape {
                    &.white {
                        &::before {
                            background-color: #666;
                        }
                    }
                }
            }
        }
    }
}
// CSS TABEL
.action {
    display: flex;
    align-items: center;
    width: 31px;
    height: 31px;
    margin: 0 auto;
    background-color: $orange;
    @include border-radius(50%);
    justify-content: center;
    border: 1px solid transparent;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    &:hover {
        background-color: #fff;
        border-color: $orange;
        .ico {
            background-color: $orange;
        }
    }
}
.table-imb {
    border: 1px solid #EDEDED;
    thead {
        th {
            border-bottom: none;
            background-color: #F6F6F6;
            font-weight: 700;
            font-size: 15px;
            line-height: 19px;
            border-top: none;
            color: #666;
            text-transform: uppercase;
            vertical-align: middle;
        }
    }
}
.table-imb {
    th, td {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    tbody {
        td {
            vertical-align: middle;
            border-top-color: #d5d5d5;
            font-size: 14px;
            line-height: 18px;
            font-weight: 600;
            color: #444B53;
        }
    }
}
.ipt_num {
    width: 100%;
    height: 33px;
    border: 1px solid #B3B3B3;
    outline: none;
    font-size: 14px;
    line-height: 33px;
    color: #444B53;
    padding: 0;
    text-align: center;
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    appearance: textfield;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }
    &::-webkit-input-placeholder {
        color: #444B53;
    }
    
    &:-ms-input-placeholder { 
        color: #444B53;
    }

    &:-moz-placeholder {
        color: #444B53;
    }
    &::-moz-placeholder {
        color: #444B53;
    }
    
    &::placeholder {
        color: #444B53;
    }
    &:focus {
        border-color: $orange;
    }
}
.custom-number {
    position: relative;
    width: 93px;
    margin: 0 auto;
    .button-number {
        position: absolute;
        width: 20px;
        right: 0;
        display: flex;
        justify-content: center;
        z-index: 1;
        height: 50%;
        cursor: pointer;
        .ico {
            background-color: #8D8D8D;
        }
        &.up {
            top: 0;
            align-items: flex-end;
            padding-bottom: 3px;
        }
        &.down {
            bottom: 0;
            align-items: flex-start;
            padding-top: 3px;
        }
    }   
}
.custom-number {
    .button-number {
        &:hover {
            .ico {
                background-color: $orange;
            }
        }
    }
}
.ipt_radio {
    display: none;
    + label {
        display: flex;
        align-items: center;
        margin-bottom: 0;
        cursor: pointer;
        .shape {
            display: inline-block;
            width: 20px;
            height: 20px;
            flex: 0 0 20px;
            background-color: #fff;
            border: 3px solid #F1F1F1;
            @include border-radius(50%);
            margin-right: 30px;
            position: relative;
            -webkit-transition: all .4s ease;
            -moz-transition: all .4s ease;
            -o-transition: all .4s ease;
            transition: all .4s ease;
            &::before {
                content: '';
                display: block;
                width: 8px;
                height: 8px;
                background-color: #fff;
                @include border-radius(50%);
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                opacity: 0;
                visibility: hidden;
                z-index: -1;
                -webkit-transition: all .4s ease;
                -moz-transition: all .4s ease;
                -o-transition: all .4s ease;
                transition: all .4s ease;
            }
        }
    }
}
.ipt_radio {
    &:checked {
        + label {
            .shape {
                border-color: transparent;
                background-color: $orange;
                &::before {
                    opacity: 1;
                    visibility: visible;
                    z-index: 1;
                }
            }
        }
    }
}
.ipt-error {
    border-color: #db0000;
    &:focus {
        border-color: #db0000;
    }
}
.toast-close-button {
    .ico {
        background-color: #fff;
    }
}
#toast-container {
    > .toast-error {
        background-image: url('../images/ico_warning_w.png') !important;
        background-size: 25px auto;
    }
    > .toast-success {
        background-image: url('../images/ico_check.png') !important;
        background-size: 20px auto;
    }
}