/**
 * CSS HEADER
 */
.header-top {
    background-color: $dark;
    height: 36px;
    line-height: 35px;
    .header-left {
        color: rgba(255, 255, 255, 0.81);
        @include fontLora(400);
        font-style: italic;
        font-size: 12px;
    }
}
.header-lang {
    margin-left: 15px;
    width: 43px;
    height: 36px;
    border-left: 1px solid rgba(112, 112, 112, 0.91);
    cursor: pointer;
    a {
        display: block;
        width: 20px;
        height: 20px;
        margin: 0 auto;
        @include border-radius(50%);
        overflow: hidden;
        border: 1px solid transparent;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
        &:hover {
            border-color: $orange;
        }
        img {
            vertical-align: top;
        }
    }
}
.header-hotline {
    font-size: 12px;
    color: #fff;
    .txt {
        span {
            @include fontLora(400);
            font-style: italic;
        }
        a {
            color: #fff;
            @include fontHindMadurai(700);
            font-style: normal;
            -webkit-transition: all .4s ease;
            -moz-transition: all .4s ease;
            -o-transition: all .4s ease;
            transition: all .4s ease;
        }
    }
    &:hover {
        .txt {
            a {
                color: $orange;
            }
        }
    }
}
.header-hotline, .header-lang {
    align-items: center;
    display: flex;
}
.header-info {
    a, span {
        margin-left: 30px;
        &:first-child {
            margin-left: 0;
        }
        &:hover {
            .ico {
                background-color: #999;
            }
        }
    }
    .search_mb {
        display: none;
    }
    .cart {
        position: relative;
        .ico {
            background-color: #d9d9d9;
        }
        &:hover {
            .ico {
                background-color: #999;
            }
        }
        .num {
            display: inline-block;
            width: 24px;
            height: 24px;
            line-height: 20px;
            text-align: center;
            background-color: $orange;
            @include border-radius(50%);
            border: 2px solid #fff;
            color: #fff;
            font-size: 13px;
            position: absolute;
            top: 3px;
            left: -14px;
            z-index: 1;
        }
    }
}
.header-nav {
    .row {
        height: 120px;
        align-items: center;
    }
}
.main-menu {
    li {
        float: left;
        padding-left: 15px;
        padding-right: 15px;
        a {
            font-size: 13px;
            color: #444B53;
            text-transform: uppercase;
            font-weight: 400;
        }
    }
    &.left {
        li {
            &:first-child {
                padding-left: 0;
            }
        }
    }
    &.right {
        li {
            &:last-child {
                padding-right: 0;
            }
        }
    }
}
.header-nav {
    .logo {
        width: 264px;
        padding-left: 50px;
        padding-right: 50px;
    }
}
.header-info, .header-right, .header-logo  {
    .d-flex {
        align-items: center;
        justify-content: flex-end;
    }
}
.header-logo {
    .d-flex {
        justify-content: center;
    }
}
.main-menu {
    li {
        a {
            position: relative;
            &::before {
                content: '';
                width: 0;
                height: 3px;
                background-color: $orange;
                position: absolute;
                left: 50%;
                border-radius: 3px;
                transform: translateX(-50%);
                bottom: -10px;
                -webkit-transition: all .4s ease;
                -moz-transition: all .4s ease;
                -o-transition: all .4s ease;
                transition: all .4s ease;
            }
        }
        &.active, &:hover {
            a {
                &::before {
                    width: 56px;
                }
            }
        }
        &.active {
            a {
                color: #000;
            }
        }
    }
}
.main-menu  {
    li {
        line-height: 120px;
    }
}
.dropdown-submenu {
    position: fixed;
    top: 156px;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 3px 0 20px rgba(0,0,0,0.36);
    padding-bottom: 60px;
    z-index: -100;
    opacity: 0;
    visibility: hidden;
    transform: translateY(50px);
    transition: all .2s ease-in;
    &.shw {
        z-index: 100;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    .block-title-page {
        .inner {
            border-bottom: none;
        }
    }
}
.submenu-list {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-wrap: wrap;
    li {
        float: left;
        padding: 7px 15px;
        text-align: center;
        line-height: normal;
        a {
            font-size: 20px;
            @include fontLora(400);
            font-style: italic;
            -webkit-transition: all .4s ease;
            -moz-transition: all .4s ease;
            -o-transition: all .4s ease;
            transition: all .4s ease;
            text-transform: none;
            color: #000;
            &:hover {
                color: $orange;
            }
            &::before {
                display: none;
            }
        }
    }
}
.dropdown-submenu {
    .sub-menu {
        margin: 0 auto;
        &.has-3-col {
            max-width: 990px;
            li {
                flex: 0 0 33.3333333333%;
                max-width: 33.3333333333%;        
            }
        }
        &.has-2-col {
            max-width: 600px;
            li {
                flex: 0 0 50%;
                max-width: 50%;        
            }
        }
    }
}
.header-logo {
    position: static;
}
body {
    &::after {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.72);
        opacity: 0;
        visibility: hidden;
        transition: all .2s ease;
    }
    &.mn-submenu-open {
        &::after {
            opacity: 1;
            visibility: visible;
        }
    }
}
body {
    &.mn-open {
        overflow: hidden;
        &::after {
            opacity: 1;
            visibility: visible;
            z-index: 300;
        }
    }
    &.mn-search-open {
        overflow: hidden;
        &::after {
            opacity: 1;
            visibility: visible;
            z-index: 300;
        }
    }
    &.mn-filter-open {
        overflow: hidden;
        &::after {
            opacity: 1;
            visibility: visible;
            z-index: 300;
        }
    }
}
body {
    &.mn-commandes-open {
        overflow: hidden;
        &::after {
            opacity: 1;
            visibility: visible;
            z-index: 300;
        }
    }
}
.header-nav, .header-top {
    position: relative;
    z-index: 200;
}
.header-nav {
    background-color: #fff;
}
.dropdown-submenu {
    .block-title-page {
        .inner {
            padding-bottom: 0;
        }
    }
}
.header-search-mobile {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    box-shadow: 0 3px 20px rgba(0,0,0,0.36);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: all .3s ease;
    transform: translateY(50px);
    &.shw {
        z-index: 550;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
    .logo {
        width: 164px;
        margin: 0 auto;
        a {
            display: block;
        }
    }
    .head-search-logo {
        height: 132px;
        border-bottom: 1px solid #F5F5F5;
        display: flex;
        align-items: center;
    }
}
.header-search-mobile {
    .head-search-wrap {
        padding-top: 45px;
        padding-bottom: 45px;
    }
    .block-search-wrap {
        width: 100%;
        .ipt {
            height: 38px;
        }
    }
    .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}
.header-search-mobile {
    .close-search-mb {
        position: absolute;
        z-index: 1;
        top: 15px;
        right: 15px;
        .ico {
            opacity: 1;
        }
    }
}
.header-nav {
    .menu_mb {
        display: none;
        position: absolute;
        z-index: 20;
        top: 50%;
        left: 15px;
        width: 26px;
        height: 26px;
        margin-top: -13px;
        span, span::before, span::after {
            position: absolute;
            display: block;
            width: 26px;
            top: 12px;
            height: 2px;
            left: 50%;
            margin-left: -13px;
            background: #444B53;
            border-radius: 30px;
            -webkit-transition: all 0.3s cubic-bezier(0, 0.985, 0.17, 0.99);
            -moz-transition: all 0.3s cubic-bezier(0, 0.985, 0.17, 0.99);
            -ms-transition: all 0.3s cubic-bezier(0, 0.985, 0.17, 0.99);
            -o-transition: all 0.3s cubic-bezier(0, 0.985, 0.17, 0.99);
            transition: all 0.3s cubic-bezier(0, 0.985, 0.17, 0.99);
        }
        span::before {
            content: "";
            top: -8px;
        }
        span::after {
            content: "";
            top: 8px;
        }
        &.active {
            span {
                background: transparent;
                &::before {
                    -webkit-transform: translateY(8px) rotate(45deg);
                    -moz-transform: translateY(8px) rotate(45deg);
                    -ms-transform: translateY(8px) rotate(45deg);
                    -o-transform: translateY(8px) rotate(45deg);
                    transform: translateY(8px) rotate(45deg);
                }
                &::after {
                    -webkit-transform: translateY(-8px) rotate(-45deg);
                    -moz-transform: translateY(-8px) rotate(-45deg);
                    -ms-transform: translateY(-8px) rotate(-45deg);
                    -o-transform: translateY(-8px) rotate(-45deg);
                    transform: translateY(-8px) rotate(-45deg);
                }
            }
        }
    }
}
.header-menu-mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 327px;
    background-color: #fff;
    overflow: hidden;
    overflow-y: auto;
    box-shadow: 0 3px 20px rgba(0,0,0,0.36);
    opacity: 0;
    visibility: hidden;
    left: -200px;
    z-index: -500;
    transition: all .3s ease;
    &.shw {
        opacity: 1;
        visibility: visible;
        left: 0;
        z-index: 500;
    }
    .mb-close {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        .ico {
            opacity: 1;
        }
    }
}
.header-menu-mobile {
    .menu-logo {
        height: 86px;
        border-bottom: 2px solid #F5F5F5;
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        a {
            display: block;
        }
        .logo {
            width: 92px;
        }
    }
}
.main-mb {
    flex: 1;
    li {
        padding: 15px 30px;
        position: relative;
        &:last-child {
            padding-bottom: 0;
        }
    }
    a {
        color: #444B53;
        font-size: 17px;
        line-height: 20px;
        text-transform: uppercase;
        @include fontMontserrat(400);
        position: relative;
        &.sub_link {
            position: absolute;
            right: 30px;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 10;
            align-items: center;
            // width: 52px;
            height: 52px;
            display: none;
            justify-content: flex-end;
            &::before {
                display: none;
            }
        }
    }
}
.main-mb {
    li {
        &.has-child {
            a {
                &.sub_link {
                    display: flex;
                }
            }
        }
    }
}
.main-mb {
    a {
        &::before {
            content: '';
            width: 0;
            height: 3px;
            background-color: $orange;
            position: absolute;
            left: 20px;
            bottom: -15px;
            -webkit-transition: all .4s ease;
            -moz-transition: all .4s ease;
            -o-transition: all .4s ease;
            transition: all .4s ease;
            border-radius: 3px;
        }
    }
    li {
        &.active {
            a {
                color: #000;
                &::before {
                    width: 56px;
                }
            }
        }
    }
}
.menu-social {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    border-bottom: 2px solid #F5F5F5;
    a {
        width: 38px;
        height: 38px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid #D9D9D9;
        transition: all 0.4s ease;
        margin-right: 30px;
        &:last-child {
            margin-right: 0;
        }
    }
}
.header-menu-mobile {
    .header-hotline, .header-lang {
        padding: 15px 30px;
    }
    .header-hotline {
        color: #C1C1C1;
        font-size: 12px;
        a {
            color: #C1C1C1;
            &:hover {
                color: $orange;
            }
        }
    }
}
.header-menu-mobile {
    .header-lang {
        width: auto;
        height: auto;
        border-left: none;
        color: #C1C1C1;
        justify-content: flex-start;
        padding-bottom: 0;
        a {
            width: auto;
            height: auto;
            display: flex;
            align-items: center;
            border-radius: 0;
            margin: 0;
        }
    }
}
.header-menu-mobile {
    .header-lang {
        margin-left: 0;
        .txt {
            font-size: 13px;
            line-height: 17px;
            @include fontLora(400);
            font-style: italic;
            margin-right: 10px;
        }
        img {
            border-radius: 50%;
            width: 18px;
        }
        .change {
            padding-left: 10px;
            margin-left: 10px;
            border-left: 1px solid rgba(112, 112, 112, 0.91);
            font-size: 13px;
            line-height: 17px;
            color: #B3B3B3;
            @include fontMontserrat(900);
            text-transform: uppercase;
        }
    }
}
.mobile-content-menu {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    filter: alpha(opacity=100);
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    height: auto;
    &.mn-hide {
        height: 0;
        filter: alpha(opacity=0);
        -webkit-opacity: 0;
        -moz-opacity: 0;
        opacity: 0;
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        min-height: auto;
    }
}
.sub-menu-mb {
    .back-menu {
        height: 86px;
        border-bottom: 2px solid #F5F5F5;
        padding-left: 30px;
        padding-right: 30px;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
    }
    li {
        padding: 12px 30px;
    }
    a {
        color: #000;
        font-size: 16px;
        @include fontLora(400);
        display: block;
        letter-spacing: 0.2px;
    }
}
.sub-menu-mb {
    .back-menu {
        position: relative;
        overflow: hidden;
    }
    .cate-ttl {
        @include fontMontserrat(700);
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 6px;
        color: #444B53;
        text-transform: uppercase;
        margin-bottom: 0;
    }
    .cate-ttl-lrg {
        @include fontMontserrat(700);
        font-size: 34px;
        line-height: 42px;
        letter-spacing: 25px;
        color: rgba(68, 75, 83, 0.03);
        position: absolute;
        left: -35px;
        bottom: 10px;
        z-index: -1;
        text-transform: uppercase;
        white-space: nowrap;
        margin-bottom: 0;
    }
}
.sub-menu-mb {
    .back-link{
        display: flex;
        align-items: center;
        .ico {
            margin-right: 20px;
        }
    }
}
.sub-menu-mb {
    height: 0;
    overflow: hidden;
    filter: alpha(opacity=0);
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-out .2s;
    -moz-transition: all 0.4s ease-out .2s;
    -ms-transition: all 0.4s ease-out .2s;
    -o-transition: all 0.4s ease-out .2s;
    transition: all 0.4s ease-out .2s;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    &.shw {
        height: auto;
        overflow: inherit;
        filter: alpha(opacity=100);
        -webkit-opacity: 1;
        -moz-opacity: 1;
        opacity: 1;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        background-color: white;
    }
}
.header-wrap {
    height: 156px;
}
.header-nav {
    &.fixed {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    }
}
.header-nav {
    .profile {
        &.login {
            img {
                width: 25px;
                height: 25px;
                border-radius: 50%;
            }
        }
    }
}
.header-logo-w {
    position: relative;
    width: 264px;
    margin: 0 auto;
    .main-menu {
        position: absolute;
        top: -16px; 
        z-index: 1;
        &.left {
            width: 440px;
            // left: -420px;
            right: calc(100%);
        }
        &.right {
            width: 330px;
            // right: -310px;
            left: calc(100%);
        }
    }
}
.header-nav {
    &.fixed {
        .dropdown-submenu {
            top: 120px;
        }
    }
}