/**
 * CSS HOMEPAGE
 */
.block-title {
    font-size: 24px;
    @include fontMontserrat(700);
    line-height: 29px;
    color: #444B53;
    margin-bottom: 0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 8px;
}
.block-title-wrap {
    position: relative;
}
.block-title-large {
    font-size: 254px;
    @include fontMontserrat(700);
    color: rgba(68, 75, 83, 0.03);
    // letter-spacing: 8px;
    letter-spacing: 35px;
    line-height: 310px;
    position: absolute;
    z-index: -1;
    left: -50px;
    top: -50px;
    text-transform: uppercase;
    white-space: nowrap;
}
.block-desc {
    @include fontLora(400);
    font-style: italic;
    font-size: 15px;
    line-height: 19px;
    color: rgba(0,0,0,0.59);
    text-align: center;
    margin-bottom: 50px;
}
.pad-115 {
    padding-top: 115px;
    padding-bottom: 115px;
}
.logo-list {
    margin-left: -5px;
    margin-right: -5px;
    li {
        float: left;
        width: calc(100%/6);
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 10px;
        a {
            display: block;
        }
        img {
            border: 1px solid #EBEFF2;
            -webkit-transition: all .4s ease;
            -moz-transition: all .4s ease;
            -o-transition: all .4s ease;
            transition: all .4s ease;
        }
        &:hover {
            img {
                border-color: $orange;
            }
        }
    }
}
.product-list-wrap {
    &.pad-115 {
        padding-bottom: 0;
    }
    &.home-product {
        overflow: hidden;
    }
}
.home-product {
    .product-list {
        margin-left: -10px;
        margin-right: -10px;
    }
    .product-item {
        width: calc(100%/5);
    }
}
.product-item {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 60px;
    text-align: center;
    float: left;
    a {
        display: block;
    }
    .product-pic {
        margin-bottom: 25px;
        position: relative;
        .ico {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1;
            &.solid_heart {
                width: 20px;
                height: 20px;
                top: 13px;
                right: 15px;
            }
        }
    }
}
.product-item {
    .cate, .ttl, .price {
        @include fontMontserrat(300);
        color: #666;
        font-size: 15px;
        line-height: 19px;
        margin-bottom: 2px;
    }
    .ttl {
        color: #000;
        font-size: 20px;
        line-height: 24px;
        -webkit-transition: all .4s ease;
            -moz-transition: all .4s ease;
            -o-transition: all .4s ease;
            transition: all .4s ease;
    }
    .price {
        color: #000;
        font-weight: 700;
        margin-bottom: 0;
    }
}
.product-item {
    .product-pic {
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(102, 102, 102, 0.6);
            -webkit-transition: all .3s ease;
            -moz-transition: all .3s ease;
            -o-transition: all .3s ease;
            transition: all .3s ease;
            z-index: -1;
            opacity: 0;
            visibility: hidden;
        }
    }
    .note {
        font-weight: 600;
        color: #fff;
        font-size: 18px;
        line-height: 22px;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        text-align: center;
        transform: translateY(-50%);
        z-index: 1;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
    }
}
.product-item {
    &:hover {
        .product-pic {
            &::before {
                z-index: 1;
                opacity: 1;
                visibility: visible;
            }
        }
        .note {
            z-index: 1;
            opacity: 1;
            visibility: visible;
        }
        .heart {
            background-color: #fff;
        } 
    }
}
.hero-slider-wrap {
    margin-bottom: 50px;
    .container {
        position: relative;
    }
    .hero-info {
        position: absolute;
        top: 50%;
        z-index: 1;
        left: 80px;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}
.hero-slider-wrap {
    .hero-ttl {
        font-size: 51px;
        line-height: 62px;
        margin-bottom: 40px;
        width: 570px;
    }
    .block-search-wrap {
        width: 330px;
    }
    .hero-icon {
        position: absolute;
        top: -100px;
        z-index: -1;
        left: -170px;
    }
}
.orange {
    color: $orange;
    display: inline-block;
}
.hero-slider {
    margin-bottom: 0;
    .hero-item {
        height:  auto !important;
    }
    .slick-dots {
        width: auto;
        right: 15px;
        bottom: 15px;
        li {
            width: 10px;
            height: 10px;
            margin: 0 10px;
            &.slick-active {
                width: 14px;
                height: 14px;
                button {
                    width: 14px;
                    height: 14px;
                    background-color: $orange;
                }
            }
            button {
                width: 10px;
                height: 10px;
                background-color: #fff;
                @include border-radius(50%);
                &::before {
                    display: none;
                }
            }
        }
    }
}
.sale-wrap {
    position: relative;
    .sale-bg {
        position: relative;
        z-index: 2;
        padding-top: 80px;
        padding-bottom: 80px;
        background-repeat: no-repeat;
        background-position: top right;
        background-size: contain;
    }
    .row {
        align-items: center;
    }
    &::after {
        content: '';
        display: block;
        width: 50%;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        position: absolute;
        background-color: #fff;
    }
}
.sale-wrap {
    .sale-inner {
        width: 490px;
        margin: 0 auto;
        text-align: center;
    }
    .pic {
        margin-bottom: 20px; 
        img {
            width: 108px;
        }
    }
    .sale-ttl {
        font-size: 35px;
        line-height: 43px;
        margin-bottom: 40px;
    }
}
.quote {
    display: inline;
    position: absolute;
    z-index: 1;
    &.left-bottom {
        transform: rotate(-90deg);
        bottom: -20px;
        left: 0;
        transform-origin: left top 0;
    }
    &.top-right {
        // transform: rotate(90deg);
        // top: 0;
        // right: 0;
        // transform-origin: left top 0;
        transform: rotate(90deg);
        top: -19px;
        transform-origin: 0 100%;
        margin-top: 0;
        right: -84px;
    }
}
.quote {
    span {
        display: inline-block;
        vertical-align: middle;
        &.line {
            width: 72px;
            height: 1px;
            background-color: rgba(0,0,0,0.33);
        }
        &.txt {
            font-weight: 700;
            font-size: 14px;
            line-height: 20px;
            color: rgba(0,0,0,0.33);
            padding-left: 15px;
            letter-spacing: 2.3px;
        }
    }
    &.white {
        span {
            &.txt {
                color: #fff;
            }
            &.line {
                background-color: #fff;
            }
        }
    }
}
.mb {
    display: none !important;
}
.prom-item {
    a {
        position: relative;
        display: block;
    }
    .quote {
        &.left-bottom {
            left: 40px;
        }
    }
    .prom-icon {
        position: absolute;
        z-index: 1;
        top: 10px;
        left: 40px;
        width: 120px;
    }
}
.prom-item {
    .prom-info {
        position: absolute;
        z-index: 1;
        bottom: 40px;
        &.left {
            left: 65px;
        }
    }
    .prom-ttl  {
        font-size: 31px;
        line-height: 31px;
        color: #fff;
        margin-bottom: 15px;
    }
}
.prom-item {
    .prom-info {
        &.right {
            text-align: right;
            right: 65px;
            .black {
                display: block;
            }
            .prom-ttl {
                margin-bottom: 40px;
            }
        }
    }
}
.prom-right {
    align-items: stretch;
    display: flex;
}
.promotion-wrap {
    .row {
        margin-left: -7.5px;
        margin-right: -7.5px;
        [class*="col"] {
            padding-left: 7.5px;
            padding-right: 7.5px;
        }
    }
}
.percent-blk {
    background-color: #fff;
    padding: 0;
    width: 93px;
    text-align: center;
    font-size: 24px;
    @include fontHindMadurai(700);
    color: #444B53;
    height: 35px;
    line-height: 34px;
    letter-spacing: 2.3px;
    display: inline-block;
}
.color-list {
    margin-bottom: 40px;
    span {
        display: inline-block;
        &.color-item {
            width: 16px;
            height: 16px;
            @include border-radius(50%);
            margin-right: 10px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
.black {
    color: #000;
    display: inline-block;
}
.block-form-idea {
    background-color: #EBEFF2;
    padding: 0 40px;
    width: 100%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    .idea-ttl {
        font-size: 31px;
        line-height: 38px;
        color: #323232;
        margin-bottom: 5px;
    }
    .block-desc {
        text-align: left;
        margin-bottom: 20px;
    }
    .row {
        margin-left: -15px;
        margin-right: -15px;
        [class*="col"] {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}
.block-form-idea {
    .slect {
        display: inline-block;
        vertical-align: middle;
    }
    .lbl {
        padding-right: 30px;
    }
    form {
        margin-bottom: 0;
    }
    .ipt-select.sml {
        color: rgba(0,0,0,0.39);
    }
}
.main {
    position: relative;
}
.prom-mask {
    border: 1px solid #fff;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 260px;
    height: 130px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    .d-flex {
        align-items: center;
        background-color: #fff;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    .block-desc {
        margin-bottom: 0;
    }
    .block-title {
        margin-bottom: 2px;
    }
}
.prom-left {
    position: relative;
}
.promotion-wrap {
    .container {
        position: relative;
    }
    .bg-dot{
        left: -20px;
        bottom: -20px;
        width: 60px;
    }
}
.bg-dot{
    position: absolute;
    z-index: -1;
}
.breadcrumb-mb {
    display: none;
}
.hero-slider {
    .slick-slide {
        img {
            &.mb {
                display: none;
            }
        }
    }
}