/**
 * CSS ICONS
 */
.ico {
    display: inline-block;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    &.phone {
        -webkit-mask: url('../images/icons/ico_phone.svg') no-repeat center;
        mask: url('../images/icons/ico_phone.svg') no-repeat center;
        height: 30px;
        width: 30px;
        background-color: rgba(217, 217, 217, 0.38);
    }
    &.search {
        -webkit-mask: url('../images/icons/ico_search.svg') no-repeat center;
        mask: url('../images/icons/ico_search.svg') no-repeat center;
        height: 30px;
        width: 30px;
        background-color: $gray;
    }
    &.heart {
        -webkit-mask: url('../images/icons/ico_heart.svg') no-repeat center;
        mask: url('../images/icons/ico_heart.svg') no-repeat center;
        height: 30px;
        width: 30px;
        background-color: $gray;
    }
    &.solid_heart {
        -webkit-mask: url('../images/icons/ico_solidheart.svg') no-repeat center;
        mask: url('../images/icons/ico_solidheart.svg') no-repeat center;
        height: 30px;
        width: 30px;
        background-color: $orange;
    }
    &.account {
        -webkit-mask: url('../images/icons/ico_account.svg') no-repeat center;
        mask: url('../images/icons/ico_account.svg') no-repeat center;
        height: 30px;
        width: 30px;
        background-color: $gray;
    }
    &.cart {
        -webkit-mask: url('../images/icons/ico_cart.svg') no-repeat center;
        mask: url('../images/icons/ico_cart.svg') no-repeat center;
        height: 30px;
        width: 30px;
        background-color: $gray;
    }
    &.twitter {
        -webkit-mask: url('../images/icons/ico_twitter.svg') no-repeat center;
        mask: url('../images/icons/ico_twitter.svg') no-repeat center;
        height: 11px;
        width: 13px;
        background-color: $gray;
    }
    &.facebook {
        -webkit-mask: url('../images/icons/ico_facebook.svg') no-repeat center;
        mask: url('../images/icons/ico_facebook.svg') no-repeat center;
        height: 14px;
        width: 8px;
        background-color: $gray;
    }
    &.instagram {
        -webkit-mask: url('../images/icons/ico_instagram.svg') no-repeat center;
        mask: url('../images/icons/ico_instagram.svg') no-repeat center;
        height: 15px;
        width: 15px;
        background-color: $gray;
    }
    &.barcode {
        -webkit-mask: url('../images/icons/ico_barcode.svg') no-repeat center;
        mask: url('../images/icons/ico_barcode.svg') no-repeat center;
        height: 53px;
        width: 42px;
        background-color: #fff;
    }
    &.tool {
        -webkit-mask: url('../images/icons/ico_tool.svg') no-repeat center;
        mask: url('../images/icons/ico_tool.svg') no-repeat center;
        height: 44px;
        width: 44px;
        background-color: #fff;
    }
    &.teleman {
        -webkit-mask: url('../images/icons/ico_teleman.svg') no-repeat center;
        mask: url('../images/icons/ico_teleman.svg') no-repeat center;
        height: 52px;
        width: 50px;
        background-color: #fff;
    }
    &.arrow_right {
        -webkit-mask: url('../images/icons/ico_arrow_right.svg') no-repeat center;
        mask: url('../images/icons/ico_arrow_right.svg') no-repeat center;
        width: 21px;
        height: 10px;
        background-color: #000;
    }
    &.arrow_left {
        -webkit-mask: url('../images/icons/ico_arrow_left.svg') no-repeat center;
        mask: url('../images/icons/ico_arrow_left.svg') no-repeat center;
        width: 26px;
        height: 18px;
        background-color: #fff;
    }
    &.angle_left {
        -webkit-mask: url('../images/icons/ico_angle_left.svg') no-repeat center;
        mask: url('../images/icons/ico_angle_left.svg') no-repeat center;
        width: 14px;
        height: 14px;
        background-color: #000;
        -webkit-mask-size: contain;
        -moz-mask-size: contain;
        -o-mask-size: contain;
        mask-size: contain;
    }
    &.angle_right {
        -webkit-mask: url('../images/icons/ico_angle_right.svg') no-repeat center;
        mask: url('../images/icons/ico_angle_right.svg') no-repeat center;
        width: 14px;
        height: 14px;
        background-color: #000;
        -webkit-mask-size: contain;
        -moz-mask-size: contain;
        -o-mask-size: contain;
        mask-size: contain;
    }
    &.arrow_right_lrg {
        -webkit-mask: url('../images/icons/ico_arrow_right_lrg.svg') no-repeat center;
        mask: url('../images/icons/ico_arrow_right_lrg.svg') no-repeat center;
        width: 34px;
        height: 23px;
        background-color: $orange;
    }
    &.arrow_db_left {
        -webkit-mask: url('../images/icons/ico_arrow_db_left.svg') no-repeat center;
        mask: url('../images/icons/ico_arrow_db_left.svg') no-repeat center;
        width: 16px;
        height: 14px;
        background-color: #B3B3B3;
    }
    &.arrow_db_right {
        -webkit-mask: url('../images/icons/ico_arrow_db_right.svg') no-repeat center;
        mask: url('../images/icons/ico_arrow_db_right.svg') no-repeat center;
        width: 16px;
        height: 14px;
        background-color: #B3B3B3;
    }
    &.arrow_chev_left {
        -webkit-mask: url('../images/icons/ico_arrow_chev_left.svg') no-repeat center;
        mask: url('../images/icons/ico_arrow_chev_left.svg') no-repeat center;
        width: 16px;
        height: 14px;
        background-color: #B3B3B3;
    }
    &.arrow_chev_right {
        -webkit-mask: url('../images/icons/ico_arrow_chev_right.svg') no-repeat center;
        mask: url('../images/icons/ico_arrow_chev_right.svg') no-repeat center;
        width: 16px;
        height: 14px;
        background-color: #B3B3B3;
    }
    &.arrow_down {
        -webkit-mask: url('../images/icons/ico_arrow_down.svg') no-repeat center;
        mask: url('../images/icons/ico_arrow_down.svg') no-repeat center;
        width: 8px;
        height: 5px;
        background-color: $orange;
        -webkit-mask-size: cover;
        -moz-mask-size: cover;
        -o-mask-size: cover;
        mask-size: cover;
    }
    &.arrow_up {
        -webkit-mask: url('../images/icons/ico_arrow_up.svg') no-repeat center;
        mask: url('../images/icons/ico_arrow_up.svg') no-repeat center;
        width: 8px;
        height: 5px;
        background-color: #8D8D8D;
        -webkit-mask-size: cover;
        -moz-mask-size: cover;
        -o-mask-size: cover;
        mask-size: cover;
    }
    &.close {
        -webkit-mask: url('../images/icons/ico_close.svg') no-repeat center;
        mask: url('../images/icons/ico_close.svg') no-repeat center;
        width: 14px;
        height: 14px;
        background-color: #000;
        opacity: 1;
    }
    &.insert_file {
        -webkit-mask: url('../images/icons/ico_insert_file.svg') no-repeat center;
        mask: url('../images/icons/ico_insert_file.svg') no-repeat center;
        width: 33px;
        height: 30px;
        background-color: #D9D9D9;
    }
    &.plus {
        -webkit-mask: url('../images/icons/ico_plus.svg') no-repeat center;
        mask: url('../images/icons/ico_plus.svg') no-repeat center;
        width: 8px;
        height: 8px;
        background-color: #D8D8D8;
    }
    &.eye {
        -webkit-mask: url('../images/icons/ico_eye.svg') no-repeat center;
        mask: url('../images/icons/ico_eye.svg') no-repeat center;
        width: 12px;
        height: 8px;
        background-color: #fff;
        -webkit-mask-size: cover;
        -moz-mask-size: cover;
        -o-mask-size: cover;
        mask-size: cover;
    }
    &.ico_quote {
        -webkit-mask: url('../images/icons/ico_quote.svg') no-repeat center;
        mask: url('../images/icons/ico_quote.svg') no-repeat center;
        width: 4px;
        height: 14px;
        background-color: $orange;
    }
    &.showcase {
        -webkit-mask: url('../images/icons/ico_showcase.svg') no-repeat center;
        mask: url('../images/icons/ico_showcase.svg') no-repeat center;
        width: 60px;
        height: 54px;
        background-color: #D9D9D9;
    }
    &.add {
        -webkit-mask: url('../images/icons/ico_add.svg') no-repeat center;
        mask: url('../images/icons/ico_add.svg') no-repeat center;
        width: 18px;
        height: 18px;
        background-color: #fff;
        -webkit-mask-size: cover;
        -moz-mask-size: cover;
        -o-mask-size: cover;
        mask-size: cover;
    }
    &.pen {
        -webkit-mask: url('../images/icons/ico_pen.svg') no-repeat center;
        mask: url('../images/icons/ico_pen.svg') no-repeat center;
        width: 12px;
        height: 12px;
        background-color: #d9d9d9;
    }
    &.check {
        -webkit-mask: url('../images/icons/ico_check.svg') no-repeat center;
        mask: url('../images/icons/ico_check.svg') no-repeat center;
        background-color: #666;
        width: 18px;
        height: 15px;
        -webkit-mask-size: cover;
        -moz-mask-size: cover;
        -o-mask-size: cover;
        mask-size: cover;
    }
    &.check_thin {
        -webkit-mask: url('../images/icons/ico_check_thin.svg') no-repeat center;
        mask: url('../images/icons/ico_check_thin.svg') no-repeat center;
        background-color: #ccc;
        width: 18px;
        height: 14px;
        -webkit-mask-size: cover;
        -moz-mask-size: cover;
        -o-mask-size: cover;
        mask-size: cover;
    }
    &.send {
        -webkit-mask: url('../images/icons/ico_send.svg') no-repeat center;
        mask: url('../images/icons/ico_send.svg') no-repeat center;
        width: 28px;
        height: 28px;
        background-color: #fff;
    }
    &.download {
        -webkit-mask: url('../images/icons/ico_download.svg') no-repeat center;
        mask: url('../images/icons/ico_download.svg') no-repeat center;
        width: 26px;
        height: 26px;
        background-color: $orange;
    }
    &.sprint {
        -webkit-mask: url('../images/icons/ico_sprint.svg') no-repeat center;
        mask: url('../images/icons/ico_sprint.svg') no-repeat center;
        width: 22px;
        height: 20px;
        background-color: #D9D9D9
    }
    &.delivery {
        -webkit-mask: url('../images/icons/ico_delivery.svg') no-repeat center;
        mask: url('../images/icons/ico_delivery.svg') no-repeat center;
        width: 31px;
        height: 27px;
        background-color: #ccc
    }
    &.reverse {
        -webkit-mask: url('../images/icons/ico_reverse.svg') no-repeat center;
        mask: url('../images/icons/ico_reverse.svg') no-repeat center;
        width: 11px;
        height: 11px;
        background-color: #D9D9D9
    }
    &.calendar {
        -webkit-mask: url('../images/icons/ico_calendar.svg') no-repeat center;
        mask: url('../images/icons/ico_calendar.svg') no-repeat center;
        width: 26px;
        height: 26px;
        background-color: #DCDCDC
    }
    &.file {
        -webkit-mask: url('../images/icons/ico_file.svg') no-repeat center;
        mask: url('../images/icons/ico_file.svg') no-repeat center;
        width: 17px;
        height: 21px;
        background-color: #D9D9D9
    }
    &.document {
        -webkit-mask: url('../images/icons/ico_document.svg') no-repeat center;
        mask: url('../images/icons/ico_document.svg') no-repeat center;
        width: 16px;
        height: 21px;
        background-color: #000
    }
    &.bell {
        -webkit-mask: url('../images/icons/ico_bell.svg') no-repeat center;
        mask: url('../images/icons/ico_bell.svg') no-repeat center;
        width: 16px;
        height: 15px;
        background-color: #C2BEB6
    }
    &.question {
        -webkit-mask: url('../images/icons/ico_question.svg') no-repeat center;
        mask: url('../images/icons/ico_question.svg') no-repeat center;
        width: 10px;
        height: 10px;
        background-color: #D9D9D9
    }
    &.filter {
        -webkit-mask: url('../images/icons/ico_filter.svg') no-repeat center;
        mask: url('../images/icons/ico_filter.svg') no-repeat center;
        width: 15px;
        height: 15px;
        background-color: #B5B7BB
    }
    &.menu {
        -webkit-mask: url('../images/icons/ico_menu.svg') no-repeat center;
        mask: url('../images/icons/ico_menu.svg') no-repeat center;
        width: 26px;
        height: 16px;
        background-color: #B5B7BB
    }
    &.share {
        -webkit-mask: url('../images/icons/ico_share.svg') no-repeat center;
        mask: url('../images/icons/ico_share.svg') no-repeat center;
        width: 15px;
        height: 15px;
        background-color: #d9d9d9
    }
}