/**
 * CSS MERCI
 */
.breadcrumb-wrap {
    .inner {
        padding: 17px 25px;
        background-color: rgba(235, 239, 242, 0.34);
    }
    a, span {
        display: inline-block;
        @include fontLora(400);
        font-style: italic;
        font-size: 10px;
        text-transform: capitalize;
    }
    a {
        color: #707070;
        position: relative;
        margin-right: 15px;
        padding-right: 15px;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
        &:hover {
            color: $orange;
        }
        &::before {
            content: '';
            display: inline-block;
            width: 1px;
            height: 15px;
            background-color: rgba(207, 207, 207, 0.2);
            position: absolute;
            top: 0;
            right: 0;
            transform: rotate(30deg);
        }
    }
    span {
        color: #000;
    }
}
.merci-banner {
    margin-top: 40px;
    padding-bottom: 130px;
}
.merci-info {
    width: 620px;
    position: absolute;
    top: 50%;
    z-index: 1;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 120px;
    .block-title {
        font-size: 56px;
        line-height: 68px;
        letter-spacing: 10px;
    }
    .block-title-large {
        color: rgba(68, 75, 83, 0.03);
        font-size: 128px;
        line-height: 156px;
    }
}
.merci-info {
    text-align: center;
    .block-desc {
        font-size: 18px;
        line-height: 24px;
        width: 465px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
}
.merci-banner-info {
    position: relative;
}
.merci-title {
    margin-bottom: 30px;
    position: relative;
}
.merci-info {
    .block-title-large {
        left: 0;
        bottom: -25px;
        top: auto;
        right: 0;
        margin-bottom: 0;   
        letter-spacing: 30px;
    }
}
.blk-dot-bg {
    &.left-bottom {
        .bg-dot {
            width: 100px;
            left: -32px;
            bottom: -55px;
        }
    }
    .container {
        position: relative;
    }
}
.merci-mobile-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: none;
}