/**
 * CSS NEWS
 */
.pb-40 {
    padding-bottom: 40px;
}
.sortby {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .lbl {
        padding-right: 30px;
        color: rgba(68, 75, 83, 0.39);
    }
    .ipt-select.sml {
        color: rgba(0, 0, 0, 0.39);
    }
}
.actualites-item {
    margin-bottom: 50px;
    .actualites-img {
        position: relative;
        margin-bottom: 0;
    }
    .actualites-info {
        padding: 25px;
        background-color: #fff;
    }
    .cate {
        @include fontHindMadurai(700);
        font-size: 12px;
        line-height: 18px;
        letter-spacing: 2.3px;
        color: rgba(0, 0, 0, 0.33);
        margin-bottom: 10px;
        text-transform: uppercase;
    }
}
.actualites-item { 
    .ttl {
        font-size: 17px;
        line-height: 20px;
        color: #323232;
        height: 40px;
        overflow: hidden;
    }
    .txt {
        @include fontLora(400);
        font-style: italic;
        font-size: 15px;
        line-height: 19px;
        color: rgba(0, 0, 0, 0.59);
        margin-bottom: 25px;;
    }
    .date {
        color: #ABABAB;
        font-size: 12px;
        line-height: 15px;
    }
}
.actualites-item {
    a {
        display: block;
        border: 1px solid #EBEFF2;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
        position: relative;
        &::after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            width: 0;
            height: 3px;
            background-color: $orange;
            -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
            opacity: 0;
            visibility: hidden;
        }
    }
}
.actualites-item {
    .actualites-img {
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
            background-color: rgba(0, 0, 0, 0.4);
            -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
            opacity: 0;
            visibility: hidden;
        }
    }
}
.actualites-item {
    &:hover {
        a {
            -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.04);
            -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.04);
            -o-box-shadow: 0 3px 10px rgba(0,0,0,0.04);
            box-shadow: 0 3px 10px rgba(0,0,0,0.04);
            border-color: transparent;
            &::after {
                width: 100%;
                opacity: 1;
                visibility: visible;
            }
        }
    }
}
.actualites-item {
    &:hover {
        .actualites-img {
            &::before {
                z-index: 1;
                opacity: 1;
                visibility: visible;
            }
        }
        .more {
            z-index: 1;
            opacity: 1;
            visibility: visible;
        }
    }
}
.actualites-item {
    .more {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        color: rgba(255, 129, 3, 0.7);
        text-transform: uppercase;
        text-align: center;
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        @include fontHindMadurai(700);
        font-size: 19px;
        line-height: 27px;
        letter-spacing: 2.3px;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
        .ico {
            margin-left: 15px;
            background-color: rgba(255, 129, 3, 0.7);
        }
        &:hover {
            color: $orange;
            .ico {
                background-color: $orange;
            }
        }
    }
}
.pagination-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 470px;
    margin: 0 auto;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.08);
    background-color: #fff;
    @include border-radius(5px);
    overflow: hidden;
    .page-link {
        border: none;
        text-align: center;
        @include fontRoboto();
        font-size: 14px;
        color: #666;
        padding: 0;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 1px solid #F5F5F5;
        margin-left: 0;
        &:last-child {
            border-right: none;
        }
        &:hover {
            background-color: transparent;
            color: $orange;
            .ico {
                background-color: $orange;
            }
        }
    }
}
.pagination-wrap {
    .current_page {
        color: $orange;
    }
}
.imb_tab {
    .nav-tabs {
        margin-bottom: 45px;
        border-bottom: 2px solid #F5F5F5;
        justify-content: center;
        .nav-item {
            margin-bottom: 0;
            margin-left: 30px;
            margin-right: 30px;
        }
        .nav-link {
            border: none;
            font-size: 19px;
            letter-spacing: 6px;
            padding: 0 10px 30px 10px;
            color: #B5B5B5;
            text-transform: uppercase;
            position: relative;
            -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
            &::before {
                content: '';
                display: block;
                height: 3px;
                background-color: $orange;
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0;
                opacity: 0;
                visibility: hidden;
                -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
            }
        }
    }
}
.imb_tab {
    .nav-tabs {
        .nav-link {
            &:hover {
                color: $orange;
            }
            &.active {
                color: #000;
                background-color: transparent;
                &::before {
                    width: 100%;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
    .tab-content {
        position: relative;
    }
}
.blk-dot-bg {
    &.right-top {
        .bg-dot {
            width: 100px;
            right: -56px;
            top: 160px;
        }
    }
}
// CSS NEWS DETAILS
.block-content-cms {
    &.first {
        padding-bottom: 180px;
        .bg-dot {
            top: auto;
            bottom: -50px;
        }
    }
    // .row {
    //     margin-left: -45px;
    //     margin-right: -45px;
    //     [class*="col"] {
    //         padding-left: 45px;
    //         padding-right: 45px;
    //     }
    // }
}
.entry-content {
    @include fontLora(400);
    font-style: italic;
    font-size: 16px;
    line-height: 21px;  
    color: #444B53;
    b, strong {
        font-weight: 700;
    }
    p, div {
        margin-bottom: 30px;
    }
}
.entry-content {
    h2, h3, h4 {
        margin-bottom: 45px;
        line-height: 30px;
        @include fontMontserrat();
        font-style: normal;
    }
    h2 {
        font-weight: 700;
        color: rgba(48, 51, 54, 0.57);
        font-size: 21px;
        text-transform: uppercase;
    }
    h3 {
        font-size: 19px;
        color: #444B53;
    }
    h4 {
        font-style: italic;
        font-size: 17px;
        color: #444B53;
    }
}
.block-content-cms {
    img {
        position: relative;
        z-index: 2;
    }
    &.second {
        position: relative;
        background-color: #EBEFF2;
        .bg-dot {
            left: -56px;
            z-index: 1;
        }
        .cms-left {
            .position-relative {
                margin-top: -120px;
            }
        }
    }
}
.block-content-cms {
    &.third {
        &.pad-80 {
            padding-top: 100px;
        }
        .cms-right {
            display: flex;
            align-items: stretch;
            align-self: flex-end;
        }
    }
}
.pad-80 {
    padding-top: 80px;
    padding-bottom: 80px;
}
.entry-content {
    a {
        text-decoration: underline;
        color: #444B53;
        &:hover {
            color: $orange;
        }
    }
}
.entry-note {
    padding-top: 120px;
    li {
        margin-bottom: 20px;
        font-size: 14px;
        @include fontLora(400);
        color: #444B53;
        &::before {
            content: '';
            display: inline-block;
            width: 8px;
            height: 8px;
            background-color: $orange;
            @include border-radius(50%);
            margin-right: 15px;
        }
    }
}
.cms-social {
    font-size: 17px;
    line-height: 20px;
    color: rgba(68, 75, 83, 0.59);
    font-weight: 400;
    .inner {
        padding-top: 40px;
        padding-bottom: 100px;
        border-top: 1px solid #D9D9D9;
    }
    .row {
        align-items: center;
    }
    .cms-right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        a, span {
            display: inline-block;
            margin-left: 20px;
        }
        span {
            margin-left: 0;
        }
        a {
            width: 38px;
            height: 38px;
            display: flex;
            justify-content: center;
            align-items: center;
            @include  border-radius(50%);
            border: 1px solid #D9D9D9;
            -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;
            &:hover {
                border-color: $orange;
                .ico {
                    background-color: $orange;
                }
            }
        }
    }
}
.block-content-cms {
    &.first {
        .position-relative {
            padding-left: 80px;
        } 
        .cms-left {
            padding-right: 0;
        }
    }
    &.second {
        .position-relative {
            padding-right: 80px;
        } 
        .cms-right {
            padding-left: 0;
        }
    }
}
.block-content-cms {
    &.third {
        .entry-content {
            padding-right: 80px;
        }
        .entry-note {
            padding-left: 80px;
        }
    }
}
.category-wrap {
    .col-left {
        flex: 0 0 284px;
        max-width: 284px;
    }
    .col-right {
        max-width: none;
        flex: 1;
    }
}
.actualites-list {
    .row {
        margin-left: -14px;
        margin-right: -14px;
        [class*="col"] {
            padding-left: 14px;
            padding-right: 14px;
        }
    }
}
.cms-content-wrap {
    padding-top: 25px;
}