/**
 * CSS TABLE
 */
.table-product {
    .header-table {
        background-color: #F6F6F6;
        font-weight: 700;
        font-size: 15px;
        text-transform: uppercase;
        color: #666;
        display: flex;
        align-items: center;
    }
    .table-item {
        padding: 15px;
        text-align: center;
        width: 15%;
        &:first-child {
            width: 50%;
            text-align: left;
        }
        &:nth-of-type(2) {
            width: 10%;
        }
        &.empty {
            width: 30px;
        }
    }
}
.content-table {
    .inner {
        display: flex;
        align-items: center;
        padding-top: 25px;
    }
    .table-item {
        padding-top: 0;
        padding-bottom: 0;
        border-left: 1px solid #DBDBDB;
        &:first-child, &.empty  {
            border-left: none;
        }
    }
}
.table-item {
    &.info {
        display: flex;
        align-items: center;
        padding-right: 0;
    }
    .thumb {
        width: 80px;
    }
    .col-id {
        font-weight: 300;
        font-size: 15px;
        line-height: 21px;
        color: #000;
        width: 100px;
    }
    .col-name {
        width: 160px;
        cursor: pointer;
    }
}
.table-item {
    .col-name {
        .ttl, .desc {
            font-weight: 300;
            font-size: 15px;
            line-height: 21px;
            color: #000;
            margin-bottom: 0;
        }
        .desc {
            font-weight: 700;
            color: #444B53;
        }
        &:hover {
            .desc {
                color: $orange;
            }
        }
    }
}
.table-item {
    .item-row {
        height: 80px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.table-item {
    .clor-item {
        font-size: 14px;
        line-height: 18px;
        color: #000;
        font-weight: 300;
        display: flex;
        align-items: center;
        padding-left: 20px;
        .size {
            font-weight: 700;
        }
        a {
            color: $orange;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
}
.table-item {
    .col-color {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .cir {
        width: 20px;
        height: 20px;
        float: none;
        margin-left: 10px;
        display: flex;
        flex: 1;
    }
}
.red {
    color: #FF1F36;
}
.table-item {
    &.price, &.num {
        font-size: 15px;
        font-weight: 700;
        color: #444B53;
        line-height: 19px;
    }
    &.num {
        font-weight: 500;
        color: #444B53;
        .red {
            font-weight: 700;
        }
    }
    .text {
        font-size: 15px;
        color: #444B53;
        line-height: 19px;
    }
    &.quanlity {
        text-align: left;
    }
}
.table-item {
    .action-circle {
        // opacity: 0;
        // z-index: -1;
        // visibility: hidden;
        // transform: scale(0.6);
        right: -28px;
        opacity: 1;
        z-index: 1;
        visibility: visible;
        transform: scale(1);
        &.del {
            top: 12px;
        }
        &.edit {
            top: 42px;
        }
    }
    // &.total {
    //     .item-row {
    //         &:hover {
    //             .action-circle {
    //                 opacity: 1;
    //                 z-index: 1;
    //                 visibility: visible;
    //                 transform: scale(1);
    //             }
    //         }
    //     }
    // }
}
.price-table {
    display: flex;
}
.content-table {
    .table-item {
        position: relative;
        &::after {
            content: '';
            display: block;
            height: 2px;
            background-color: #fff;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            z-index: 1;
        }
        &:first-child {
            &::after {
                display: none;
            }
        }
    }
}
.content-table {
    .col-color {
        position: relative;
        &::after {
            content: '';
            display: block;
            height: 2px;
            background-color: #fff;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            right: 0;
            z-index: 1;
        }
    }
}
.table-row {
    position: relative;
    &::after {
        content: '';
        display: block;
        height: 1px;
        background-color: #D5D5D5;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 15px;
        z-index: 1;
    }
    &:last-child {
        &::after {
            display: none;
        }
    }
}
.table-prod-align {
    .table-item {
        .action-circle {
            right: -83px;
        }
    }
}