.commandes-wrap.pb-60.detail-commandes
    .container
        .comm-right
            include ../commandes/detail/info
            // END : INFO
            include table
            // END : TABLE
            include ../commandes/detail/payment-info
            // END : PAYMENT INFO