.table-product-wrap.table-detail-commandes
    .prod-info DOSSIER : OPERATION COMMERCIALE 25/10/19
    .table-product.table-prod-align
        .header-table
            .table-item PRODUIT
            .table-item PRIX
            .table-item QUANTITÉ
            .table-item reliquats
            .table-item TOTAL
            .table-item.empty &nbsp;
        // END : HEAD
        .table-row
            .content-table
                .inner
                    .table-item.info
                        .col-id GN48L 
                        .col-name
                            h3.ttl MARQUE
                            .desc Polo piqué femme
                        .col-thumb
                            .thumb.item-row
                                img(src="uploads/prods/pr_s_1.jpg")
                            .thumb.item-row
                                img(src="uploads/prods/pr_s_2.jpg")
                        .col-color.bg-gray
                            .item-row
                                .clor-item TAILLE :&nbsp;
                                    span.size M
                                .clor-item COULEUR :&nbsp;
                                    span.size ROSE
                                    span.cir(style="background-color: #FF1F36")
                                .clor-item
                                    a(href="#", data-toggle="modal" , data-target="#modalDeclaration", class="link_declare") Déclarer un litige
                            .item-row
                                .clor-item TAILLE :&nbsp;
                                    span.size M
                                .clor-item COULEUR :&nbsp;
                                    span.size BLUE
                                    span.cir(style="background-color: #006AFA")
                                .clor-item
                                    a(href="#", data-toggle="modal" , data-target="#modalDeclaration", class="link_declare") Déclarer un litige
                    .table-item.price.bg-gray
                        .item-row 7,90 €
                        .item-row 7,90 €
                    .table-item.quanlity.bg-gray
                        .item-row 
                            .text Commandé : 10
                            .text Livré : 0
                        .item-row
                            .text Commandé : 10
                            .text Livré : 0
                    .table-item.num.bg-gray
                        .item-row.red 10
                        .item-row &nbsp;
                    .table-item.price.bg-gray.total.prc_right
                        .item-row 7,90 €
                            a(href="#").del.action-circle
                                i.ico.close
                            a(href="#", data-toggle="modal" , data-target="#modalModifier").edit.action-circle
                                i.ico.pen
                        .item-row 7,90 €
                            a(href="#").del.action-circle
                                i.ico.close
                            a(href="#", data-toggle="modal" , data-target="#modalModifier").edit.action-circle
                                i.ico.pen
                    .table-item.empty &nbsp;
            // END : CONTENT
            .price-table
                .table-item &nbsp;
                .table-item &nbsp;
                .table-item &nbsp;
                .table-item &nbsp;
                .table-item.price.prc_right 7 100,00 € 
                .table-item.empty &nbsp;
            // END : PRICE TOTAL
        // END 
        .table-row
            .content-table
                .inner
                    .table-item.info
                        .col-id GN48L 
                        .col-name(data-toggle="modal" , data-target="#modalModifier")
                            h3.ttl MARQUE
                            .desc Polo piqué femme
                        .col-thumb
                            .thumb.item-row
                                img(src="uploads/prods/pr_s_1.jpg")
                            .thumb.item-row
                                img(src="uploads/prods/pr_s_2.jpg")
                        .col-color.bg-gray
                            .item-row
                                .clor-item TAILLE :&nbsp;
                                    span.size M
                                .clor-item COULEUR :&nbsp;
                                    span.size ROSE
                                    span.cir(style="background-color: #FF1F36")
                                .clor-item
                                    a(href="#", data-toggle="modal" , data-target="#modalDeclaration", class="link_declare") Déclarer un litige
                            .item-row
                                .clor-item TAILLE :&nbsp;
                                    span.size M
                                .clor-item COULEUR :&nbsp;
                                    span.size BLUE
                                    span.cir(style="background-color: #006AFA")
                                .clor-item
                                    a(href="#", data-toggle="modal" , data-target="#modalDeclaration", class="link_declare") Déclarer un litige
                    .table-item.price.bg-gray
                        .item-row 7,90 €
                        .item-row 7,90 €
                    .table-item.quanlity.bg-gray
                        .item-row 
                            .text Commandé : 10
                            .text Livré : 0
                        .item-row
                            .text Commandé : 10
                            .text Livré : 0
                    .table-item.num.bg-gray
                        .item-row.red 10
                        .item-row.red 5
                    .table-item.price.bg-gray.total.prc_right
                        .item-row 7,90 €
                            a(href="#").del.action-circle
                                i.ico.close
                            a(href="#", data-toggle="modal" , data-target="#modalModifier").edit.action-circle
                                i.ico.pen
                        .item-row 7,90 €
                            a(href="#").del.action-circle
                                i.ico.close
                            a(href="#", data-toggle="modal" , data-target="#modalModifier").edit.action-circle
                                i.ico.pen
                    .table-item.empty &nbsp;
            // END : CONTENT
            .price-table
                .table-item &nbsp;
                .table-item &nbsp;
                .table-item &nbsp;
                .table-item &nbsp;
                .table-item.price.prc_right 7 100,00 € 
                .table-item.empty &nbsp;
            // END : PRICE TOTAL
        // END 