.block-feature-images
    .fea-like
        i.ico.heart
    .feature-prd-images.custom-arrow
        .prd-image-item(data-src="uploads/prods/pr_red.jpg")
            img(src="uploads/prods/pr_red.jpg", alt="")
        // END
        .prd-image-item(data-src="uploads/prods/pr_red_2.jpg")
            img(src="uploads/prods/pr_red_2.jpg", alt="")
        // END
        .prd-image-item(data-src="uploads/prods/pr_red_3.jpg")
            img(src="uploads/prods/pr_red_3.jpg", alt="")
        // END
        .prd-image-item(data-src="uploads/prods/pr_red_4.jpg")
            img(src="uploads/prods/pr_red_4.jpg", alt="")
        // END
        .prd-image-item(data-src="uploads/prods/pr_red_5.jpg")
            img(src="uploads/prods/pr_red_5.jpg", alt="")
        // END
    // END: .feature-prd-images 
    .block-fea-nav
        .feature-nav-images 
            .nav-image-item
                img(src="uploads/prods/pr_s_1.jpg", alt="main prod img")
            // END
            .nav-image-item
                img(src="uploads/prods/pr_s_2.jpg", alt="main prod img")
            // END
            .nav-image-item
                img(src="uploads/prods/pr_s_3.jpg", alt="main prod img")
            // END
            .nav-image-item
                img(src="uploads/prods/pr_s_1.jpg", alt="main prod img")
            // END
            .nav-image-item
                img(src="uploads/prods/pr_s_2.jpg", alt="main prod img")
            // END
    // END