.feature-prod-blk.pb-60
    .container
        .inner.blk-dot-bg.right-top 
            .row.no-padd 
                .col-md-6 
                    include _feature_left.jade
                .col-md-6
                    include _feature_right.jade
            .bg-dot
                img(src="uploads/line_dot.svg", alt="")
            // END : BG DOT
// END: FEATURE BLK