.feature-prd-content 
    .desc-blk
        .short-desc 
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae arcu sit amet faucibus. Fusce ultricies finibus diam vitae laoreet. Mauris eget turpis massa. Fusce nec sapien porta est auctor dignissim
        .tag-blk    
            a.prod-tag.clr-brown(href="javascript:;") Nouveau coloris
            a.prod-tag.clr-yellow(href="javascript:;") Nouvelle taille
            a.prod-tag.clr-orange(href="javascript:;") Nouvelle taille 
    .feature-list 
        .inner 
            .row.fea-rw 
                .col-md-4 
                    label.fea-txt Couleurs disponibles
                .col-md-8  
                    .color-list 
                        .clr-item
                            a.clr#clr-1(href="javascript:;", style="background-color: #fff") &nbsp;
                        .clr-item
                            a.clr#clr-2(href="javascript:;", style="background-color: #000") &nbsp;
                        .clr-item
                            a.clr#clr-3(href="javascript:;", style="background-color: #444") &nbsp;
                        .clr-item
                            a.clr#clr-4(href="javascript:;", style="background-color: #db0000") &nbsp;
                        .clr-item
                            a.clr#clr-5(href="javascript:;", style="background-color: #AE0095") &nbsp;
                        .clr-item
                            a.clr#clr-6(href="javascript:;", style="background-color: #0072A2") &nbsp;
                        .clr-item
                            a.clr#clr-7(href="javascript:;", style="background-color: #FF3299ff") &nbsp;
                    a.clr-link(href="#") Voir plus de couleurs…
            // END: .fea-rw
            .row.fea-rw 
                .col-md-4 
                    label.fea-txt Tailles disponibles
                .col-md-8 
                    .fea-v De XS à XXL
            // END: .fea-rw
            .row.fea-rw 
                .col-md-4 
                    label.fea-txt Grammage
                .col-md-8 
                    .fea-v 50% coton/50% polyester
            // END: .fea-rw
            .row.fea-rw 
                .col-md-4 
                    label.fea-txt Page catalogue
                .col-md-8 
                    .fea-v 67
            // END: .fea-rw
// END: .feature-prd-content 