.product-content-box.imb_tab  
    .container 
        .inner 
            .tabs-blk
                .head-tab
                    .table-responsive
                        include ./tabs/nav-tabs-properties
                // END : NAV TAB
                .tab-content
                    include _tab_stock_table.jade
                    // END: TAB
                    include _tab_desc.jade
                    // END: TAB
                    include _tab_guide.jade
                    // END: TAB
                    include _tab_doc.jade
                    // END: TAB
                // END : TAB CONTENT
// END: .product-content-box