.prd-bot-slider.imb_tab 
    .container 
        .head-tab
            .table-responsive
                include ./tabs/nav-tabs
        // END : NAV TAB
        .tab-content
            include ./tabs/tab-associes
            // END : TAB associes
            include ./tabs/tab-duo
            // END : TAB duo
            include ./tabs/tab-similaires
            // END : TAB similaires
        // END : TAB CONTENT