#stock.prd-tab.tab-stock(class="tab-pane fade show active" role="tabpanel")
    .inner 
        .s-pride-blk 
            .row 
                .col-md-6
                    .row 
                        .col-md-8 
                            label.bld-txt Prix Pièce tout public
                        .col-md-4 
                            .s-price-txt 9,99€ 
                    .row 
                        .col-md-8 
                            label.bld-txt Prix carton tout public
                        .col-md-4 
                            .s-price-txt 29,99€
                .col-md-6
                    .row 
                        .col-md-8 
                            label.bld-txt Réapprovisionnement théorique
                        .col-md-4 
                            .s-price-txt 3 jours ouvrés
        // END:  .s-pride-blk
        include _tab_stock_colors.jade
// END: .prd-tab
                

