#descriptif.prd-tab.tab-desc(class="tab-pane fade" role="tabpanel")
    .inner
        .row 
            .col-md-6 
                .desc-ct-blk
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae arcu sit amet faucibus. Fusce ultricies finibus diam vitae laoreet. Mauris eget turpis massa. 
                        br
                        | Fusce nec sapien porta est auctor dignissim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos…
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae arcu sit amet faucibus. Fusce ultricies finibus diam vitae laoreet. Mauris eget turpis massa. 
                    p Fusce nec sapien porta est auctor dignissim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos…
                .prod-shape 
                    img.prd-shp-itm(src="uploads/shapes/shape_1.png", alt="shape-1")
                    img.prd-shp-itm(src="uploads/shapes/shape_2.png", alt="shape-2")
                    img.prd-shp-itm(src="uploads/shapes/shape_3.png", alt="shape-3")
                    img.prd-shp-itm(src="uploads/shapes/shape_4.png", alt="shape-4")
                    img.prd-shp-itm(src="uploads/shapes/shape_5.png", alt="shape-5")
            .col-md-6 
                // BLK nay width 430 align right
                .feature-note-blk 
                    ul.fea-note-list 
                        li.fea-note-itm 
                            label.lbl.lbl-left Matière
                            label.lbl.lbl-right 50% coton/50% polyester
                        li.fea-note-itm 
                            label.lbl.lbl-left Grammage
                            label.lbl.lbl-right 90g
                        li.fea-note-itm 
                            label.lbl.lbl-left Taille de carton
                            label.lbl.lbl-right 55x41x26cm
                        li.fea-note-itm 
                            label.lbl.lbl-left Poids de la pièce
                            label.lbl.lbl-right 500g
                        li.fea-note-itm 
                            label.lbl.lbl-left Poids du carton
                            label.lbl.lbl-right 11,644kg
                        li.fea-note-itm 
                            label.lbl.lbl-left Nombre de pièces par carton
                            label.lbl.lbl-right 10
                        li.fea-note-itm 
                            label.lbl.lbl-left Nombre de pièces par pack
                            label.lbl.lbl-right 36
                        li.fea-note-itm 
                            label.lbl.lbl-left Genre
                            label.lbl.lbl-right Mixte
                        li.fea-note-itm 
                            label.lbl.lbl-left Code douanier
                            label.lbl.lbl-right D000S87U
                        li.fea-note-itm 
                            label.lbl.lbl-left Référence fournisseur
                            label.lbl.lbl-right GN48L
                        li.fea-note-itm 
                            label.lbl.lbl-left Type d’étiquette
                            label.lbl.lbl-right Sans
                        li.fea-note-itm 
                            label.lbl.lbl-left Type de marquage
                            label.lbl.lbl-right Tissage
                        li.fea-note-itm 
                            label.lbl.lbl-left Pays d’origine
                            label.lbl.lbl-right France
// END: .tab-desc