.table-colors-wrap
    .left-side
        .clr-item
            .clr(style="background-color: #0072A2")
            span antique saphir
    // END : LEFT
    .right-side
        .table-mode.table-color-pc
            table.table(data-tablesaw-mode="swipe", data-tablesaw-minimap).table-colors.tablesaw.tablesaw-swipe
                thead   
                    tr
                        th Taille
                        th Stock Imbretex
                        th Date réassort
                        th Stock fournisseur
                        th Alerte stock
                        th.th-price Prix
                        th Quantité
                tbody
                    tr
                        td.size XS
                        td 0
                            i.ico.question
                        td 10/10/10
                            i.ico.question(data-html="true", data-toggle="tooltip", data-placement="top", title="<div class='colors-tooltip'>Réassort <strong>1 500 le 10/10/10</strong></div>")
                        td 40
                        td
                            i.ico.bell
                        td.price 7,00 €
                        td 
                            .custom-number
                                input(type="number", class="ipt_num", value='10', min="1", max="100" ,step="1")
                    tr
                        td.size S
                        td 0
                            i.ico.question
                        td 10/10/10
                            i.ico.question(data-html="true", data-toggle="tooltip", data-placement="top", title="<div class='colors-tooltip'>Réassort <strong>1 500 le 10/10/10</strong></div>")
                        td 40
                        td
                            i.ico.bell
                        td.price 7,00 €
                        td 
                            .custom-number
                                input(type="number", class="ipt_num", value='', min="1", max="100" ,step="1")
                    tr
                        td.size M
                        td 0
                            i.ico.question
                        td 10/10/10
                            i.ico.question(data-html="true", data-toggle="tooltip", data-placement="top", title="<div class='colors-tooltip'>Réassort <strong>1 500 le 10/10/10</strong></div>")
                        td 40
                        td
                            i.ico.bell
                        td.price 7,00 €
                        td 
                            .custom-number
                                input(type="number", class="ipt_num", value='', min="1", max="100" ,step="1")
                    tr
                        td.size L
                        td 0
                            i.ico.question
                        td 10/10/10
                            i.ico.question(data-html="true", data-toggle="tooltip", data-placement="top", title="<div class='colors-tooltip'>Réassort <strong>1 500 le 10/10/10</strong></div>")
                        td 40
                        td
                            i.ico.bell
                        td.price 7,00 €
                        td 
                            .custom-number
                                input(type="number", class="ipt_num", value='', min="1", max="100" ,step="1")
                    tr
                        td.size XL
                        td 0
                            i.ico.question
                        td 10/10/10
                            i.ico.question(data-html="true", data-toggle="tooltip", data-placement="top", title="<div class='colors-tooltip'>Réassort <strong>1 500 le 10/10/10</strong></div>")
                        td 40
                        td
                            i.ico.bell
                        td.price 7,00 €
                        td 
                            .custom-number
                                input(type="number", class="ipt_num", value='', min="1", max="100" ,step="1")
        // END : TABLE
        .table-mode.table-color-mb
            table.table(data-tablesaw-mode="swipe", data-tablesaw-minimap).table-colors.tablesaw.tablesaw-swipe
                thead   
                    tr
                        th Taille
                        th.th-price Prix
                        th Quantité
                        th Stock Imbretex
                        th Date réassort
                        th Stock fournisseur
                        th Alerte stock
                tbody
                    tr
                        td.size XS
                        td.price 7,00 €
                        td 
                            .custom-number
                                input(type="number", class="ipt_num", value='10', min="1", max="100" ,step="1")
                        td 0
                            i.ico.question
                        td 10/10/10
                            i.ico.question(data-html="true", data-toggle="tooltip", data-placement="top", title="<div class='colors-tooltip'>Réassort <strong>1 500 le 10/10/10</strong></div>")
                        td 40
                        td
                            i.ico.bell
                    tr
                        td.size S
                        td.price 7,00 €
                        td 
                            .custom-number
                                input(type="number", class="ipt_num", value='', min="1", max="100" ,step="1")
                        td 0
                            i.ico.question
                        td 10/10/10
                            i.ico.question(data-html="true", data-toggle="tooltip", data-placement="top", title="<div class='colors-tooltip'>Réassort <strong>1 500 le 10/10/10</strong></div>")
                        td 40
                        td
                            i.ico.bell
                    tr
                        td.size M
                        td.price 7,00 €
                        td 
                            .custom-number
                                input(type="number", class="ipt_num", value='', min="1", max="100" ,step="1")
                        td 0
                            i.ico.question
                        td 10/10/10
                            i.ico.question(data-html="true", data-toggle="tooltip", data-placement="top", title="<div class='colors-tooltip'>Réassort <strong>1 500 le 10/10/10</strong></div>")
                        td 40
                        td
                            i.ico.bell
                    tr
                        td.size L
                        td.price 7,00 €
                        td 
                            .custom-number
                                input(type="number", class="ipt_num", value='', min="1", max="100" ,step="1")
                        td 0
                            i.ico.question
                        td 10/10/10
                            i.ico.question(data-html="true", data-toggle="tooltip", data-placement="top", title="<div class='colors-tooltip'>Réassort <strong>1 500 le 10/10/10</strong></div>")
                        td 40
                        td
                            i.ico.bell
                    tr
                        td.size XL
                        td.price 7,00 €
                        td 
                            .custom-number
                                input(type="number", class="ipt_num", value='', min="1", max="100" ,step="1")
                        td 0
                            i.ico.question
                        td 10/10/10
                            i.ico.question(data-html="true", data-toggle="tooltip", data-placement="top", title="<div class='colors-tooltip'>Réassort <strong>1 500 le 10/10/10</strong></div>")
                        td 40
                        td
                            i.ico.bell
        // END : TABLE MB
    // END : RIGHT