#guide.prd-tab.tab-guide(class="tab-pane fade" role="tabpanel")
    .inner
        .row 
            .col-md-6 
                .guide-size-blk 
                    // BLOCK nay witdh 122
                    .shirt-pic 
                        img.pic(src="uploads/shapes/guide_model.png", alt="shirt")
                    .size-tbl-blk 
                        table.tbl.size-tbl
                            tr 
                                td.empty &nbsp;
                                td XS
                                td S
                                td M
                                td L
                                td XL 
                            tr
                                td A 
                                td 40
                                td 44
                                td 47
                                td 50
                                td 53 
                            tr
                                td B
                                td 60
                                td 62
                                td 64
                                td 66
                                td 68       
            .col-md-6 
                // BLK nay width 430 align right
                .feature-note-blk 
                    ul.fea-note-list 
                        li.fea-note-itm.clearfix
                            label.lbl.lbl-left Notre conseil
                            label.lbl.lbl-right Nous vous recommandons de prendre une taille au dessus de votre taille habituelle 
                        li.fea-note-itm.clearfix 
                            label.lbl.lbl-left Coupe
                            label.lbl.lbl-right Ajustée, près du corps
// END: .tab-guide