.prd-colors-search
    .block-search-wrap
        form
            input.ipt(type='text', placeholder="Rechercher un coloris")
            button.btn-search(type="button")
                i.ico.search
// END: .prd-colors-search
.prd-colors-blk.colors-slider-wrap.has-slider
    .inner
        .left-side 
            span.txt Choisissez une couleur :  
        // END: .left-side always 190px width
        .right-side 
            .color-list.custom-arrow  
                .clr-item
                    a.clr#clr-1(href="javascript:;", style="background-color: #fff") 
                    span WHITE
                .clr-item
                    a.clr#clr-1(href="javascript:;", style="background-color: #000") 
                    span BLACK
                .clr-item
                    a.clr#clr-1(href="javascript:;", style="background-color: #030318") 
                    span NAVY
                .clr-item
                    a.clr#clr-1(href="javascript:;", style="background-color: #B5001D") 
                    span antique cherry red
                .clr-item
                    a.clr#clr-1(href="javascript:;", style="background-color: #AE0095") 
                    span antique heliconia
                .clr-item.active
                    a.clr#clr-1(href="javascript:;", style="background-color: #0072A2") 
                    span antique saphir
                .clr-item
                    a.clr#clr-1(href="javascript:;", style="background-color: #FF3299") 
                    span azalea
                .clr-item
                    a.clr#clr-1(href="javascript:;", style="background-color: #990000") 
                    span cardinal red
                .clr-item
                    a.clr#clr-1(href="javascript:;", style="background-color: #666666") 
                    span charcoal
                .clr-item   
                    a.clr#clr-1(href="javascript:;", style="background-color: #C2001A") 
                    span cherry red
                .clr-item
                    a.clr#clr-1(href="javascript:;", style="background-color: #583D22") 
                    span chestnut
                .clr-item
                    a.clr#clr-1(href="javascript:;", style="background-color: #FFFF00") 
                    span DAISY
                .clr-item
                    a.clr#clr-1(href="javascript:;", style="background-color: #322503") 
                    span dark chocolate
                .clr-item
                    a.clr#clr-1(href="javascript:;", style="background-color: #322503") 
                    span dark heather
                .clr-item
                    a.clr#clr-1(href="javascript:;", style="background-color: #5C5F66") 
                    span forest green
                .clr-item
                    a.clr#clr-1(href="javascript:;", style="background-color: #003300") 
                    span heather irish green
                .clr-item
                    a.clr#clr-1(href="javascript:;", style="background-color: #2FA45D") 
                    span heather navy
                .clr-item 
                    a.clr#clr-1(href="javascript:;", style="background-color: #CC6600") 
                    span heather orange
                .clr-item
                    a.clr#clr-1(href="javascript:;", style="background-color: #4C2D6A") 
                    span heather purple
                .clr-item
                    a.clr#clr-1(href="javascript:;", style="background-color: #2D2E6B") 
                    span heather royal
                .clr-item
                    a.clr#clr-1(href="javascript:;", style="background-color: #FF0066") 
                    span heliconia
                .clr-item
                    a.clr#clr-1(href="javascript:;", style="background-color: #666699") 
                    span heliconia
                .clr-item
                    a.clr#clr-1(href="javascript:;", style="background-color: #009800") 
                    span irish green
                .clr-item
                    a.clr#clr-1(href="javascript:;", style="background-color: #99CC00") 
                    span kiwi
                .clr-item
                    a.clr#clr-1(href="javascript:;", style="background-color: #AFD7FF") 
                    span light blue
                .clr-item
                    a.clr#clr-1(href="javascript:;", style="background-color: #66FF00") 
                    span lime
                .clr-item
                    a.clr#clr-1(href="javascript:;", style="background-color: #66003B") 
                    span maroon
                .clr-item
                    a.clr#clr-1(href="javascript:;", style="background-color: #3F5200") 
                    span military green
                .clr-item
                    a.clr#clr-1(href="javascript:;", style="background-color: #FF6700") 
                    span orange
                .clr-item
                    a.clr#clr-1(href="javascript:;", style="background-color: #47006E") 
                    span purple
    // END
    .inner.colors-exists-list
        .clr-item
            .clr(style="background-color: #B5001D")
            span Polo piqué femme - COULEUR :  ANTIQUE CHERRY RED
    // END
    .inner.tbl-colors 
        include _table_colors
    // END : TABLE COLORs
    .inner.color-submit
        .row
            .col-md-4.col-label
                .txt.bold Choisissez votre dossier
                .txt Lorem ipsum dolor sit amet, consectetur adipiscing 
            // END
            .col-md-5.col-select
                select.ipt-select
                    option Sélectionner un dossier ou créer un nouveau dossier
                    option Sélectionner- 50
            // END
            .col-md-3.col-button
                button(type="button", class="btn btn-orange lrg") Ajouter au panier
            // END
    // END
// END: .prd-colors-blk 