#documents.prd-tab.tab-doc(class="tab-pane fade" role="tabpanel")
    .inner
        .download-doc
            a.file-doc-itm.btn.btn-grey(href="#") 
                i.ico.document
                span Fiche produit
            a.file-doc-itm.btn.btn-grey(href="#") 
                span Logo marque 
            a.file-doc-itm.btn.btn-grey(href="#") 
                span Certificat 1
            a.file-doc-itm.btn.btn-grey(href="#") 
                span Certificat 2
            a.file-doc-itm.btn.btn-grey(href="#") 
                span Certificat 3
            a.file-doc-itm.btn.btn-grey(href="#") 
                span Certificat 4
            a.file-doc-itm.btn.btn-grey(href="#") 
                span Photos du produit    
// END: .tab-doc