.block-title-page.prd-dtl-tll
    .container
        .inner
            h1.block-title Polo jersey polycoton
            .block-title-large POLOS
            .block-desc REF : GN48L
            a.prod-brand-logo(href="#", target="_blank") 
                img.pic(src="uploads/logos/logo-gildan@2x.png", alt="logo-7")
// END: .block-title-page Product-TLL