.category-wrap 
    .container
        .row
            .col-md-3.col-left
                .box-white
                    .head-filter
                        a(href="#").close_filter
                            i.ico.close
                        h3.ttl Filtres
                    // END: BLOCK TITLE MOBILE
                    include module/module-category
                    // END : MOD CATEGORY
                    include module/module-genre
                    // END : MOD GENRE
                    include module/module-color
                    // END : MOD COLORs
                    include module/module-tailles
                    // END : MOD TAILLEs
                    include module/module-etiquettes
                    // END : MOD etiquettes
                    include module/module-price
                    // END : MOD PRICE
            // END : LEFR
            .col-md-9.col-right
                include description
                // END : BLOCK DESCRIPTION
                include banner
                // END : BLOCK BANNER
                include sort-by.jade
                // END : BLOCK SORT
                include product-list
                // END : PRODUCT LIST
            // END : COL RIGHT