.category-desc-wrap
    .row
        .col-md-9.desc-left
            h1.block-title LA SELECTION B&C
            .block-title-large B&C
            .block-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vehicula vitae arcu sit amet faucibus. Fusce ultricies finibus diam vitae laoreet. Mauris eget turpis massa. Fusce nec sapien porta est auctor dignissim. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur vehicula purus elit, non fermentum nisl rutrum vitae. Nunc nunc ipsum, ullamcorper in odio at, posuere tincidunt diam. Cras ac scelerisque lorem. Quisque ac gravida sapien, id fermentum est. Sed efficitur, ligula a volutpat aliquam, dui odio maximus purus, sit amet tincidunt nibh leo et quam. Praesent vitae varius sapien. In vel ipsum at justo eleifend faucibus. Vestibulum molestie leo id turpis dapibus cursus.
        // END : COL LEFT
        .col-md-3.desc-right
            img(src="uploads/logos/logo_bc@2x.png")
        // END : COL RIGHT