.product-list-wrap.pb-80
    .product-list
        .row
            .col-md-3.product-item
                a(href="produit.html")
                    figure.product-pic
                        i.ico.solid_heart
                        img(src="uploads/prods/pr_4.jpg", alt="")
                        .note Polo piqué femme
                    // END : IMG
                    .cate B&C
                    h3.ttl GN48L
                    .price 7,90 €
                    .tags-wrap
                        .tag(style="background-color: #C76503") Nouveau coloris
            // END : ITEM
            .col-md-3.product-item
                a(href="produit.html")
                    figure.product-pic
                        i.ico.heart
                        img(src="uploads/prods/pr_2.jpg", alt="")
                        .note Polo piqué femme
                    // END : IMG
                    .cate B&C
                    h3.ttl GN48L
                    .price 7,90 €
                    .tags-wrap
                        .tag(style="background-color: #FFB100") Nouveau coloris
            // END : ITEM
            .col-md-3.product-item
                a(href="produit.html")
                    figure.product-pic
                        i.ico.heart
                        img(src="uploads/prods/pr_3.jpg", alt="")
                        .note Polo piqué femme
                    // END : IMG
                    .cate B&C
                    h3.ttl GN48L
                    .price 7,90 €
                    .tags-wrap &nbsp;
            // END : ITEM
            .col-md-3.product-item
                a(href="produit.html")
                    figure.product-pic
                        i.ico.heart
                        img(src="uploads/prods/pr_1.jpg", alt="")
                        .note Polo piqué femme
                    // END : IMG
                    .cate B&C
                    h3.ttl GN48L
                    .price 7,90 €
                    .tags-wrap &nbsp;
            // END : ITEM
            .col-md-3.product-item
                a(href="produit.html")
                    figure.product-pic
                        i.ico.heart
                        img(src="uploads/prods/pr_4.jpg", alt="")
                        .note Polo piqué femme
                    // END : IMG
                    .cate B&C
                    h3.ttl GN48L
                    .price 7,90 €
                    .tags-wrap &nbsp;
            // END : ITEM
            .col-md-3.product-item
                a(href="produit.html")
                    figure.product-pic
                        i.ico.heart
                        img(src="uploads/prods/pr_2.jpg", alt="")
                        .note Polo piqué femme
                    // END : IMG
                    .cate B&C
                    h3.ttl GN48L
                    .price 7,90 €
                    .tags-wrap &nbsp;
            // END : ITEM
            .col-md-3.product-item
                a(href="produit.html")
                    figure.product-pic
                        i.ico.heart
                        img(src="uploads/prods/pr_3.jpg", alt="")
                        .note Polo piqué femme
                    // END : IMG
                    .cate B&C
                    h3.ttl GN48L
                    .price 7,90 €
                    .tags-wrap
                        .tag(style="background-color: #C76503") Nouveau coloris
            // END : ITEM
            .col-md-3.product-item
                a(href="produit.html")
                    figure.product-pic
                        i.ico.heart
                        img(src="uploads/prods/pr_1.jpg", alt="")
                        .note Polo piqué femme
                    // END : IMG
                    .cate B&C
                    h3.ttl GN48L
                    .price 7,90 €
                    .tags-wrap &nbsp;
            // END : ITEM
            .col-md-3.product-item
                a(href="produit.html")
                    figure.product-pic
                        i.ico.heart
                        img(src="uploads/prods/pr_4.jpg", alt="")
                        .note Polo piqué femme
                    // END : IMG
                    .cate B&C
                    h3.ttl GN48L
                    .price 7,90 €
                    .tags-wrap &nbsp;
            // END : ITEM
            .col-md-3.product-item
                a(href="produit.html")
                    figure.product-pic
                        i.ico.heart
                        img(src="uploads/prods/pr_2.jpg", alt="")
                        .note Polo piqué femme
                    // END : IMG
                    .cate B&C
                    h3.ttl GN48L
                    .price 7,90 €
                    .tags-wrap &nbsp;
            // END : ITEM
            .col-md-3.product-item
                a(href="produit.html")
                    figure.product-pic
                        i.ico.heart
                        img(src="uploads/prods/pr_3.jpg", alt="")
                        .note Polo piqué femme
                    // END : IMG
                    .cate B&C
                    h3.ttl GN48L
                    .price 7,90 €
                    .tags-wrap &nbsp;
            // END : ITEM
            .col-md-3.product-item
                a(href="produit.html")
                    figure.product-pic
                        i.ico.heart
                        img(src="uploads/prods/pr_1.jpg", alt="")
                        .note Polo piqué femme
                    // END : IMG
                    .cate B&C
                    h3.ttl GN48L
                    .price 7,90 €
                    .tags-wrap
                        .tag(style="background-color: #FFB100") Nouveau coloris
            // END : ITEM
            .col-md-3.product-item
                a(href="produit.html")
                    figure.product-pic
                        i.ico.heart
                        img(src="uploads/prods/pr_4.jpg", alt="")
                        .note Polo piqué femme
                    // END : IMG
                    .cate B&C
                    h3.ttl GN48L
                    .price 7,90 €
                    .tags-wrap &nbsp;
            // END : ITEM
            .col-md-3.product-item
                a(href="produit.html")
                    figure.product-pic
                        i.ico.heart
                        img(src="uploads/prods/pr_2.jpg", alt="")
                        .note Polo piqué femme
                    // END : IMG
                    .cate B&C
                    h3.ttl GN48L
                    .price 7,90 €
                    .tags-wrap &nbsp;
            // END : ITEM
            .col-md-3.product-item
                a(href="produit.html")
                    figure.product-pic
                        i.ico.heart
                        img(src="uploads/prods/pr_3.jpg", alt="")
                        .note Polo piqué femme
                    // END : IMG
                    .cate B&C
                    h3.ttl GN48L
                    .price 7,90 €
                    .tags-wrap &nbsp;
            // END : ITEM
            .col-md-3.product-item
                a(href="produit.html")
                    figure.product-pic
                        i.ico.heart
                        img(src="uploads/prods/pr_1.jpg", alt="")
                        .note Polo piqué femme
                    // END : IMG
                    .cate B&C
                    h3.ttl GN48L
                    .price 7,90 €
                    .tags-wrap &nbsp;
            // END : ITEM
    include ../actualites/pagination
    // END : PAGINATION