.block-sortby.pb-60
    .sortby
        label.lbl(for='trier') Trier par
        select.ipt-select.sml#trier
            option Date
            option Author
        .filter-by
            a(href="#").filter_link
                | Filtrer
                i.ico.filter