include ../commandes/detail/link-info-mobile
// END 
.commandes-wrap.pb-60
    .container
        .row
            .col-md-3.comm-left
                .box-white
                    include info
                    // END : MENU
            // END : LEFT
            .col-md-9.comm-right
                form
                    include mes-info
                    // END : INFORMATION
                    include address
                    // END : ADDRESS
                    include form
                    // END : FORM
            // END : RIGHT