.mes-address-wrap
    .mes-address-title
        .row
            .col-md-6.col-left
                h3.block-title Mes adresses de livraison
            // END : COL
            .col-md-6.col-right
                a(href="#", class="btn btn-orange lrg") 
                    i.ico.add
                    | Ajouter une adresse
            // END : COL
    // END : TITLE
    .mes-address-list
        .row
            .col-md-6.col-left
                .card-box
                    .card-title
                        h3.card-ttl.text-uppercase ENTREPÔT
                        a(href="#").del.action-circle
                            i.ico.close
                        a(href="#").edit.action-circle
                            i.ico.pen
                    .card-content
                        .head
                            .txt Emmanuel Maisonneuve
                            .txt HEGYD
                            .txt 9 rue James Watt
                            .txt 49100 Angers - France
                        .txt 02 41 41 41 41
                // END: CARD
            // END : COL
            .col-md-6.col-right
                .card-box
                    .card-title
                        h3.card-ttl.text-uppercase Imprimeur
                        a(href="#").del.action-circle
                            i.ico.close
                        a(href="#").edit.action-circle
                            i.ico.pen
                    .card-content
                        .head
                            .txt Emmanuel Maisonneuve
                            .txt HEGYD
                            .txt 9 rue James Watt
                            .txt 49100 Angers - France
                        .txt 02 41 41 41 41
                // END: CARD
            // END : COL
    // END : LIST