.mes-form-wrap
    .inner-form
        .form-group
            .row
                .col-md-6
                    label(for="mes_libelle", class="label-form") Libellé de l’adresse*
                    input(type="text", class="ipt", id="mes_libelle")
                // END : COLD
                .col-md-6
                    label(for="mes_address", class="label-form") Adresse* 
                    input(type="text", class="ipt", id="mes_address")
                // END : COLD
        // END : GROUP
        .form-group
            .row
                .col-md-6
                    label(for="mes_raison", class="label-form") Raison Sociale*
                    input(type="text", class="ipt", id="mes_raison")
                // END : COLD
                .col-md-6
                    label(for="mes_complement", class="label-form") Complément d’adresse
                    input(type="text", class="ipt", id="mes_complement")
                // END : COLD
        // END : GROUP
        .form-group
            .row
                .col-md-6
                    label(for="mes_nom", class="label-form") Nom et prénom du contact
                    input(type="text", class="ipt", id="mes_nom")
                // END : COLD
                .col-md-6
                    .row
                        .col-md-6
                            label(for="mes_code", class="label-form") Code postal*
                            input(type="text", class="ipt", id="mes_code")
                        // END : COLD
                        .col-md-6
                            label(for="mes_ville", class="label-form") Ville*
                            input(type="text", class="ipt", id="mes_ville")
                        // END : COLD
                // END : COLD
        // END : GROUP
        .form-group
            .row
                .col-md-6
                    label(for="mes_phone", class="label-form") Téléphone*
                    input(type="text", class="ipt", id="mes_phone")
                // END : COLD
                .col-md-6
                    label(for="mes_pay", class="label-form") Pays*
                    input(type="text", class="ipt", id="mes_pay")
                // END : COLD
        // END : GROUP
    .form-group.text-center
        button(type="button", class="btn btn-orange lrg") Enregistrer l’adresse de livraison
    // END : GROUP