.mes-information
    a(href="#").modifier Modifier mon mot de passe
    .row    
        .col-md-6.mes-left
            .mes-inner
                .mes-icon
                    i.ico.showcase
                .mes-content
                    h3.ttl Mes informations
                    .txt HEGYD
                    .txt Emmanuel Maisonneuve
                    .txt 02 41 41 41 41
                    .txt 
                        a(href="mailto: e.maisonneuve@hegyd.fr") e.maisonneuve@hegyd.fr
        // END : LEFT
        .col-md-6.mes-right
            h3.ttl &nbsp;
            .txt.bold Adresse de facturation :
            .txt 9 rue James Watt
            .txt 49100 Angers - France
        // END : RIGHT